.popup.popup-login
	.popup__bgd
	.popup__content
		.popup__close
			img(src="img/svg/ico26.svg" alt="Close")
		h2 Авторизация в  ДонКешбэк
		form(action="404.html")
			label
				p E-mail
				input(type="email" placeholder="example@gmail.com")
			label
				p Пароль
				.input-pass
					input(type="password" placeholder="********")
					.eyes
						.eye-close
							img(src="img/svg/ico75.svg" alt="Ico")
						.eye-open
							img(src="img/svg/ico76.svg" alt="Ico")
			.form__bottom
				.remember
					input(type="checkbox")#ch1-login
					label(for="ch1-login") Запомнить меня
				a(href="404.html").forget Забыли пароль?
			button(type="submit") Войти
		h3 Авторизация с помощью GOOGLE
		button.google-login Вход с помощью GOOGLE
		.popup__bottom
			.lft
				a(href="404.html") У вас нет аккаунта на ДонКешбэк?
				a(href="404.html") Проблемы или есть вопросы?
			.rht
				a(href="404.html" data-popup="register") Регистрация нового аккаунта.
				a(href="404.html") Связаться с нами

.popup.popup-register
	.popup__bgd
	.popup__content
		.popup__close
			img(src="img/svg/ico26.svg" alt="Close")
		h2 Регистрация аккаунта ДонКешбэк
		.popup__switch
			.switch__item.switch__item_active Как Покупатель
			.switch__item Как Продавец
		form(action="#")
			label
				p
					b *
					span Имя
				input(type="text" required placeholder="Введите Ваше имя")
			label
				p
					b *
					span E-mail
				input(type="email" required placeholder="******@gmail.com")
			label
				p
					b *
					span Никнейм телеграмма
				input(type="text" required placeholder="t.me/doncashback")
			label
				p
					b *
					span Пароль
				.input-pass
					input(type="password" placeholder="********")
					.eyes
						.eye-close
							img(src="img/svg/ico75.svg" alt="Ico")
						.eye-open
							img(src="img/svg/ico76.svg" alt="Ico")
			label
				p
					b *
					span Повторите Пароль
				.input-pass
					input(type="password" placeholder="********")
					.eyes
						.eye-close
							img(src="img/svg/ico75.svg" alt="Ico")
						.eye-open
							img(src="img/svg/ico76.svg" alt="Ico")
			.form__bottom
				.remember
					input(type="checkbox")#ch2-11
					label(for="ch2-11") Даю свое согласие с <a href="404.html">Политикой конфеденциальности</a> и <a href="404.html">Правилами сайта</a>
			button(type="submit") Регистрация
		.popup__bottom
			.lft
				p Уже есть аккаунт?
			.rht
				a(href="404.html" data-popup="login") Вход


footer
	.wrapper
		.footer
			.footer__block-1
				a(href="404.html").footer__logo
					img(src="img/logo.png" alt="Logo" width="182")
				p Сервис, который помогает вам совершать выгодные покупки с возможностью получить до 100% кешбэка!
				.footer__company doncashback.ru - Кешбэк сервис  2021 ООО «ДонКешбэк»
				a(href="404.html").footer__client Клиентское Соглашение
				a(href="404.html").footer__politics Политика Конфиденциальности
				p.p-payments Способы оплаты:
				ul.footer__payments.footer__payments_mob
					li
						img(src="img/svg/visa.svg" alt="Visa")
					li
						img(src="img/svg/mstcd.svg" alt="Visa")
					li
						img(src="img/svg/mir.svg" alt="Visa")
					li
						img(src="img/svg/tinkoff.svg" alt="Visa")
			.footer__block-2
				nav.footer__menu
					h3.li__title Основное
					ul
						li
							a(href="404.html") Основное
						li
							a(href="404.html") Вопросы и ответы
						li
							a(href="404.html") Правила
						li
							a(href="404.html") О нас
						li
							a(href="404.html") Связаться с нами
						li
							a(href="404.html") Селлер Централ
				nav.footer__menu
					h3.li__title Купить
					ul
						li
							a(href="404.html") Кешбек 100%
						li
							a(href="404.html") Кешбек до 99%
						li
							a(href="404.html") Новое
						li
							a(href="404.html") С купонами
						li
							a(href="404.html") Быстрые сделки
						li
							a(href="404.html") Больше баллов
			.footer__block-3
				a(href="mailto:support@doncashback.ru").footer__email
					img(src="img/svg/ico77.svg" alt="Ico")
					span support@doncashback.ru
				p Присоединяйтесь к нашим соц сетям (в чате телеграм присутствует поддержка)
				a(href="404.html")
					img(src="img/svg/telegram.svg" alt="Telegram")
					span https://t.me/doncashback
				a(href="404.html")
					img(src="img/svg/instagram.svg" alt="Telegram")
					span https://t.me/doncashback
				p.p-payments Способы оплаты:
				ul.footer__payments
					li
						img(src="img/svg/visa.svg" alt="Visa")
					li
						img(src="img/svg/mstcd.svg" alt="Visa")
					li
						img(src="img/svg/mir.svg" alt="Visa")
					li
						img(src="img/svg/tinkoff.svg" alt="Visa")



<!-- jQuery JS -->
script(src="js/jQuery.js")

//- <!-- slick JS -->
script(src="js/slick.min.js")

//- <!-- main JS -->
script(src="js/main.js")































	