footer.footer-seller
	.wrapper
		.footer
			.footer__copyright © 2021 Кешбэк сервис ООО “ДонКешбэк” <br />doncashback.ru
			a(href="#").footer__link Политика Конфиденциальности
			a(href="#").footer__link Связаться с Нами
			a(href="#").footer__telegram
				span Присоединяйтесь в наш телеграмм чат <br />(в чате присутствует поддержка)
				img(src="img/tg.png" alt="Telegram")



<!-- jQuery JS -->
script(src="js/jQuery.js")

<!-- slick JS -->
script(src="js/slick.min.js")

<!-- main JS -->
script(src="js/main.js")