doctype html
html(lang="ru")
	head
		title Site was developed by Vlas

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Description of website")
		meta(name="keywords" content="Website")

		<!-- Roboto FONT -->
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")

		<!-- Abhaya FONT -->
		link(href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap" rel="stylesheet")

		<!-- Abhaya FONT -->
		link(href="fonts/helvetica/stylesheet.css")


		<!-- Slick SLIDER -->
		link(rel="stylesheet" href="css/slick/slick-theme.css")
		link(rel="stylesheet" href="css/slick/slick.css")
		<!-- Slick SLIDER -->

		//- link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/style.css")

	body
		
		include mixins.pug

		header.header.header-singin
			.wrapper
				.header__top
					a(href="index.html").header__logo
						img(src="img/logo.png" alt="Logo" width="182")
					nav.header__menu
						ul
							li.li_active
								a(href="404.html") О нас
							li
								a(href="404.html") Помощь
							li
								a(href="404.html") Правила
							li
								a(href="404.html") Связаться с нами
					form(action="404.html").header__search
						input(placeholder="Поиск товаров" type="text")
						button(type="submit")
							img(src="img/svg/ico80.svg" alt="Ico")
					a(href="404.html").header__bell
						img(src="img/svg/ico12.svg")
						.bell-count 2
					a(href="404.html").header__orders
						img(src="img/svg/ico13.svg")
						span Заказы
						.orders-count 2
					.header__persone
						.persone__top
							img(src="img/svg/ico14.svg")
							span Happy Shopper
						.persone__menu
							ul
								li
									a(href="#")
										img(src="img/svg/header-menu-1.svg" alt="Ico")
										span Мой DonCashback
								li
									a(href="#")
										img(src="img/svg/header-menu-2.svg" alt="Ico")
										span Мои заказы
								li
									a(href="#")
										img(src="img/svg/header-menu-3.svg" alt="Ico")
										span Избранное
								li
									a(href="#")
										img(src="img/svg/header-menu-4.svg" alt="Ico")
										span Уведомления
								li
									a(href="#")
										img(src="img/svg/header-menu-5.svg" alt="Ico")
										span Мои отзывы
								li
									a(href="#")
										img(src="img/svg/header-menu-6.svg" alt="Ico")
										span Мои баллы
								li
									a(href="#")
										img(src="img/svg/header-menu-7.svg" alt="Ico")
										span Партнерство
								li
									a(href="#")
										img(src="img/svg/header-menu-7.svg" alt="Ico")
										span Мои настройки
					a(href="404.html").header__exit
						img(src="img/svg/ico15.svg")
						span Выход
					.header__burger
						.line
						.line
						.line
				nav.header__bottom
					ul
						li
							a(href="404.html")
								img(src="img/svg/ico81.svg" alt="Ico")

								span Новое
						li.li_active
							a(href="cashback100.html")
								span Кешбэк 100%
						li
							a(href="cashback99.html")
								span Кешбэк до 99%
						li
							a(href="coupons.html")
								img(src="img/svg/ico82.svg" alt="Ico")
								span С купонами
						li
							a(href="deals.html")
								img(src="img/svg/ico83.svg" alt="Ico")
								span Быстрые сделки
						li
							a(href="score.html")
								img(src="img/svg/ico84.svg" alt="Ico")
								span Больше баллов
						li
							a(href="blog.html")
								img(src="img/svg/ico85.svg" alt="Ico")
								span Блог
				form(action="404.html").header__search.header__search_mob
					input(placeholder="Поиск товаров" type="text")
					button(type="submit")
						img(src="img/svg/ico80.svg" alt="Ico")
				.header__mob
					.header__mob-switch
						input(type="radio" checked name="radioHeader")#swHd1
						label(for="swHd1").switch__prof
							img(src="img/svg/ico16.svg")
							span Профиль
						input(type="radio" name="radioHeader")#swHd2
						label(for="swHd2").switch__menu
							<svg width="31" height="25" viewBox="0 0 31 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="6" height="6" rx="1" fill="#B8C0EE"/><rect x="10" y="1" width="21" height="3" rx="1" fill="#B8C0EE"/><rect y="10" width="6" height="6" rx="1" fill="#B8C0EE"/><rect x="10" y="11" width="21" height="3" rx="1" fill="#B8C0EE"/><rect y="19" width="6" height="6" rx="1" fill="#B8C0EE"/><rect x="10" y="21" width="21" height="3" rx="1" fill="#B8C0EE"/></svg>
							span Меню
					.mob__block.mob__block_2
						.header__persone
							.persone__top
								img(src="img/svg/ico17.svg")
								span Happy Shopper
								a(href="404.html").header__exit
									img(src="img/svg/ico18.svg")
									span Выход
							.persone__menu
								ul
									li
										a(href="#")
											img(src="img/svg/header-menu-1.svg" alt="Ico")
											span Мой DonCashback
									li
										a(href="#")
											img(src="img/svg/header-menu-2.svg" alt="Ico")
											span Мои заказы
									li
										a(href="#")
											img(src="img/svg/header-menu-3.svg" alt="Ico")
											span Избранное
									li
										a(href="#")
											img(src="img/svg/header-menu-4.svg" alt="Ico")
											span Уведомления
									li
										a(href="#")
											img(src="img/svg/header-menu-5.svg" alt="Ico")
											span Мои отзывы
									li
										a(href="#")
											img(src="img/svg/header-menu-6.svg" alt="Ico")
											span Мои баллы
									li
										a(href="#")
											img(src="img/svg/header-menu-7.svg" alt="Ico")
											span Партнерство
									li
										a(href="#")
											img(src="img/svg/header-menu-7.svg" alt="Ico")
											span Мои настройки
					.mob__block.mob__block_1
						nav.header__bottom
							ul
								li
									a(href="404.html")
										img(src="img/svg/ico81.svg" alt="Ico")

										span Новое
								li
									a(href="cashback100.html")
										span Кешбэк 100%
								li
									a(href="cashback99.html")
										span Кешбэк до 99%
								li
									a(href="coupons.html")
										img(src="img/svg/ico82.svg" alt="Ico")
										span С купонами
								li
									a(href="deals.html")
										img(src="img/svg/ico83.svg" alt="Ico")
										span Быстрые сделки
								li
									a(href="score.html")
										img(src="img/svg/ico84.svg" alt="Ico")
										span Больше баллов
								li
									a(href="blog.html")
										img(src="img/svg/ico85.svg" alt="Ico")
										span Блог
						nav.header__menu
							ul
								li.li_active
									a(href="404.html") О нас
								li
									a(href="404.html") Помощь
								li
									a(href="404.html") Правила
								li
									a(href="404.html") Связаться с нами



		
		block content
































			