doctype html
html(lang="ru")
	head
		title Site was developed by Vlas

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="description" content="Description of website")
		meta(name="keywords" content="Website")

		<!-- Roboto FONT -->
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")

		<!-- Abhaya FONT -->
		link(href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap" rel="stylesheet")

		<!-- Abhaya FONT -->
		link(href="fonts/helvetica/stylesheet.css")


		<!-- Slick SLIDER -->
		link(rel="stylesheet" href="css/slick/slick-theme.css")
		link(rel="stylesheet" href="css/slick/slick.css")
		<!-- Slick SLIDER -->

		//- link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/style.css")

	body
		
		include mixins.pug

		header.header
			.wrapper
				.header__top
					a(href="index.html").header__logo
						img(src="img/logo.png" alt="Logo" width="182")
					nav.header__menu
						ul
							li.li_active
								a(href="404.html") О нас
							li
								a(href="404.html") Помощь
							li
								a(href="404.html") Правила
							li
								a(href="404.html") Связаться с нами
					form(action="404.html").header__search
						input(placeholder="Поиск товаров" type="text")
						button(type="submit")
							img(src="img/svg/ico1.svg")
					button.header__login(data-popup="login") Вход
					button.header__register(data-popup="register") Регистрация
					.header__burger
						.line
						.line
						.line
				nav.header__bottom
					ul
						li
							a(href="404.html")
								img(src="img/svg/ico2.svg")
								

								span Новое
						li.li_active
							a(href="cashback100.html")
								span Кешбэк 100%
						li
							a(href="cashback99.html")
								span Кешбэк до 99%
						li
							a(href="coupons.html")
								img(src="img/svg/ico3.svg")
								
								span С купонами
						li
							a(href="deals.html")
								img(src="img/svg/ico4.svg")
								span Быстрые сделки
						li
							a(href="score.html")
								img(src="img/svg/ico84.svg" alt="Ico")
								span Больше баллов
						li
							a(href="blog.html")
								img(src="img/svg/ico5.svg")
								span Блог
				form(action="404.html").header__search.header__search_mob
					input(placeholder="Поиск товаров" type="text")
					button(type="submit")
						img(src="img/svg/ico80.svg" alt="Ico")
				.header__mob
					button.header__login(data-popup="login") Вход
					button.header__register(data-popup="register") Регистрация
					nav.header__bottom
						ul
							li
								a(href="404.html")
									img(src="img/svg/ico81.svg" alt="Ico")

									span Новое
							li
								a(href="cashback100.html")
									span Кешбэк 100%
							li
								a(href="cashback99.html")
									span Кешбэк до 99%
							li
								a(href="coupons.html")
									img(src="img/svg/ico82.svg" alt="Ico")
									span С купонами
							li
								a(href="deals.html")
									img(src="img/svg/ico83.svg" alt="Ico")
									span Быстрые сделки
							li
								a(href="score.html")
									img(src="img/svg/ico84.svg" alt="Ico")
									span Больше баллов
							li
								a(href="blog.html")
									img(src="img/svg/ico85.svg" alt="Ico")
									span Блог
					nav.header__menu
						ul
							li.li_active
								a(href="404.html") О нас
							li
								a(href="404.html") Помощь
							li
								a(href="404.html") Правила
							li
								a(href="404.html") Связаться с нами



		
		block content
































			