extends includes/header.pug

block content

	main.page-404
		.wrapper.block-shadow
			h2 Ой! Похоже, страница не найдена!
			b
				span 404
				img(src="img/404-img.png" alt="Ico" width="210")
			h3 Извините, страница удалена либо никогда не существовала. <br />Попробуйте начать с <a href="index.html">главной</a> страницы.
		

	include includes/footer.pug



























	