extends includes/header.pug

block content

	main.page-about
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span О нас
			section.block-shadow.page-about__title
				h2 О Нас
				.title__p
					p DonCashback - это сервис, который позволяет экономить деньги на покупках, получать скидки и возврат денег за купленные товары. В настоящее время мы работаем с продавцами, предлагающими большое разнообразие различных продуктов, на самых различных маркетплейсах.
			section.page-about__info
				h2 Наш сервис это:
				.info__block
					.info__item
						img(src="img/about1.jpg" alt="photo")
						p.item__text Довольные покупатели
					.info__item
						img(src="img/about2.jpg" alt="photo")
						p.item__text Стабильные, гарантированные выплаты только от проверенных продавцов
					.info__item
						img(src="img/about3.jpg" alt="photo")
						p.item__text Кешбэк за покупку до 100%
					.info__item
						img(src="img/about4.jpg" alt="photo")
						p.item__text Отличная возможность совершать выгодные покупки
					.info__item
						img(src="img/about5.jpg" alt="photo")
						p.item__text Доставка по всему миру
					.info__item
						img(src="img/about6.jpg" alt="photo")
						p.item__text Хорошая техническая поддержка
			section.page-about__how
				h2 Как получить Кешбэк
				section.points
					ol
						li
							.num
							p Регистрируйтесь на сервисе DonCashback
							img(src='img/svg/point1.svg' alt="Point")
						li
							.num
							p Найдите продукт из нашего каталога, совершите покупку
							img(src='img/svg/point2.svg' alt="Point")
						li
							.num
							p Пришлите информацию о заказе: ID заказа и скриншот
							img(src='img/svg/point3.svg' alt="Point")
						li
							.num
							p Поделитесь своим мнением о покупке
							img(src='img/svg/point4.svg' alt="Point")
						li
							.num
							p Получите до 100% кешбека обратно на карту или киви кошелек
							img(src='img/svg/point5.svg' alt="Point")
					.points__all Показать всю инструкцию
				b Вам понравится - делать покупки вместе с нами! <br />С Любовью, Ваш ДонКешбэк!

			



	.popup.popup-password-change
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico26.svg" alt="Close")
			h2 Изменить пароль
			form(action="404.html")
				label
					p Старый пароль:
					input(type="password" placeholder="********")
				label
					p Новый пароль:
					input(type="password" placeholder="********")
				label
					p Повторите пароль:
					input(type="password" placeholder="********")
				button Изменить пароль

	include includes/footer.pug



























	