extends includes/header.pug

block content

	main.page-advertising
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Реклама
			section
				.page-advertising__sides
					.page-advertising__lft.block-shadow
						h3 Каждый цвет несет определенную информацию:
						.page-advertising__colors
							.colors__top
								.colors__item.colors__item_red
									.square
									span Сейчас недоступно
								.colors__item.colors__item_blue
									.square
									span Выбранный слот
								.colors__item.colors__item_white
									.square
									span Доступно сейчас
							.colors__bottom
								ol.colors__block
									li.li_red 1
									li 2
									li 3
									li 4
									li.li_red 5
									li 6
									li 7
									li 8
									li 9
									li 10
					.page-advertising__rht.block-shadow
						h3 Посмотрите как это работает
						<iframe src="https://www.youtube.com/embed/sQ42vhdXSc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			section.block-shadow.page-advertising__slots
				h2 Выбранные слоты рекламной компании
				.table-ovf
					table
						thead
							tr
								td ID
								td Номер слота
								td Дата старта
								td Наименование магазина
								td Страна
								td Наименование продукта
								td Количество дней
								td Цена за день
								td Общая сумма
						tbody
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Россия
								td
									.select
										.select__head
											span B07R11LMH7
										.select__body
											span B07R11LMH7
											span B07R11LMH71
											span B07R11LMH72
								td
									.td__count(onmousedown="return false" onselectstart="return false")
										.count__sign.count__sign_minus
											img(src="img/svg/ico24.svg" alt="Ico")
											
										input(type="number" value="23").count__num
										.count__sign.count__sign_plus
											img(src="img/svg/ico25.svg" alt="Ico")
								td
									p 2499 ₽
								td
									p 2499 ₽
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Россия
								td
									.select
										.select__head
											span B07R11LMH7
										.select__body
											span B07R11LMH7
											span B07R11LMH71
											span B07R11LMH72
								td
									.td__count(onmousedown="return false" onselectstart="return false")
										.count__sign.count__sign_minus
											img(src="img/svg/ico24.svg" alt="Ico")
										input(type="number" value="23").count__num
										.count__sign.count__sign_plus
											img(src="img/svg/ico25.svg" alt="Ico")
								td
									p 2499 ₽
								td
									p 2499 ₽
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Россия
								td
									.select
										.select__head
											span B07R11LMH7
										.select__body
											span B07R11LMH7
											span B07R11LMH71
											span B07R11LMH72
								td
									.td__count(onmousedown="return false" onselectstart="return false")
										.count__sign.count__sign_minus
											img(src="img/svg/ico24.svg" alt="Ico")
										input(type="number" value="23").count__num
										.count__sign.count__sign_plus
											img(src="img/svg/ico25.svg" alt="Ico")
								td
									p 2499 ₽
								td
									p 2499 ₽
						tfoot
							tr
								td(colspan="8")
									p Всего к оплате
								td
									p.td__sum-all 7497 ₽
				button Оплатить
			section.block-shadow.page-advertising__company
				h2 Активные кампании
				.table-ovf
					table
						thead
							tr
								td ID
								td Номер слота
								td Статус
								td Дата старта
								td Дата окончания
								td Наименование магазина
								td Наименование продукта
								td Действия
						tbody
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_active Активно
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").stop Стоп
							tr
								td
									p 34653
								td
									p №3
								td
									.td__status.td__status_pause Пауза
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
								td
									a(href="#").change
										img(src="img/svg/edit.svg" alt="Edit")
										span Изменить
									a(href="#").start Старт
			section.block-shadow.page-advertising__history
				h2 История
				.table-ovf
					table
						thead
							tr
								td ID
								td Номер слота
								td Дата старта
								td Дата окончания
								td Наименование магазина
								td Наименование продукта
						tbody
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
							tr
								td
									p 34653
								td
									p №3
								td
									p 29.06.2021 <br />12:12
								td
									p 29.06.2021 <br />12:12
								td
									.select
										.select__head
											span US-Marketplase
										.select__body
											span US-Marketplase
											span US-Marketplase1
											span US-Marketplase2
								td
									p Кольцо-держатель на палец LGD Magnests для телефона серебро
			
								
			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 


	include includes/footer.pug



























	