extends includes/header-singin.pug

block content

	main.page-blog
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Блог
			h2 Блог
			.page-blog__view
				a(href="blog-tile.html").view__item.view__item_active
					img(src="img/svg/ico37.svg" alt="Ico")
					span Плитка
				a(href="blog.html").view__item
					img(src="img/svg/ico38.svg" alt="Ico")
					span Строка
			.page-blog__content.page-blog__content_tile
				.page-blog__inner
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667
				.page-blog__rekl
					img(src="img/rekl1.png" alt="Rekl")


			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций
			
			
			


	include includes/footer.pug



























	