extends includes/header-singin.pug

block content

	main.page-blog.page-single
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Блог
			.page-blog__single
				.single__lft
					.single__top
						.single__data 15 июля 2021 15:45
						.single__type косметика
						.single__viewers
							img(src="img/svg/ico27.svg" alt="Ico")
							span 17
					.single__content
						h2 Что такое натуральная косметика, ее польза и преимущества | Обзор лучших брендов
						img(src="img/single1.jpg" alt="Img")
						p Правильно подобранная косметика – это то, что в любом возрасте помогает представительнице прекрасного пола выглядеть ухоженно и позволяет чувствовать себя очаровательной. Женщины, которые заботятся не только о внешней привлекательности, но и о здоровье, отдают предпочтение натуральной косметике.
						h3 Что такое натуральная косметика
						img(src="img/single2.jpg" alt="Photo")
						p Что же такое натуральная косметика: это в самом деле эффективное средство для сохранения красоты и здоровья кожи или же просто великолепно продуманный маркетинговый ход?
						p Главная особенность натуральной косметики заключается в том, что она как минимум на 80% состоит из органических продуктов.
						p Натуральные косметические средства прекрасно увлажняют и питают кожу, повышают её защитные функции, убирают следы пигментации и предупреждают возникновение ранних морщин.
						p Да, с некоторыми проблемами натуральная косметика справляется очень эффективно, а с некоторыми хуже. Но здесь нужно учесть ещё такой момент: с одной и той же проблемой можно справиться разными методами, и использование натуральной косметики признано наиболее гуманным. Ведь натуральные компоненты борются с самими причинами изнутри, в отличие от синтетических, которые дают только поверхностный результат
						h3 Плюсы и минусы натуральных косметических средств
						.single-video
							video(poster="img/video.jpg" src="img/video.mp4" controls="controls" height="462" width="100%")
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
						.single__comments
							.comments__top
								h4 2 Комментария
							//- 	.comment__photo
							//- 		img(src="img/comment-photo.jpg" alt="Photo")
							.comments__write
								.comment__photo
									img(src="img/comment-photo.jpg" alt="Photo")
								.page-deal__textarea
									textarea(placeholder="Ваше сообщение")
									button
										img(src="img/svg/ico35.svg" alt="Ico")
										.btn-mob
											img(src="img/svg/ico34.svg" alt="Ico")
									.svgs
										input(type="file")#fileSms1
										label.files(for="fileSms1")
											img(src="img/svg/ico36.svg" alt="Ico")
										.smile.emoji-button
											img(src="img/svg/ico31.svg" alt="Ico")
										.emoji-block
											.smiles-emoji
							.loaded-file
							.comments__block(onselectstart="return false" onmousedown="return false")
								.comments__item
									.item__top
										.item__photo
											img(src="img/comment-photo1.jpg" alt="Photo")
										p.item__name Бугенвиллия
										.item__data 18.09.2020
									p.item__text Коллистар лучше многих. Вообще, все итал брэнды великолепны.
									.item__bottom
										button.item__answer Ответить
										.item__likes
											.item__like-f.likes-item
												img(src="img/svg/ico32.svg" alt="Ico").empty
												img(src="img/svg/ico32-1.svg" alt="Ico").full
												span 1
											.item__dislike-f.likes-item
												img(src="img/svg/ico33.svg" alt="Ico").empty
												img(src="img/svg/ico33-1.svg" alt="Ico").full
												span 8
								.comments__item
									.item__top
										.item__photo
											img(src="img/comment-photo1.jpg" alt="Photo")
										p.item__name Бугенвиллия
										.item__data 18.09.2020
									p.item__text Елена, на здоровье!)
									.item__bottom
										button.item__answer Ответить
										.item__likes
											.item__like-f.likes-item
												img(src="img/svg/ico32.svg" alt="Ico").empty
												img(src="img/svg/ico32-1.svg" alt="Ico").full
												span 1
											.item__dislike-f.likes-item
												img(src="img/svg/ico33.svg" alt="Ico").empty
												img(src="img/svg/ico33-1.svg" alt="Ico").full
												span 8
							.comments__block(onselectstart="return false" onmousedown="return false")
								.comments__item
									.item__top
										.item__photo
											img(src="img/comment-photo1.jpg" alt="Photo")
										p.item__name Бугенвиллия
										.item__data 18.09.2020
									p.item__text По результатам тестов немецкого экспертного журнала Штифтунг Варентест косметика итальянской фирмы CLIVEN и немецкой фирмы NIVEA заняли 1 место.Кроме того, эти косметики признаны изготовленными из природных компонентов.В данном тесте было написано, что крема известных брендов, не болле чем пиар компании.
									img(src="img/comment-photo2.jpg" alt="photo")
									.item__bottom
										button.item__answer Ответить
										.item__likes
											.item__like-f.likes-item
												img(src="img/svg/ico32.svg" alt="Ico").empty
												img(src="img/svg/ico32-1.svg" alt="Ico").full
												span 1
											.item__dislike-f.likes-item
												img(src="img/svg/ico33.svg" alt="Ico").empty
												img(src="img/svg/ico33-1.svg" alt="Ico").full
												span 8
						h3 Посмотрите другие статьи на эту тему
				.single__rht
					img(src="img/rekl1.png" alt="Rekl")

			.page-blog__content_tile
				.page-blog__inner
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									img(src="img/svg/ico28.svg" alt="Ico")
									img(src="img/svg/ico28-1.svg" alt="Ico")
									span 23
								.item__comment
									img(src="img/svg/ico29.svg" alt="Ico")
									span 23
								.item__share.select-share
									.select-share__head
										img(src="img/svg/ico30.svg" alt="Ico")
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									img(src="img/svg/ico27.svg" alt="Ico")
									span 36 667

								


			
			
			


	include includes/footer.pug



























	