extends includes/header-singin.pug

block content

	main.page-blog.page-single
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Блог
			.page-blog__single
				.single__lft
					.single__top
						.single__data 15 июля 2021 15:45
						.single__type косметика
						.single__viewers
							<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
							span 17
					.single__content
						h2 Что такое натуральная косметика, ее польза и преимущества | Обзор лучших брендов
						img(src="img/single1.jpg" alt="Img")
						p Правильно подобранная косметика – это то, что в любом возрасте помогает представительнице прекрасного пола выглядеть ухоженно и позволяет чувствовать себя очаровательной. Женщины, которые заботятся не только о внешней привлекательности, но и о здоровье, отдают предпочтение натуральной косметике.
						h3 Что такое натуральная косметика
						img(src="img/single2.jpg" alt="Photo")
						p Что же такое натуральная косметика: это в самом деле эффективное средство для сохранения красоты и здоровья кожи или же просто великолепно продуманный маркетинговый ход?
						p Главная особенность натуральной косметики заключается в том, что она как минимум на 80% состоит из органических продуктов.
						p Натуральные косметические средства прекрасно увлажняют и питают кожу, повышают её защитные функции, убирают следы пигментации и предупреждают возникновение ранних морщин.
						p Да, с некоторыми проблемами натуральная косметика справляется очень эффективно, а с некоторыми хуже. Но здесь нужно учесть ещё такой момент: с одной и той же проблемой можно справиться разными методами, и использование натуральной косметики признано наиболее гуманным. Ведь натуральные компоненты борются с самими причинами изнутри, в отличие от синтетических, которые дают только поверхностный результат
						h3 Плюсы и минусы натуральных косметических средств
						.single-video
							video(poster="img/video.jpg" src="img/video.mp4" controls="controls" height="462" width="100%")
							.item__bottom
								.item__like
									<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
									span 23
								.item__comment
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
									span 23
								.item__share.select-share
									.select-share__head
										<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
						.single__comments
							.comments__top
								h4 2 Комментария
							//- 	.comment__photo
							//- 		img(src="img/comment-photo.jpg" alt="Photo")
							.comments__write
								.comment__photo
									img(src="img/comment-photo.jpg" alt="Photo")
								.page-deal__textarea
									textarea(placeholder="Ваше сообщение")
									button
										<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="26" cy="26" r="26" fill="#495FEA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14 13L40.4445 26.4629L14 39.9258L21.7778 26.4629L14 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
										.btn-mob
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.934 8.10195L3.0277 0.404924C1.97995 -0.102894 0.718946 0.334803 0.211086 1.38256C-0.047867 1.91681 -0.0695253 2.53547 0.151423 3.08657L2.63629 9.29658H20C19.8172 8.7727 19.4337 8.34295 18.934 8.10195Z" fill="#495FEA"/><path d="M2.63642 10.7012L0.151553 16.9126C-0.279638 17.997 0.249921 19.2257 1.33436 19.6569C1.57989 19.7546 1.8416 19.8053 2.10583 19.8064C2.4251 19.8064 2.74026 19.7344 3.02779 19.5956L18.9341 11.8958C19.4338 11.6548 19.8173 11.225 20.0001 10.7012H2.63642Z" fill="#495FEA"/></svg>
									.svgs
										input(type="file")#fileSms1
										label.files(for="fileSms1")
											<svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.14878 2.63907V10.1855C3.14878 10.5249 3.10665 10.8776 3.23211 11.193C3.43052 11.6917 4.07164 12.3859 6.10354 12.3859C8.96292 12.3859 8.96294 10.6952 8.96294 10.6952C8.96294 10.6952 8.96294 10.6952 8.96294 10.6952V2.22237C8.96294 2.22237 8.96294 2.22237 8.96294 2.22237C8.96294 2.22237 8.96294 0 4.89303 0C0.82312 0 0.82312 2.22237 0.82312 2.22237C0.82312 2.22237 0.82312 2.22237 0.82312 2.22237V10.6952C0.82312 10.6952 0.82312 13.8898 6.05586 13.8898C11.2886 13.8898 11.2886 10.6952 11.2886 10.6952V2.22237C11.2886 1.87513 10.1258 1.87513 10.1258 2.22237V10.0391C10.1258 10.4757 10.1848 10.9223 10.0732 11.3444C9.87249 12.1038 9.07146 13.2585 6.05586 13.2585C1.98595 13.2585 1.98595 10.6952 1.98595 10.6952V2.22237C1.98595 2.22237 1.98595 2.22237 1.98595 2.22237C1.98595 2.22236 1.98596 0.631355 4.89303 0.631355C7.80011 0.631355 7.80011 2.22237 7.80011 2.22237C7.80011 2.22237 7.80011 2.22237 7.80011 2.22237V10.6952V10.6952C7.80011 10.6952 7.80009 11.6915 6.10354 11.6915C5.08607 11.6915 4.6445 11.3331 4.45403 11.0462C4.3132 10.8342 4.31162 10.5677 4.31162 10.3131V2.63907C4.31162 2.29182 3.14878 2.29182 3.14878 2.63907Z" fill="#B1B1B1"/></svg>
										.smile.emoji-button
											<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.98555 0C7.32965 0 5.71093 0.469192 4.3341 1.34824C2.95727 2.22729 1.88416 3.47672 1.25047 4.93853C0.616787 6.40034 0.450986 8.00887 0.774036 9.56072C1.09709 11.1126 1.89448 12.538 3.06538 13.6569C4.23628 14.7757 5.7281 15.5376 7.35218 15.8463C8.97626 16.155 10.6597 15.9965 12.1895 15.391C13.7194 14.7855 15.027 13.7602 15.9469 12.4446C16.8669 11.129 17.3579 9.58225 17.3579 8C17.3554 5.879 16.4725 3.84556 14.903 2.34579C13.3334 0.846017 11.2053 0.0023935 8.98555 0ZM8.98555 15.0588C7.52446 15.0588 6.09618 14.6448 4.88133 13.8692C3.66648 13.0936 2.71962 11.9911 2.16048 10.7013C1.60135 9.41146 1.45505 7.99217 1.7401 6.62289C2.02514 5.25361 2.72872 3.99585 3.76187 3.00866C4.79502 2.02146 6.11133 1.34918 7.54434 1.07681C8.97736 0.804443 10.4627 0.944232 11.8126 1.4785C13.1625 2.01276 14.3162 2.91751 15.128 4.07833C15.9397 5.23914 16.373 6.6039 16.373 8C16.3707 9.87146 15.5917 11.6657 14.2068 12.989C12.8219 14.3123 10.9441 15.0567 8.98555 15.0588ZM12.8247 10.1177C12.4353 10.7612 11.8755 11.2956 11.2017 11.6671C10.5278 12.0385 9.76354 12.2341 8.98558 12.2341C8.20761 12.2341 7.44333 12.0386 6.76946 11.6671C6.09559 11.2956 5.53585 10.7613 5.14644 10.1178C5.11406 10.0643 5.09301 10.0052 5.08452 9.94395C5.07602 9.88269 5.08023 9.82043 5.09692 9.76072C5.1136 9.70102 5.14243 9.64504 5.18176 9.59598C5.22108 9.54692 5.27014 9.50574 5.32612 9.4748C5.3821 9.44386 5.44391 9.42375 5.50802 9.41563C5.57213 9.40751 5.63729 9.41154 5.69977 9.42748C5.76226 9.44342 5.82084 9.47097 5.87218 9.50855C5.92353 9.54612 5.96662 9.59299 5.99901 9.64648C6.37525 10.2675 6.95249 10.7548 7.64378 11.0352C8.27571 11.2906 8.97308 11.3598 9.64647 11.234C10.3199 11.1082 10.9386 10.793 11.4232 10.329C11.6365 10.1253 11.821 9.89579 11.9721 9.64641C12.0044 9.59285 12.0475 9.54592 12.0989 9.50828C12.1502 9.47064 12.2088 9.44305 12.2713 9.42707C12.3339 9.41108 12.399 9.40703 12.4632 9.41514C12.5274 9.42325 12.5892 9.44336 12.6452 9.47433C12.7012 9.50529 12.7503 9.5465 12.7897 9.5956C12.829 9.6447 12.8578 9.70072 12.8745 9.76047C12.8911 9.82022 12.8953 9.88252 12.8868 9.94382C12.8782 10.0051 12.8571 10.0642 12.8247 10.1177L12.8247 10.1177ZM5.20977 6.43137C5.20977 6.27625 5.25791 6.12461 5.3481 5.99563C5.4383 5.86665 5.56649 5.76612 5.71648 5.70676C5.86646 5.6474 6.0315 5.63187 6.19073 5.66213C6.34995 5.69239 6.49621 5.76709 6.611 5.87678C6.7258 5.98647 6.80397 6.12622 6.83564 6.27836C6.86731 6.4305 6.85106 6.5882 6.78893 6.73151C6.72681 6.87483 6.6216 6.99732 6.48662 7.0835C6.35163 7.16969 6.19294 7.21568 6.03059 7.21568C5.81297 7.21545 5.60433 7.13275 5.45045 6.98571C5.29657 6.83867 5.21001 6.63931 5.20977 6.43137ZM11.1197 6.43137C11.1197 6.27625 11.1678 6.12461 11.258 5.99563C11.3482 5.86665 11.4764 5.76612 11.6264 5.70676C11.7764 5.6474 11.9414 5.63187 12.1006 5.66213C12.2599 5.69239 12.4061 5.76709 12.5209 5.87678C12.6357 5.98647 12.7139 6.12622 12.7456 6.27836C12.7772 6.4305 12.761 6.5882 12.6989 6.73151C12.6367 6.87483 12.5315 6.99732 12.3965 7.0835C12.2616 7.16969 12.1029 7.21568 11.9405 7.21568C11.7229 7.21545 11.5143 7.13275 11.3604 6.98571C11.2065 6.83867 11.1199 6.63931 11.1197 6.43137Z" fill="#B1B1B1"/></svg>
										.emoji-block
											.smiles-emoji
							.loaded-file
							.comments__block(onselectstart="return false" onmousedown="return false")
								.comments__item
									.item__top
										.item__photo
											img(src="img/comment-photo1.jpg" alt="Photo")
										p.item__name Бугенвиллия
										.item__data 18.09.2020
									p.item__text Коллистар лучше многих. Вообще, все итал брэнды великолепны.
									.item__bottom
										button.item__answer Ответить
										.item__likes
											.item__like.likes-item
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.1395 13.5968C19.5493 13.074 19.7459 12.5136 19.7208 11.9364C19.6957 11.3007 19.4113 10.803 19.1771 10.4977C19.449 9.82016 19.5535 8.75366 18.646 7.92555C17.981 7.31911 16.8517 7.04726 15.2875 7.12254C14.1876 7.17273 13.2674 7.37767 13.2298 7.38603H13.2256C13.0165 7.42367 12.7948 7.46968 12.569 7.51987C12.5523 7.2522 12.5983 6.5872 13.0918 5.08992C13.6773 3.30824 13.6439 1.94479 12.983 1.03304C12.2888 0.0752824 11.1805 0 10.8542 0C10.5406 0 10.252 0.129653 10.047 0.368047C9.5828 0.90757 9.63717 1.90297 9.69572 2.36303C9.14365 3.84358 7.59618 7.47386 6.28711 8.48181C6.26201 8.49854 6.2411 8.51945 6.22019 8.54036C5.83541 8.94605 5.57611 9.38519 5.40045 9.76997C5.15369 9.63614 4.87347 9.56085 4.57234 9.56085H2.02111C1.05917 9.56085 0.28125 10.343 0.28125 11.3007V18.097C0.28125 19.059 1.06335 19.8369 2.02111 19.8369H4.57234C4.94457 19.8369 5.29171 19.7198 5.57611 19.519L6.55896 19.6361C6.70952 19.657 9.38623 19.9958 12.134 19.9414C12.6317 19.9791 13.1002 20 13.5351 20C14.2838 20 14.9362 19.9414 15.4799 19.8243C16.7597 19.5525 17.6338 19.0088 18.0772 18.21C18.4159 17.5993 18.4159 16.9929 18.3616 16.6081C19.1938 15.8553 19.3402 15.023 19.3109 14.4375C19.2942 14.0987 19.2189 13.8101 19.1395 13.5968ZM2.02111 18.7077C1.68234 18.7077 1.41048 18.4316 1.41048 18.097V11.2965C1.41048 10.9578 1.68652 10.6859 2.02111 10.6859H4.57234C4.91111 10.6859 5.18296 10.9619 5.18296 11.2965V18.0928C5.18296 18.4316 4.90693 18.7035 4.57234 18.7035H2.02111V18.7077ZM18.0688 13.1075C17.8931 13.2915 17.8597 13.5717 17.9935 13.7892C17.9935 13.7934 18.165 14.0862 18.1859 14.4877C18.2152 15.0355 17.9517 15.5207 17.3996 15.9348C17.203 16.0853 17.1236 16.3446 17.2072 16.5788C17.2072 16.583 17.3871 17.1351 17.0943 17.6579C16.8141 18.1598 16.1909 18.5194 15.2457 18.7202C14.4887 18.8833 13.4598 18.9126 12.1968 18.8122C12.18 18.8122 12.1591 18.8122 12.1382 18.8122C9.44896 18.8708 6.73043 18.5194 6.70116 18.5153H6.69698L6.27456 18.4651C6.29965 18.348 6.3122 18.2225 6.3122 18.097V11.2965C6.3122 11.1167 6.28292 10.941 6.23274 10.7779C6.30802 10.4977 6.51713 9.87453 7.01065 9.34337C8.88853 7.85445 10.7246 2.83145 10.804 2.61397C10.8375 2.52614 10.8459 2.42995 10.8291 2.33375C10.758 1.86533 10.7831 1.29235 10.8835 1.12087C11.1052 1.12505 11.7032 1.18779 12.0629 1.68549C12.4895 2.2752 12.4728 3.32915 12.0127 4.72606C11.3101 6.85487 11.2516 7.97574 11.8078 8.46926C12.0838 8.71602 12.4519 8.72857 12.7196 8.63237C12.9747 8.57382 13.2173 8.52363 13.4473 8.48599C13.464 8.48181 13.4849 8.47762 13.5017 8.47344C14.7856 8.19322 17.0859 8.02175 17.8848 8.74948C18.5623 9.36846 18.0813 10.1882 18.027 10.276C17.8722 10.5102 17.9182 10.8156 18.1273 11.0038C18.1315 11.0079 18.5707 11.422 18.5916 11.9783C18.6083 12.3505 18.4327 12.7311 18.0688 13.1075Z" fill="black"/></svg>
												span 1
											.item__dislike.likes-item
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.860531 6.40318C0.450659 6.92597 0.254089 7.48641 0.279184 8.06357C0.304277 8.69929 0.588678 9.19699 0.822889 9.5023C0.551037 10.1798 0.446478 11.2463 1.35405 12.0744C2.01904 12.6809 3.14828 12.9527 4.71247 12.8775C5.81243 12.8273 6.73255 12.6223 6.77019 12.614H6.77437C6.98349 12.5763 7.20516 12.5303 7.431 12.4801C7.44773 12.7478 7.40173 13.4128 6.90821 14.9101C6.32268 16.6918 6.35614 18.0552 7.01695 18.967C7.71122 19.9247 8.81954 20 9.14577 20C9.45944 20 9.74803 19.8703 9.95296 19.632C10.4172 19.0924 10.3628 18.097 10.3043 17.637C10.8563 16.1564 12.4038 12.5261 13.7129 11.5182C13.738 11.5015 13.7589 11.4806 13.7798 11.4596C14.1646 11.054 14.4239 10.6148 14.5996 10.23C14.8463 10.3639 15.1265 10.4391 15.4277 10.4391H17.9789C18.9408 10.4391 19.7188 9.65705 19.7188 8.69929L19.7188 1.90297C19.7188 0.941029 18.9367 0.163113 17.9789 0.163113H15.4277C15.0554 0.163113 14.7083 0.280218 14.4239 0.48097L13.441 0.363865C13.2905 0.342955 10.6138 0.00418472 7.86597 0.0585537C7.36827 0.0209141 6.89984 0 6.46488 0C5.71624 0 5.06379 0.0585537 4.52009 0.175659C3.24029 0.447512 2.36618 0.991219 1.92285 1.79005C1.58408 2.40067 1.58408 3.00711 1.63845 3.39189C0.80616 4.14471 0.659779 4.977 0.689054 5.56253C0.705784 5.9013 0.781065 6.18988 0.860531 6.40318ZM17.9789 1.29235C18.3177 1.29235 18.5895 1.56838 18.5895 1.90297L18.5895 8.70347C18.5895 9.04224 18.3135 9.3141 17.9789 9.3141H15.4277C15.0889 9.3141 14.817 9.03806 14.817 8.70347V1.90715C14.817 1.56838 15.0931 1.29653 15.4277 1.29653H17.9789V1.29235ZM1.93121 6.89251C2.10687 6.70849 2.14033 6.42827 2.00649 6.21079C2.00649 6.20661 1.83502 5.91385 1.81411 5.51234C1.78483 4.96445 2.04832 4.4793 2.60039 4.06525C2.79696 3.91468 2.87642 3.65537 2.79278 3.42116C2.79278 3.41698 2.61294 2.86491 2.9057 2.34212C3.18592 1.84023 3.80909 1.48055 4.7543 1.2798C5.5113 1.11669 6.54016 1.08741 7.80323 1.18779C7.81996 1.18779 7.84087 1.18779 7.86179 1.18779C10.551 1.12924 13.2696 1.48055 13.2988 1.48474H13.303L13.7254 1.53492C13.7003 1.65203 13.6878 1.7775 13.6878 1.90297V8.70347C13.6878 8.88331 13.7171 9.05897 13.7673 9.22208C13.692 9.5023 13.4829 10.1255 12.9893 10.6566C11.1115 12.1455 9.27542 17.1685 9.19596 17.386C9.1625 17.4739 9.15413 17.5701 9.17086 17.6662C9.24196 18.1347 9.21687 18.7077 9.11649 18.8791C8.89483 18.8749 8.29675 18.8122 7.93707 18.3145C7.51047 17.7248 7.5272 16.6708 7.98726 15.2739C8.68989 13.1451 8.74844 12.0243 8.19219 11.5307C7.91616 11.284 7.54811 11.2714 7.28044 11.3676C7.02531 11.4262 6.78274 11.4764 6.55271 11.514C6.53598 11.5182 6.51507 11.5224 6.49834 11.5266C5.21436 11.8068 2.91406 11.9783 2.11523 11.2505C1.43769 10.6315 1.91866 9.8118 1.97304 9.72397C2.12778 9.48975 2.08178 9.18444 1.87266 8.99624C1.86848 8.99205 1.42933 8.578 1.40842 8.02175C1.39169 7.64952 1.56735 7.26893 1.93121 6.89251Z" fill="black"/></svg>
												span 8
								.comments__item
									.item__top
										.item__photo
											img(src="img/comment-photo1.jpg" alt="Photo")
										p.item__name Бугенвиллия
										.item__data 18.09.2020
									p.item__text Елена, на здоровье!)
									.item__bottom
										button.item__answer Ответить
										.item__likes
											.item__like.likes-item
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.1395 13.5968C19.5493 13.074 19.7459 12.5136 19.7208 11.9364C19.6957 11.3007 19.4113 10.803 19.1771 10.4977C19.449 9.82016 19.5535 8.75366 18.646 7.92555C17.981 7.31911 16.8517 7.04726 15.2875 7.12254C14.1876 7.17273 13.2674 7.37767 13.2298 7.38603H13.2256C13.0165 7.42367 12.7948 7.46968 12.569 7.51987C12.5523 7.2522 12.5983 6.5872 13.0918 5.08992C13.6773 3.30824 13.6439 1.94479 12.983 1.03304C12.2888 0.0752824 11.1805 0 10.8542 0C10.5406 0 10.252 0.129653 10.047 0.368047C9.5828 0.90757 9.63717 1.90297 9.69572 2.36303C9.14365 3.84358 7.59618 7.47386 6.28711 8.48181C6.26201 8.49854 6.2411 8.51945 6.22019 8.54036C5.83541 8.94605 5.57611 9.38519 5.40045 9.76997C5.15369 9.63614 4.87347 9.56085 4.57234 9.56085H2.02111C1.05917 9.56085 0.28125 10.343 0.28125 11.3007V18.097C0.28125 19.059 1.06335 19.8369 2.02111 19.8369H4.57234C4.94457 19.8369 5.29171 19.7198 5.57611 19.519L6.55896 19.6361C6.70952 19.657 9.38623 19.9958 12.134 19.9414C12.6317 19.9791 13.1002 20 13.5351 20C14.2838 20 14.9362 19.9414 15.4799 19.8243C16.7597 19.5525 17.6338 19.0088 18.0772 18.21C18.4159 17.5993 18.4159 16.9929 18.3616 16.6081C19.1938 15.8553 19.3402 15.023 19.3109 14.4375C19.2942 14.0987 19.2189 13.8101 19.1395 13.5968ZM2.02111 18.7077C1.68234 18.7077 1.41048 18.4316 1.41048 18.097V11.2965C1.41048 10.9578 1.68652 10.6859 2.02111 10.6859H4.57234C4.91111 10.6859 5.18296 10.9619 5.18296 11.2965V18.0928C5.18296 18.4316 4.90693 18.7035 4.57234 18.7035H2.02111V18.7077ZM18.0688 13.1075C17.8931 13.2915 17.8597 13.5717 17.9935 13.7892C17.9935 13.7934 18.165 14.0862 18.1859 14.4877C18.2152 15.0355 17.9517 15.5207 17.3996 15.9348C17.203 16.0853 17.1236 16.3446 17.2072 16.5788C17.2072 16.583 17.3871 17.1351 17.0943 17.6579C16.8141 18.1598 16.1909 18.5194 15.2457 18.7202C14.4887 18.8833 13.4598 18.9126 12.1968 18.8122C12.18 18.8122 12.1591 18.8122 12.1382 18.8122C9.44896 18.8708 6.73043 18.5194 6.70116 18.5153H6.69698L6.27456 18.4651C6.29965 18.348 6.3122 18.2225 6.3122 18.097V11.2965C6.3122 11.1167 6.28292 10.941 6.23274 10.7779C6.30802 10.4977 6.51713 9.87453 7.01065 9.34337C8.88853 7.85445 10.7246 2.83145 10.804 2.61397C10.8375 2.52614 10.8459 2.42995 10.8291 2.33375C10.758 1.86533 10.7831 1.29235 10.8835 1.12087C11.1052 1.12505 11.7032 1.18779 12.0629 1.68549C12.4895 2.2752 12.4728 3.32915 12.0127 4.72606C11.3101 6.85487 11.2516 7.97574 11.8078 8.46926C12.0838 8.71602 12.4519 8.72857 12.7196 8.63237C12.9747 8.57382 13.2173 8.52363 13.4473 8.48599C13.464 8.48181 13.4849 8.47762 13.5017 8.47344C14.7856 8.19322 17.0859 8.02175 17.8848 8.74948C18.5623 9.36846 18.0813 10.1882 18.027 10.276C17.8722 10.5102 17.9182 10.8156 18.1273 11.0038C18.1315 11.0079 18.5707 11.422 18.5916 11.9783C18.6083 12.3505 18.4327 12.7311 18.0688 13.1075Z" fill="black"/></svg>
												span 1
											.item__dislike.likes-item
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.860531 6.40318C0.450659 6.92597 0.254089 7.48641 0.279184 8.06357C0.304277 8.69929 0.588678 9.19699 0.822889 9.5023C0.551037 10.1798 0.446478 11.2463 1.35405 12.0744C2.01904 12.6809 3.14828 12.9527 4.71247 12.8775C5.81243 12.8273 6.73255 12.6223 6.77019 12.614H6.77437C6.98349 12.5763 7.20516 12.5303 7.431 12.4801C7.44773 12.7478 7.40173 13.4128 6.90821 14.9101C6.32268 16.6918 6.35614 18.0552 7.01695 18.967C7.71122 19.9247 8.81954 20 9.14577 20C9.45944 20 9.74803 19.8703 9.95296 19.632C10.4172 19.0924 10.3628 18.097 10.3043 17.637C10.8563 16.1564 12.4038 12.5261 13.7129 11.5182C13.738 11.5015 13.7589 11.4806 13.7798 11.4596C14.1646 11.054 14.4239 10.6148 14.5996 10.23C14.8463 10.3639 15.1265 10.4391 15.4277 10.4391H17.9789C18.9408 10.4391 19.7188 9.65705 19.7188 8.69929L19.7188 1.90297C19.7188 0.941029 18.9367 0.163113 17.9789 0.163113H15.4277C15.0554 0.163113 14.7083 0.280218 14.4239 0.48097L13.441 0.363865C13.2905 0.342955 10.6138 0.00418472 7.86597 0.0585537C7.36827 0.0209141 6.89984 0 6.46488 0C5.71624 0 5.06379 0.0585537 4.52009 0.175659C3.24029 0.447512 2.36618 0.991219 1.92285 1.79005C1.58408 2.40067 1.58408 3.00711 1.63845 3.39189C0.80616 4.14471 0.659779 4.977 0.689054 5.56253C0.705784 5.9013 0.781065 6.18988 0.860531 6.40318ZM17.9789 1.29235C18.3177 1.29235 18.5895 1.56838 18.5895 1.90297L18.5895 8.70347C18.5895 9.04224 18.3135 9.3141 17.9789 9.3141H15.4277C15.0889 9.3141 14.817 9.03806 14.817 8.70347V1.90715C14.817 1.56838 15.0931 1.29653 15.4277 1.29653H17.9789V1.29235ZM1.93121 6.89251C2.10687 6.70849 2.14033 6.42827 2.00649 6.21079C2.00649 6.20661 1.83502 5.91385 1.81411 5.51234C1.78483 4.96445 2.04832 4.4793 2.60039 4.06525C2.79696 3.91468 2.87642 3.65537 2.79278 3.42116C2.79278 3.41698 2.61294 2.86491 2.9057 2.34212C3.18592 1.84023 3.80909 1.48055 4.7543 1.2798C5.5113 1.11669 6.54016 1.08741 7.80323 1.18779C7.81996 1.18779 7.84087 1.18779 7.86179 1.18779C10.551 1.12924 13.2696 1.48055 13.2988 1.48474H13.303L13.7254 1.53492C13.7003 1.65203 13.6878 1.7775 13.6878 1.90297V8.70347C13.6878 8.88331 13.7171 9.05897 13.7673 9.22208C13.692 9.5023 13.4829 10.1255 12.9893 10.6566C11.1115 12.1455 9.27542 17.1685 9.19596 17.386C9.1625 17.4739 9.15413 17.5701 9.17086 17.6662C9.24196 18.1347 9.21687 18.7077 9.11649 18.8791C8.89483 18.8749 8.29675 18.8122 7.93707 18.3145C7.51047 17.7248 7.5272 16.6708 7.98726 15.2739C8.68989 13.1451 8.74844 12.0243 8.19219 11.5307C7.91616 11.284 7.54811 11.2714 7.28044 11.3676C7.02531 11.4262 6.78274 11.4764 6.55271 11.514C6.53598 11.5182 6.51507 11.5224 6.49834 11.5266C5.21436 11.8068 2.91406 11.9783 2.11523 11.2505C1.43769 10.6315 1.91866 9.8118 1.97304 9.72397C2.12778 9.48975 2.08178 9.18444 1.87266 8.99624C1.86848 8.99205 1.42933 8.578 1.40842 8.02175C1.39169 7.64952 1.56735 7.26893 1.93121 6.89251Z" fill="black"/></svg>
												span 8
							.comments__block(onselectstart="return false" onmousedown="return false")
								.comments__item
									.item__top
										.item__photo
											img(src="img/comment-photo1.jpg" alt="Photo")
										p.item__name Бугенвиллия
										.item__data 18.09.2020
									p.item__text По результатам тестов немецкого экспертного журнала Штифтунг Варентест косметика итальянской фирмы CLIVEN и немецкой фирмы NIVEA заняли 1 место.Кроме того, эти косметики признаны изготовленными из природных компонентов.В данном тесте было написано, что крема известных брендов, не болле чем пиар компании.
									img(src="img/comment-photo2.jpg" alt="photo")
									.item__bottom
										button.item__answer Ответить
										.item__likes
											.item__like.likes-item
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.1395 13.5968C19.5493 13.074 19.7459 12.5136 19.7208 11.9364C19.6957 11.3007 19.4113 10.803 19.1771 10.4977C19.449 9.82016 19.5535 8.75366 18.646 7.92555C17.981 7.31911 16.8517 7.04726 15.2875 7.12254C14.1876 7.17273 13.2674 7.37767 13.2298 7.38603H13.2256C13.0165 7.42367 12.7948 7.46968 12.569 7.51987C12.5523 7.2522 12.5983 6.5872 13.0918 5.08992C13.6773 3.30824 13.6439 1.94479 12.983 1.03304C12.2888 0.0752824 11.1805 0 10.8542 0C10.5406 0 10.252 0.129653 10.047 0.368047C9.5828 0.90757 9.63717 1.90297 9.69572 2.36303C9.14365 3.84358 7.59618 7.47386 6.28711 8.48181C6.26201 8.49854 6.2411 8.51945 6.22019 8.54036C5.83541 8.94605 5.57611 9.38519 5.40045 9.76997C5.15369 9.63614 4.87347 9.56085 4.57234 9.56085H2.02111C1.05917 9.56085 0.28125 10.343 0.28125 11.3007V18.097C0.28125 19.059 1.06335 19.8369 2.02111 19.8369H4.57234C4.94457 19.8369 5.29171 19.7198 5.57611 19.519L6.55896 19.6361C6.70952 19.657 9.38623 19.9958 12.134 19.9414C12.6317 19.9791 13.1002 20 13.5351 20C14.2838 20 14.9362 19.9414 15.4799 19.8243C16.7597 19.5525 17.6338 19.0088 18.0772 18.21C18.4159 17.5993 18.4159 16.9929 18.3616 16.6081C19.1938 15.8553 19.3402 15.023 19.3109 14.4375C19.2942 14.0987 19.2189 13.8101 19.1395 13.5968ZM2.02111 18.7077C1.68234 18.7077 1.41048 18.4316 1.41048 18.097V11.2965C1.41048 10.9578 1.68652 10.6859 2.02111 10.6859H4.57234C4.91111 10.6859 5.18296 10.9619 5.18296 11.2965V18.0928C5.18296 18.4316 4.90693 18.7035 4.57234 18.7035H2.02111V18.7077ZM18.0688 13.1075C17.8931 13.2915 17.8597 13.5717 17.9935 13.7892C17.9935 13.7934 18.165 14.0862 18.1859 14.4877C18.2152 15.0355 17.9517 15.5207 17.3996 15.9348C17.203 16.0853 17.1236 16.3446 17.2072 16.5788C17.2072 16.583 17.3871 17.1351 17.0943 17.6579C16.8141 18.1598 16.1909 18.5194 15.2457 18.7202C14.4887 18.8833 13.4598 18.9126 12.1968 18.8122C12.18 18.8122 12.1591 18.8122 12.1382 18.8122C9.44896 18.8708 6.73043 18.5194 6.70116 18.5153H6.69698L6.27456 18.4651C6.29965 18.348 6.3122 18.2225 6.3122 18.097V11.2965C6.3122 11.1167 6.28292 10.941 6.23274 10.7779C6.30802 10.4977 6.51713 9.87453 7.01065 9.34337C8.88853 7.85445 10.7246 2.83145 10.804 2.61397C10.8375 2.52614 10.8459 2.42995 10.8291 2.33375C10.758 1.86533 10.7831 1.29235 10.8835 1.12087C11.1052 1.12505 11.7032 1.18779 12.0629 1.68549C12.4895 2.2752 12.4728 3.32915 12.0127 4.72606C11.3101 6.85487 11.2516 7.97574 11.8078 8.46926C12.0838 8.71602 12.4519 8.72857 12.7196 8.63237C12.9747 8.57382 13.2173 8.52363 13.4473 8.48599C13.464 8.48181 13.4849 8.47762 13.5017 8.47344C14.7856 8.19322 17.0859 8.02175 17.8848 8.74948C18.5623 9.36846 18.0813 10.1882 18.027 10.276C17.8722 10.5102 17.9182 10.8156 18.1273 11.0038C18.1315 11.0079 18.5707 11.422 18.5916 11.9783C18.6083 12.3505 18.4327 12.7311 18.0688 13.1075Z" fill="black"/></svg>
												span 1
											.item__dislike.likes-item
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.860531 6.40318C0.450659 6.92597 0.254089 7.48641 0.279184 8.06357C0.304277 8.69929 0.588678 9.19699 0.822889 9.5023C0.551037 10.1798 0.446478 11.2463 1.35405 12.0744C2.01904 12.6809 3.14828 12.9527 4.71247 12.8775C5.81243 12.8273 6.73255 12.6223 6.77019 12.614H6.77437C6.98349 12.5763 7.20516 12.5303 7.431 12.4801C7.44773 12.7478 7.40173 13.4128 6.90821 14.9101C6.32268 16.6918 6.35614 18.0552 7.01695 18.967C7.71122 19.9247 8.81954 20 9.14577 20C9.45944 20 9.74803 19.8703 9.95296 19.632C10.4172 19.0924 10.3628 18.097 10.3043 17.637C10.8563 16.1564 12.4038 12.5261 13.7129 11.5182C13.738 11.5015 13.7589 11.4806 13.7798 11.4596C14.1646 11.054 14.4239 10.6148 14.5996 10.23C14.8463 10.3639 15.1265 10.4391 15.4277 10.4391H17.9789C18.9408 10.4391 19.7188 9.65705 19.7188 8.69929L19.7188 1.90297C19.7188 0.941029 18.9367 0.163113 17.9789 0.163113H15.4277C15.0554 0.163113 14.7083 0.280218 14.4239 0.48097L13.441 0.363865C13.2905 0.342955 10.6138 0.00418472 7.86597 0.0585537C7.36827 0.0209141 6.89984 0 6.46488 0C5.71624 0 5.06379 0.0585537 4.52009 0.175659C3.24029 0.447512 2.36618 0.991219 1.92285 1.79005C1.58408 2.40067 1.58408 3.00711 1.63845 3.39189C0.80616 4.14471 0.659779 4.977 0.689054 5.56253C0.705784 5.9013 0.781065 6.18988 0.860531 6.40318ZM17.9789 1.29235C18.3177 1.29235 18.5895 1.56838 18.5895 1.90297L18.5895 8.70347C18.5895 9.04224 18.3135 9.3141 17.9789 9.3141H15.4277C15.0889 9.3141 14.817 9.03806 14.817 8.70347V1.90715C14.817 1.56838 15.0931 1.29653 15.4277 1.29653H17.9789V1.29235ZM1.93121 6.89251C2.10687 6.70849 2.14033 6.42827 2.00649 6.21079C2.00649 6.20661 1.83502 5.91385 1.81411 5.51234C1.78483 4.96445 2.04832 4.4793 2.60039 4.06525C2.79696 3.91468 2.87642 3.65537 2.79278 3.42116C2.79278 3.41698 2.61294 2.86491 2.9057 2.34212C3.18592 1.84023 3.80909 1.48055 4.7543 1.2798C5.5113 1.11669 6.54016 1.08741 7.80323 1.18779C7.81996 1.18779 7.84087 1.18779 7.86179 1.18779C10.551 1.12924 13.2696 1.48055 13.2988 1.48474H13.303L13.7254 1.53492C13.7003 1.65203 13.6878 1.7775 13.6878 1.90297V8.70347C13.6878 8.88331 13.7171 9.05897 13.7673 9.22208C13.692 9.5023 13.4829 10.1255 12.9893 10.6566C11.1115 12.1455 9.27542 17.1685 9.19596 17.386C9.1625 17.4739 9.15413 17.5701 9.17086 17.6662C9.24196 18.1347 9.21687 18.7077 9.11649 18.8791C8.89483 18.8749 8.29675 18.8122 7.93707 18.3145C7.51047 17.7248 7.5272 16.6708 7.98726 15.2739C8.68989 13.1451 8.74844 12.0243 8.19219 11.5307C7.91616 11.284 7.54811 11.2714 7.28044 11.3676C7.02531 11.4262 6.78274 11.4764 6.55271 11.514C6.53598 11.5182 6.51507 11.5224 6.49834 11.5266C5.21436 11.8068 2.91406 11.9783 2.11523 11.2505C1.43769 10.6315 1.91866 9.8118 1.97304 9.72397C2.12778 9.48975 2.08178 9.18444 1.87266 8.99624C1.86848 8.99205 1.42933 8.578 1.40842 8.02175C1.39169 7.64952 1.56735 7.26893 1.93121 6.89251Z" fill="black"/></svg>
												span 8
						h3 Посмотрите другие статьи на эту тему
				.single__rht
					img(src="img/rekl1.png" alt="Rekl")

			.page-blog__content_tile
				.page-blog__inner
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
									span 23
								.item__comment
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
									span 23
								.item__share.select-share
									.select-share__head
										<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
									span 23
								.item__comment
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
									span 23
								.item__share.select-share
									.select-share__head
										<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
									span 36 667
					.page-blog__item
						.item__photo
							img(src="img/blog-photo.jpg" alt="Photo")
						.item__info
							.item__top
								span 15 июля 2021 15:45
								.item__type косметика
							h3.item__name
								a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
							p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
							.item__bottom
								.item__like
									<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
									span 23
								.item__comment
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
									span 23
								.item__share.select-share
									.select-share__head
										<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
										span Поделиться
									.select-share__body
										a(href="#").share__item
											img(src="img/svg/vk.svg" alt="VK")
											span Вконтакте
										a(href="#").share__item
											img(src="img/svg/facebook.svg" alt="OK")
											span Facebook
										a(href="#").share__item
											img(src="img/svg/odnoklassniki.svg" alt="OK")
											span Одноклассники
										a(href="#").share__item
											img(src="img/svg/twitter.svg" alt="twitter")
											span Twitter
										a(href="#").share__item
											img(src="img/svg/link.svg" alt="link")
											span Скопировать ссылку
								.item__viewers
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
									span 36 667

								


			
			
			


	include includes/footer.pug



























	