extends includes/header-singin.pug

block content

	main.page-blog
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Блог
			h2 Блог
			.page-blog__view
				a(href="blog-tile.html").view__item
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" rx="1" fill="#B1B1B1"/><rect x="11" width="9" height="9" rx="1" fill="#B1B1B1"/><rect x="11" y="11" width="9" height="9" rx="1" fill="#B1B1B1"/><rect y="11" width="9" height="9" rx="1" fill="#B1B1B1"/></svg>
					span Плитка
				a(href="blog.html").view__item.view__item_active
					<svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="5" height="5" rx="1" fill="#B1B1B1"/><rect x="8" y="2" width="16" height="2" rx="1" fill="#B1B1B1"/><rect y="7" width="5" height="5" rx="1" fill="#B1B1B1"/><rect x="8" y="9" width="16" height="2" rx="1" fill="#B1B1B1"/><rect y="14" width="5" height="5" rx="1" fill="#B1B1B1"/><rect x="8" y="16" width="16" height="2" rx="1" fill="#B1B1B1"/></svg>
					span Строка
			.page-blog__content
				.page-blog__item
					.item__photo
						img(src="img/blog-photo.jpg" alt="Photo")
					.item__info
						.item__top
							span 15 июля 2021 15:45
							.item__type косметика
						h3.item__name
							a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
						p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
						.item__bottom
							.item__like
								<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
								span 23
							.item__comment
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
								span 23
							.item__share.select-share
								.select-share__head
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
									span Поделиться
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										span Вконтакте
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										span Facebook
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										span Одноклассники
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										span Twitter
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
										span Скопировать ссылку
							.item__viewers
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
								span 36 667
				.page-blog__rekl
					img(src="img/rekl.png" alt="Rekl")
				.page-blog__item
					.item__photo
						img(src="img/blog-photo.jpg" alt="Photo")
					.item__info
						.item__top
							span 15 июля 2021 15:45
							.item__type косметика
						h3.item__name
							a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
						p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
						.item__bottom
							.item__like
								<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
								span 23
							.item__comment
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
								span 23
							.item__share.select-share
								.select-share__head
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
									span Поделиться
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										span Вконтакте
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										span Facebook
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										span Одноклассники
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										span Twitter
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
										span Скопировать ссылку
							.item__viewers
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
								span 36 667
				.page-blog__item
					.item__photo
						img(src="img/blog-photo.jpg" alt="Photo")
					.item__info
						.item__top
							span 15 июля 2021 15:45
							.item__type косметика
						h3.item__name
							a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
						p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
						.item__bottom
							.item__like
								<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
								span 23
							.item__comment
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
								span 23
							.item__share.select-share
								.select-share__head
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
									span Поделиться
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										span Вконтакте
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										span Facebook
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										span Одноклассники
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										span Twitter
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
										span Скопировать ссылку
							.item__viewers
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
								span 36 667
				.page-blog__rekl
					img(src="img/rekl.png" alt="Rekl")
				.page-blog__item
					.item__photo
						img(src="img/blog-photo.jpg" alt="Photo")
					.item__info
						.item__top
							span 15 июля 2021 15:45
							.item__type косметика
						h3.item__name
							a(href="blog-single.html") Новая эксклюзивная палетка теней для век Gucci Des Yeux Floral Eyeshadow Palette 2021
						p.item__text У Gucci выходит новая эксклюзивная палетка теней для век Des Yeux Floral Eyeshadow Palette, вдохновленая цветами. Новинка включает в себя 12 высокопигментированных, глубоких оттенков с шелковистой и стойкой текстурой и тремя видами финишей (семь матовых, два сатиновых и три металлика). У палетки великолепный винтажный черный футляр с золотой отделкой и цветочным у
						.item__bottom
							.item__like
								<svg width="24" height="21" viewBox="-1 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6166 2.91616C12.8566 1.37473 14.6866 0.489698 16.6117 0.500468C20.2255 0.500468 23.155 3.56713 23.155 7.35008C23.155 13.9246 12.3469 20.1626 11.9087 20.4072C11.7318 20.5309 11.5013 20.5309 11.3245 20.4072C10.8863 20.1626 0.078125 13.8328 0.078125 7.35008C0.078125 3.56713 3.00765 0.500468 6.62142 0.500468C8.54916 0.476646 10.3843 1.36419 11.6166 2.91616Z" stroke="#495FEA" fill=""/></svg>
								span 23
							.item__comment
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91114 19.3054H1.49401L2.4961 18.3033C3.03641 17.7629 3.37382 17.0602 3.46453 16.2978C2.05459 15.3726 1.02358 14.1552 0.471684 12.7592C-0.079823 11.3642 -0.149128 9.82857 0.271282 8.31825C0.775712 6.50602 1.95883 4.85424 3.60263 3.66713C5.38892 2.37717 7.61264 1.69531 10.0334 1.69531C13.083 1.69531 15.6534 2.57147 17.4667 4.22901C19.1003 5.7223 20 7.73654 20 9.90073C20 10.9522 19.7859 11.9752 19.3637 12.9415C18.9268 13.9414 18.287 14.8317 17.4621 15.5877C15.6463 17.2518 13.0775 18.1314 10.0334 18.1314C8.90333 18.1314 7.72413 17.9805 6.67132 17.7037C5.67479 18.7259 4.32441 19.3054 2.91114 19.3054ZM10.0334 2.86932C5.17936 2.86932 2.20087 5.76413 1.40228 8.63308C0.647628 11.3442 1.76007 13.906 4.3781 15.4859L4.67062 15.6625L4.66162 16.004C4.64378 16.68 4.48263 17.3311 4.19417 17.9196C4.89658 17.682 5.53395 17.2511 6.03305 16.6615L6.28124 16.3682L6.64929 16.4783C7.68214 16.7872 8.88396 16.9573 10.0334 16.9573C16.0745 16.9573 18.826 13.2994 18.826 9.90073C18.826 8.07023 18.062 6.3637 16.6746 5.09554C15.0814 3.63915 12.7849 2.86932 10.0334 2.86932Z" fill="#495FEA"/></svg>
								span 23
							.item__share.select-share
								.select-share__head
									<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2734 13.9609C14.3301 13.9609 13.4724 14.3345 12.8403 14.9414L9.08039 12.612C9.29492 12.1148 9.41406 11.5672 9.41406 10.9922C9.41406 10.4172 9.29492 9.86957 9.08035 9.37242L12.8403 7.04301C13.4724 7.64984 14.3301 8.02344 15.2734 8.02344C17.212 8.02344 18.7891 6.44633 18.7891 4.50781C18.7891 2.5693 17.212 0.992188 15.2734 0.992188C13.3349 0.992188 11.7578 2.5693 11.7578 4.50781C11.7578 5.08012 11.8954 5.6209 12.139 6.09891L8.46707 8.37383C7.7141 7.4682 6.57953 6.89062 5.3125 6.89062C3.0509 6.89062 1.21094 8.73059 1.21094 10.9922C1.21094 13.2538 3.0509 15.0938 5.3125 15.0938C6.57953 15.0938 7.7141 14.5162 8.46707 13.6105L12.139 15.8855C11.8954 16.3635 11.7578 16.9043 11.7578 17.4766C11.7578 19.4151 13.3349 20.9922 15.2734 20.9922C17.212 20.9922 18.7891 19.4151 18.7891 17.4766C18.7891 15.538 17.212 13.9609 15.2734 13.9609ZM15.2734 2.16406C16.5658 2.16406 17.6172 3.21547 17.6172 4.50781C17.6172 5.80016 16.5658 6.85156 15.2734 6.85156C13.9811 6.85156 12.9297 5.80016 12.9297 4.50781C12.9297 3.21547 13.9811 2.16406 15.2734 2.16406ZM5.3125 13.9219C3.69707 13.9219 2.38281 12.6076 2.38281 10.9922C2.38281 9.37676 3.69707 8.0625 5.3125 8.0625C6.92793 8.0625 8.24219 9.37676 8.24219 10.9922C8.24219 12.6076 6.92793 13.9219 5.3125 13.9219ZM15.2734 19.8203C13.9811 19.8203 12.9297 18.7689 12.9297 17.4766C12.9297 16.1842 13.9811 15.1328 15.2734 15.1328C16.5658 15.1328 17.6172 16.1842 17.6172 17.4766C17.6172 18.7689 16.5658 19.8203 15.2734 19.8203Z" fill="#495FEA"/></svg>
									span Поделиться
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										span Вконтакте
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										span Facebook
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										span Одноклассники
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										span Twitter
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
										span Скопировать ссылку
							.item__viewers
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.9259 10.2628C19.7684 10.0336 15.9834 4.66602 9.99995 4.66602C4.86569 4.66602 0.29062 10.0028 0.0981168 10.2303C-0.0327056 10.3853 -0.0327056 10.6128 0.0981168 10.7686C0.29062 10.9961 4.86569 16.3329 9.99995 16.3329C15.1342 16.3329 19.7092 10.9961 19.9017 10.7686C20.0226 10.6253 20.0334 10.4178 19.9259 10.2628ZM9.99995 15.4995C5.88407 15.4995 1.97065 11.5745 0.97649 10.4995C1.96901 9.42363 5.87825 5.49939 9.99995 5.49939C14.8158 5.49939 18.2151 9.41863 19.0451 10.477C18.0867 11.5178 14.1508 15.4995 9.99995 15.4995Z" fill="#B1B1B1"/><path d="M10.0013 7.16602C8.16299 7.16602 6.66797 8.66104 6.66797 10.4994C6.66797 12.3377 8.16299 13.8328 10.0013 13.8328C11.8397 13.8328 13.3347 12.3377 13.3347 10.4994C13.3347 8.66104 11.8397 7.16602 10.0013 7.16602ZM10.0013 12.9995C8.623 12.9995 7.5013 11.8778 7.5013 10.4994C7.5013 9.12109 8.623 7.99939 10.0013 7.99939C11.3797 7.99939 12.5014 9.12109 12.5014 10.4994C12.5014 11.8778 11.3797 12.9995 10.0013 12.9995Z" fill="#B1B1B1"/></svg>
								span 36 667


			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					<svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z" fill="#222220"/></svg>
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций
			
			
			


	include includes/footer.pug



























	