extends includes/header-singin.pug

block content

	main.page-card-single
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Мой ДонКешбэк
			.page-card-single__item
				.item__slider
					.slider-nav
						.slider-nav__arr.slider-nav__arr_prev
							img(src="img/svg/ico39.svg" alt="Ico")
						.slider-nav__block
							.slider__item
								img(src="img/slider-single2.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single2.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single3.jpg" alt="Photo")
							.slider__item
								img(src="img/slider-single4.jpg" alt="Photo")
						.slider-nav__arr.slider-nav__arr_next
							img(src="img/svg/ico40.svg" alt="Ico")
					.slider-for
						.slider__item
							img(src="img/slider-single1.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single2.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single3.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single4.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single1.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single2.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single3.jpg" alt="Photo")
						.slider__item
							img(src="img/slider-single4.jpg" alt="Photo")
				.item__info
					.item__top
						h2.item__name Кольцо-держатель на палец LGD Magnests для телефона серебро
						.item__share
						.item__share.select-share
							.select-share__head
								img(src="img/svg/ico41.svg" alt="Ico")
							.select-share__body
								a(href="#").share__item
									img(src="img/svg/vk.svg" alt="VK")
									
								a(href="#").share__item
									img(src="img/svg/facebook.svg" alt="OK")
									
								a(href="#").share__item
									img(src="img/svg/odnoklassniki.svg" alt="OK")
									
								a(href="#").share__item
									img(src="img/svg/twitter.svg" alt="twitter")
									
								a(href="#").share__item
									img(src="img/svg/link.svg" alt="link")
						label.item__likes
							img(src="img/svg/ico42.svg" alt="Ico")
							.count 58
					.item__top_2
						.top_2__lft
							.item__sale
								span Продается на 
								img(src="img/svg/yandex.svg" alt="Yandex")
							.item__cashback
								span Возврат кешбэка: 
								.num 21 дн.
						.top_2__rht
							.item__share.select-share
								.select-share__head
									img(src="img/svg/ico41.svg" alt="Ico")
								.select-share__body
									a(href="#").share__item
										img(src="img/svg/vk.svg" alt="VK")
										
									a(href="#").share__item
										img(src="img/svg/facebook.svg" alt="OK")
										
									a(href="#").share__item
										img(src="img/svg/odnoklassniki.svg" alt="OK")
										
									a(href="#").share__item
										img(src="img/svg/twitter.svg" alt="twitter")
										
									a(href="#").share__item
										img(src="img/svg/link.svg" alt="link")
							label.item__likes
								img(src="img/svg/ico43.svg" alt="Ico")
								.count 58

					.item__price
						.price__title Цена
						.price__block
							.price__num ₽17.50
							strike.price__strike ₽250.00
							.price__lost
								img(src="img/svg/ico44.svg" alt="Ico")
								span Будет потрачено 232 балла!
					.item__mini-info
						.mini-info__block
							b 5 из 26
							span Сегодня 
						.mini-info__block
							b ₽232.50
							span Кешбэк 
						.mini-info__block.mini-info__block_smile
							img(src="img/svg/ico45.svg" alt="Ico")
							.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
					button.item__conditions Условия покупки
					.item__description
						h4 Описание:
						p Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-держатель для телефона – универсальный аксессуар для вашего смартфона или Кольцо-
			section.slider.slider-reviews
				+titleH2('Отзывы о товаре ', '', '1')
				.slider-reviews__block
					.review__item
						.item__stars
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
					.review__item
						.item__stars
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
					.review__item
						.item__stars
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
					.review__item
						.item__stars
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
							.star
								img(src="img/svg/ico46.svg" alt="Ico")
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
			section.slider
				+titleH2('Все Предложения Продавца', '', '1')
				.slider__block
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')



								


			
			
			


	include includes/footer.pug



























	