extends includes/header-singin.pug

block content

	main.page-cashback
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Правила
			h2 100% Кешбэк
			.page-cashback__top
				p Тратьте баллы приобретайте товары со 100% Кешбэком
				.select-v2
					.select__head
						span Все Категории
					.select__body
						span Картины
						span Машины
						span Большие столы
				.select-v2
					.select__head
						span Время: По умолчанию
					.select__body
						span Время: Дешевле
						span Время: Дороже
						span Время: По дате
			.page-cashback__content
				.page-cashback__products
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
				.page-cashback__rekl
					img(src="img/rekl1.png" alt="Rekl")
			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 
			
			
			
			


	include includes/footer.pug



























	