extends includes/header-singin.pug

block content

	main.page-contact
		.popup.popup-success
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Сообщение успешно отправлено!
				.popup__status-svg
					img(src="img/svg/ico51.svg" alt="Ico")
				button.popup__close_button Скрыть окно
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Правила
			h2 Связаться с нами
			section.block-shadow
				.page-contact__info
					.info__block
						h3 Памятка для покупателей
						p Чтобы ознакомиться с часто задаваемыми вопросами, вы можете посетить нашу страницу <a href="404.html">Помощь.</a> <br />Если вы не можете найти ответ на свой вопрос, заполните форму ниже, чтобы связаться с нами
					.info__block
						h3 Памятка для продавцов
						p Если вы являетесь продавцом, который хочет продвигать свои продукты, вы можете создать учетную запись продавца. Чтобы узнать подробнее перейдите на страницу <a href="404.html">Селлер Центр</a>
				form(action="404.html").form
					.form__inner
						.form__lft
							label
								p
									b *
									span Имя
								input(placeholder="Ваше имя" required type="text")
							label
								p
									b *
									span Тема 
								input(placeholder="Тема сообщения" required type="text")
							label
								p
									b *
									span Категория
								.select
									.select__head
										span Категория
									.select__body
										span Категория
										span Общий вопрос
										span Финансовый вопрос
										span Жалоба
										span Технический вопрос
							label.label-comment
								p
									b 
									span Комментарий
								textarea(placeholder="Сообщение" required height="103")
						.form__rht
							label
								p
									b *
									span Покупатель или продавец
								.select
									.select__head
										span Покупатель
									.select__body
										span Покупатель
										span Продавец
							label
								p
									b *
									span Приоритет 
								.select
									.select__head
										span Низкий
									.select__body
										span Низкий
										span Нормальный
										span Высокий
							label
								p
									b *
									span E-mail
								input(placeholder="Ваш e-mail" required type="text")
							input(type="file" id="fl1")
							label(for="fl1").label-file
								span Прикрепить файл (не менее 3Мб)
								img(src="img/svg/ico52.svg" alt="Ico")
								span Загрузить
							.file-load
							label.label-comment_mob
								p
									b 
									span Комментарий
								textarea(placeholder="Сообщение" required height="103")
					button(type="submit" data-popup="success") Отправить
			section.page-contact__contacts
				a(href="mailto:support@doncashback.ru").contacts__item
					img(src="img/svg/mail.svg" alt="Email")
					span support@doncashback.ru
				a(href="tel:89094379078").contacts__item
					img(src="img/svg/phone.svg" alt="Email")
					span 8-909-437-90-78
			section.block-shadow.page-contact__requisites
				h3 Реквизиты ООО “ДонКешбэк”
				p Полное наименование: Общество с ограниченной ответственностью «ДонКешбэк»
				p ИНН: 6166122702 
				p КПП: 616601001
				p ОГРН: 1216100019310


			
			
			


	include includes/footer.pug



























	