extends includes/header-singin-seller.pug

block content

	main.page-deal
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				a(href="#") Мои ДонКешбэк
				a(href="#") Мои заказы
				span Кешбэк сделки
			.page-deal__top
				ol
					li.li_done
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Покупатель отправляет запрос
					li.li_current
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Продавец подтверждает запрос
					li
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Покупатель <br />совершает покупку
					li
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Покупатель отправляет отзыв
					li
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Продавец <br />возвращает кешбэк
				button.view-more Посмотреть все шаги
			.page-deal__switch
				input(type="radio" checked name="switchDeal")#swId1
				label(for="swId1").switch__item.li_current чат сделки
				input(type="radio" name="switchDeal")#swId2
				label(for="swId2").switch__item Информация о продукте
			.page-deal__bottom
				.page-deal__item
					h3.page-deal__title Чат сделки
					.page-deal__chat
						.chat__block
							.chat__data 21.10.2021
							.chat__text.chat__text_me
								.chat__from Покупатель:
								p Отправлен новый запрос на покупку. Ожидает подтверждения
								.chat__time
									span 22:59
									.read
										img(src="img/svg/ico55.svg" alt="Ico")
					.page-deal__textarea
						textarea(placeholder="Ваше сообщение")
						button
							img(src="img/svg/ico35.svg" alt="Ico")
							.btn-mob
								img(src="img/svg/ico34.svg" alt="Ico")
						.svgs
							input(type="file")#fileSms1
							label.files(for="fileSms1")
								img(src="img/svg/ico36.svg" alt="Ico")
							.smile.emoji-button
								img(src="img/svg/ico31.svg" alt="Ico")
							.emoji-block
								.smiles-emoji
					.loaded-file
				input(type="hidden")
				.page-deal__item
					h3.page-deal__title Информация о продукте
					.page-deal__info
						.info__head
							span Статус:
							p.p_red Истекший запрос - Время подтверждения заказа продавцом истекло
					.page-deal__info
						.info__head
							span Время на подтверждение заказа:
							p.p_red 00:00
					.page-deal__info
						.info__head
							.info__id
								span ID Заказа: 
								span 315
							.info__data
								span 21.10.2021
								span 22:58
					.page-deal__product
						.product__photo
							img(src="img/product-deal.jpg" alt="Photo")
						.product__info
							.product__top Наименование товара:
							.product__name Кольцо-держатель на палец LGD Magnests для телефона серебро
							.product__mini-info
								.product__saller
									span Продавец:
									p Бренд
									//- .quest
										img(src="img/svg/question1.svg" alt="Ico")
										.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
								.product__saller
									span Продается на 
									img(src="img/svg/yandex.svg" alt="Ico")
							.product__bottom
								.bottom__item
									span Цена
									b 235 ₽
								.bottom__item
									span Кешбэк
									b 135 ₽
								.bottom__item
									span Ставка
									b 100%
								//- .bottom__item.bottom__item_smile
								//- 	img(src="img/svg/ico59.svg" alt="Ico")
								//- 	
								//- 	.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
					//- span.page-deal__button.page-deal__button_disabled Перейти к покупке
					//- span.page-deal__button.page-deal__button_disabled Загрузить заказ
					//- a(href="#").page-deal__cancel Отмена




								


			
			
			


	include includes/footer-seller.pug



























	