
block content

	main.page-deal.page-deal-seller
		.popup.popup-info-getting-product
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico47.svg" alt="Ico")
				h2 Информация о получении товара
				.popup-info-product__input
					p ID Заказа:
					input(type="text" placeholder="315315")
					span 08.12.2021 02:00
				p Скриншот о получении товара:
				label(for="filePopup").file-popup
					img(src="img/screen.jpg" alt="Photo")
		.popup.popup-good-cancel
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				.popup__status-svg
					img(src="img/svg/ico56.svg" alt="Ico")
				p Вы отклонили запрос покупателя
				button.popup__close_button Свернуть окно
		.popup.popup-cancel-request
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				.popup__status-svg
					img(src="img/svg/ico57.svg" alt="Ico")
				p Вы уверены, что хотите отклонить запрос покупателя?
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="good-cancel") Да
		.popup.popup-success-buy-q
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				.popup__status-svg
					img(src="img/svg/ico57.svg" alt="Ico")
				p Вы подтверждаете запрос на покупку?
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="success-successful") Да
		.popup.popup-success-successful
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				.popup__status-svg
					img(src="img/svg/ico56.svg" alt="Ico")
				p Запрос успешно подтвержден
				button.popup__close_button Свернуть окно

		.popup.popup-success-complaint
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				.popup__status-svg
					img(src="img/svg/ico56.svg" alt="Ico")
				p Жалоба отправлена 
				button.popup__close_button Свернуть окно	
		.popup.popup-complaint
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Сообщить о покупателе
				.order-num
					b ID сделки:
					span 72
				label
					p Причина:
					.radios
						input(type="radio" name="rdInpName")#rdInp1-1
						label(for="rdInp1-1") Поддельный заказ
						input(type="radio" name="rdInpName")#rdInp1-2
						label(for="rdInp1-2") Злонамеренный возврат
						input(type="radio" name="rdInpName")#rdInp1-3
						label(for="rdInp1-3") Другое
					textarea(placeholder="Описание")
				.p-label Загрузить скриншот или другие доказательства:
				input(type="file")#flPop1
				label(for="flPop1").load-file
					span Изображение скриншота заказа (не менее 3Мб)
					.plus +
					b Загрузить
				.file-load
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="success-complaint") Да
		.popup.popup-cashback-without-review
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Кешбэк без отзыва
				.popup__status-svg
					img(src="img/svg/ico58.svg" alt="Ico")
				p Вы уверенны, что хотите вернуть денежные средства по сделке покупателю и Вам не нужен отзыв?
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="cashback-back") Да
		.popup.popup-cashback-back
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Возврат кешбэка
				p Возврат средств (кешбэк) производится Продавцом напрямую Покупателю по реквизитам указанным ниже. <br /><br />Обязательно прикрепите скриншот перевода денежных средств. <br />После этого денежные средства на депозите по этой сделке «разморозятся» и будут доступны для вывода.
				.order-num
					b Заказ на Маркетплейсе:
					span 01936976-0022
				ul.payment-method
					li.li_active Сбербанк
					li QIWI 
					li Тинькофф
					li Другой банк
				.inputs
					input(value="1111 2222 3333 4444" type="num" disabled)
					input(value="Иванов Иван Константинович" type="text" disabled)
				label
					p Общая сумма возврата:
					.input
						.lft ₽
						input(type="num" placeholder="1111")
				label
					p Сообщение покупателю:
					input(type="text" placeholder="Введите сообщение ")
				p.p-label Загрузить скриншот или другие доказательства:
				input(type="file")#flPop1-1
				label(for="flPop1-1").load-file
					span Изображение скриншота заказа (не менее 3Мб)
					.plus +
					b Загрузить
				.file-load
				.buttons
					button.popup__close_button.button-red-border Нет
					button.popup__close_button Да
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				a(href="#") Мои ДонКешбэк
				a(href="#") Мои заказы
				span Кешбэк сделки
			.page-deal__top
				ol
					li.li_done
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Покупатель отправляет запрос
					li.li_done
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Продавец подтверждает запрос
					li.li_done
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Покупатель <br />совершает покупку
					li.li_done
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Покупатель отправляет отзыв
					li.li_done.li_current
						.num
							.ico__checking
								img(src="img/svg/ico53.svg" alt="Ico")
							.ico__done
								img(src="img/svg/ico54.svg" alt="Ico")
						p Продавец <br />возвращает кешбэк
				button.view-more Посмотреть все шаги
			.page-deal__switch
				input(type="radio" checked name="switchDeal")#swId1
				label(for="swId1").switch__item.li_current чат сделки
				input(type="radio" name="switchDeal")#swId2
				label(for="swId2").switch__item Информация о продукте
			.page-deal__bottom
				.page-deal__item
					h3.page-deal__title Чат сделки
					.page-deal__chat
						.chat__block
							.chat__data 21.10.2021
							.chat__text.chat__text_me
								.chat__from Покупатель:
								p Отправлен новый запрос на покупку. Ожидает подтверждения
								.chat__time
									span 22:59
									.read
										img(src="img/svg/ico55.svg" alt="Ico")
					.page-deal__textarea
						textarea(placeholder="Ваше сообщение")
						button
							img(src="img/svg/ico35.svg" alt="Ico")
							.btn-mob
								img(src="img/svg/ico34.svg" alt="Ico")
						.svgs
							input(type="file")#fileSms1
							label.files(for="fileSms1")
								img(src="img/svg/ico36.svg" alt="Ico")
							.smile.emoji-button
								img(src="img/svg/ico31.svg" alt="Ico")
							.emoji-block
								.smiles-emoji
					.loaded-file
				input(type="hidden")
				.page-deal__item
					h3.page-deal__title Информация о продукте
					.page-deal__info
						.info__head
							span Статус:
							p Ожидает подтверждения продавца
					//- .page-deal__info
					//- 	.info__head
					//- 		span Время на подтверждение заказа:
					//- 		p 2 дн. 23:59
					.page-deal__info
						.info__head
							.info__id
								span ID Заказа: 
								span 315
							.info__data
								span 21.10.2021
								span 22:58
					.page-deal__product
						.product__photo
							img(src="img/product-deal.jpg" alt="Photo")
						.product__info
							.product__top Наименование товара:
							.product__name Кольцо-держатель на палец LGD Magnests для телефона серебро
							.product__mini-info
								.product__saller
									span Продавец:
									p Бренд
									//- .quest
										img(src="img/svg/question1.svg" alt="Ico")
										.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
								.product__saller
									span Продается на 
									img(src="img/svg/yandex.svg" alt="Ico")
							.product__bottom
								.bottom__item
									span Цена
									b 235 ₽
								.bottom__item
									span Кешбэк
									b 135 ₽
								.bottom__item
									span Ставка
									b 100%
								//- .bottom__item.bottom__item_smile
									img(src="img/svg/ico59.svg" alt="Ico")
									
									.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
					.page-deal__info
						.info__head
							span ID заказа на маркетплейсе:
							.num 777-46775-577666
							//- button.change(data-popup="info-product") Изменить
							button.show Показать
						.info__content
							.info__body
								.body__lft
									button(data-popup="info-getting-product")
										img(src="img/info-more1.jpg" alt="Photo")
								.body__rht 30.08.2021 17:43
					.page-deal__info
						.info__head
							span Информация о получении товара:
							button.show Показать
						.info__content
							.info__body
								.body__lft
									button(data-popup="info-getting-product")
										img(src="img/info-more1.jpg" alt="Photo")
								.body__rht 30.08.2021 17:43
					.page-deal__info
						.info__head
							span Информация об отзыве на маркетплейсе
							button.show Показать
						.info__content
							.info__body
								.body__lft
									a(href="#") uploads/16338914385147E8E3B3E-40B9-4838-BEA7-3B23AE30F03A.jpeg
									span Скриншот отзыва на маркетплейсе:
									button(data-popup="info-getting-product")
										img(src="img/info-more1.jpg" alt="Photo")
								.body__rht 30.08.2021 17:43
					//- button.page-deal__button(data-popup="cashback-without-review") Оформить кешбэк




								


			
			
			


	include includes/footer-seller.pug



























	