extends includes/header-singin-seller.pug

block content

	main.page-deal.page-deal-seller
		.popup.popup-good-cancel
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				.popup__status-svg
					<svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2009 0.684527C16.0393 1.31709 11.1421 3.57596 7.04096 7.67712C1.29791 13.4201 -1.14371 21.594 0.505135 29.5563C2.42753 38.8393 9.57902 46.0851 18.8465 48.1398C20.7087 48.5528 21.7484 48.6562 24.0321 48.6562C26.3157 48.6562 27.3555 48.5528 29.2177 48.1398C36.4735 46.5312 42.4813 41.753 45.7411 34.9981C47.5981 31.1502 48.3922 26.5247 47.9352 22.2187C47.3392 16.6031 44.9782 11.6404 41.019 7.68126C37.278 3.94023 32.7913 1.69226 27.4128 0.864079C26.4675 0.718522 23.0249 0.599915 22.2009 0.684527ZM26.9615 4.56801C30.3826 5.07183 33.4359 6.33518 36.2401 8.40717C39.8527 11.0765 42.5388 15.0976 43.715 19.5972C44.522 22.6839 44.5223 26.6453 43.7157 29.7393C43.3525 31.1327 42.9476 32.2114 42.253 33.6365C39.327 39.6396 33.5609 43.8389 26.9748 44.7636C24.3787 45.1281 21.3332 44.9714 18.961 44.3512C16.3396 43.6659 13.7523 42.4154 11.6831 40.8336C9.81839 39.4081 8.01601 37.4224 6.78318 35.4349C6.12761 34.3782 5.17144 32.3904 4.83393 31.3827C3.26172 26.6889 3.37704 21.5569 5.15453 17.1086C6.23495 14.4049 8.26487 11.4669 10.2802 9.68986C10.6902 9.32831 11.0469 9.0094 11.0727 8.98113C11.0986 8.95296 11.3732 8.73688 11.6831 8.50098C14.3602 6.46336 17.7095 5.06065 21.074 4.56792C22.7006 4.32976 25.3438 4.32976 26.9615 4.56801Z" fill="#21B396"/><path fill-rule="evenodd" clip-rule="evenodd" d="M46.1769 1.77142C45.5442 1.96253 44.4304 2.90856 43.751 3.83196C43.6218 4.00747 43.4724 4.19717 43.4189 4.25351C43.3655 4.30995 43.0953 4.63074 42.8187 4.96646C42.5419 5.30219 42.2897 5.598 42.258 5.62382C42.2263 5.64965 42.085 5.82563 41.9441 6.01476C41.8031 6.20399 41.6317 6.41528 41.5632 6.4843C41.4945 6.55342 41.0234 7.11696 40.5162 7.73676C39.5192 8.95503 38.817 9.78847 38.5732 10.0434C38.4885 10.1318 38.3829 10.2661 38.3384 10.3419C38.2938 10.4177 38.0806 10.6865 37.8646 10.9394C37.6485 11.1923 37.1251 11.8218 36.7014 12.3383C36.2777 12.8548 35.7523 13.4886 35.5339 13.7469C35.1201 14.2363 34.2984 15.2301 33.0927 16.6994C32.9892 16.8254 32.7548 17.1001 32.5718 17.3098C32.3887 17.5195 31.7574 18.2827 31.1689 19.0057C30.5803 19.7288 29.9694 20.4715 29.8113 20.656C29.2286 21.3362 28.6667 22.0093 28.2092 22.5751C27.9509 22.8945 26.7709 24.3226 25.5869 25.7488L23.4341 28.3418L23.2392 28.1247C23.1319 28.0053 22.8329 27.6599 22.5747 27.3572C22.3164 27.0544 21.414 26.0024 20.5694 25.0192C19.7248 24.036 18.8585 23.0228 18.6443 22.7675C17.8824 21.8596 16.842 20.693 16.5645 20.4352C16.4096 20.2914 15.9659 20.0165 15.5785 19.8244C14.9148 19.4955 14.8227 19.4753 13.9821 19.4753C13.0059 19.4753 12.4647 19.6272 11.766 20.0977C11.166 20.5016 10.483 21.318 10.2355 21.9269C9.93019 22.6778 9.86455 23.8024 10.0823 24.5516C10.2412 25.0982 10.8356 26.1093 11.2686 26.5697C11.3923 26.7012 11.747 27.1016 12.0569 27.4595C12.3668 27.8173 12.7314 28.238 12.867 28.3942C13.187 28.763 15.0134 30.905 15.4643 31.4404C15.6562 31.6683 15.8557 31.9008 15.9076 31.9569C15.9596 32.0131 16.2554 32.3548 16.565 32.7164C16.8746 33.0779 17.15 33.3948 17.177 33.4207C17.204 33.4465 17.4365 33.7209 17.6935 34.0304C17.9506 34.3399 18.2153 34.651 18.2818 34.7214C18.3483 34.7919 18.9968 35.5429 19.723 36.3901C20.822 37.6724 21.1482 37.9918 21.6682 38.2953C22.4592 38.7568 23.1024 38.9065 24.0199 38.8426C24.858 38.784 25.402 38.5881 26.0493 38.111C26.5014 37.7778 27.1292 37.1497 27.1292 37.0305C27.1292 36.9989 27.2511 36.797 27.4001 36.5819C27.6397 36.2362 28.0701 35.5647 29.6368 33.092C29.866 32.7304 30.3991 31.8987 30.8216 31.2436C31.2442 30.5885 32.0709 29.2996 32.6586 28.3794C33.2465 27.4592 33.7536 26.6851 33.7855 26.6593C33.8175 26.6334 33.8911 26.5278 33.949 26.4245C34.007 26.3212 34.4049 25.6873 34.8333 25.0159C35.584 23.8394 35.9203 23.3147 37.585 20.7246C38.0064 20.0689 38.8136 18.8066 39.3787 17.9196C39.9437 17.0326 40.4508 16.2575 40.5056 16.1971C40.5603 16.1368 40.6528 16.0044 40.7111 15.9031C40.8602 15.644 41.9883 13.8699 42.8884 12.4791C43.3062 11.8335 44.0106 10.7348 44.4539 10.0375C46.4469 6.9022 47.2538 5.66852 47.3307 5.6395C47.3761 5.62223 47.4134 5.55827 47.4134 5.49723C47.4134 5.43619 47.4916 5.23899 47.5872 5.05896C48.5 3.34044 48.1387 1.6639 46.8607 1.68775C46.6224 1.69217 46.3147 1.72982 46.1769 1.77142Z" fill="#21B396"/></svg>
				p Вы отклонили запрос покупателя
				button.popup__close_button Свернуть окно
		.popup.popup-cancel-request
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				.popup__status-svg
					<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36 21.0885V8.376L27.621 0H0V48H36V47.9115C42.7485 47.1615 47.997 41.4465 48 34.5C47.997 27.549 42.7485 21.834 36 21.0885ZM26.997 3.6195L32.379 9H26.997C26.997 9 26.997 3.6195 26.997 3.6195ZM3 45V2.997H24V11.9985H33V21.0885C30.372 21.3795 27.972 22.4235 26.022 24H6V27H23.2755C22.6575 27.924 22.161 28.9335 21.7845 30H6V33H21.0885C21.033 33.4935 21 33.9915 21 34.5C21 38.7435 22.962 42.528 26.025 45H3ZM34.5 44.8245C28.7985 44.811 24.186 40.1985 24.1725 34.5C24.186 28.7985 28.7985 24.186 34.5 24.1725C40.1985 24.186 44.811 28.7985 44.8245 34.5C44.811 40.1985 40.1985 44.811 34.5 44.8245Z" fill="#B80929"/><path d="M30 18H6V21H30V18Z" fill="#B80929"/><path d="M39 28.5L33 34.5L30 31.5L27 34.5L33 40.5L42 31.5L39 28.5Z" fill="#B80929"/></svg>
				p Вы уверены, что хотите отклонить запрос покупателя?
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="good-cancel") Да
		.popup.popup-success-buy-q
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				.popup__status-svg
					<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36 21.0885V8.376L27.621 0H0V48H36V47.9115C42.7485 47.1615 47.997 41.4465 48 34.5C47.997 27.549 42.7485 21.834 36 21.0885ZM26.997 3.6195L32.379 9H26.997C26.997 9 26.997 3.6195 26.997 3.6195ZM3 45V2.997H24V11.9985H33V21.0885C30.372 21.3795 27.972 22.4235 26.022 24H6V27H23.2755C22.6575 27.924 22.161 28.9335 21.7845 30H6V33H21.0885C21.033 33.4935 21 33.9915 21 34.5C21 38.7435 22.962 42.528 26.025 45H3ZM34.5 44.8245C28.7985 44.811 24.186 40.1985 24.1725 34.5C24.186 28.7985 28.7985 24.186 34.5 24.1725C40.1985 24.186 44.811 28.7985 44.8245 34.5C44.811 40.1985 40.1985 44.811 34.5 44.8245Z" fill="#B80929"/><path d="M30 18H6V21H30V18Z" fill="#B80929"/><path d="M39 28.5L33 34.5L30 31.5L27 34.5L33 40.5L42 31.5L39 28.5Z" fill="#B80929"/></svg>
				p Вы подтверждаете запрос на покупку?
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="success-successful") Да
		.popup.popup-success-successful
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				.popup__status-svg
					<svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2009 0.684527C16.0393 1.31709 11.1421 3.57596 7.04096 7.67712C1.29791 13.4201 -1.14371 21.594 0.505135 29.5563C2.42753 38.8393 9.57902 46.0851 18.8465 48.1398C20.7087 48.5528 21.7484 48.6562 24.0321 48.6562C26.3157 48.6562 27.3555 48.5528 29.2177 48.1398C36.4735 46.5312 42.4813 41.753 45.7411 34.9981C47.5981 31.1502 48.3922 26.5247 47.9352 22.2187C47.3392 16.6031 44.9782 11.6404 41.019 7.68126C37.278 3.94023 32.7913 1.69226 27.4128 0.864079C26.4675 0.718522 23.0249 0.599915 22.2009 0.684527ZM26.9615 4.56801C30.3826 5.07183 33.4359 6.33518 36.2401 8.40717C39.8527 11.0765 42.5388 15.0976 43.715 19.5972C44.522 22.6839 44.5223 26.6453 43.7157 29.7393C43.3525 31.1327 42.9476 32.2114 42.253 33.6365C39.327 39.6396 33.5609 43.8389 26.9748 44.7636C24.3787 45.1281 21.3332 44.9714 18.961 44.3512C16.3396 43.6659 13.7523 42.4154 11.6831 40.8336C9.81839 39.4081 8.01601 37.4224 6.78318 35.4349C6.12761 34.3782 5.17144 32.3904 4.83393 31.3827C3.26172 26.6889 3.37704 21.5569 5.15453 17.1086C6.23495 14.4049 8.26487 11.4669 10.2802 9.68986C10.6902 9.32831 11.0469 9.0094 11.0727 8.98113C11.0986 8.95296 11.3732 8.73688 11.6831 8.50098C14.3602 6.46336 17.7095 5.06065 21.074 4.56792C22.7006 4.32976 25.3438 4.32976 26.9615 4.56801Z" fill="#21B396"/><path fill-rule="evenodd" clip-rule="evenodd" d="M46.1769 1.77142C45.5442 1.96253 44.4304 2.90856 43.751 3.83196C43.6218 4.00747 43.4724 4.19717 43.4189 4.25351C43.3655 4.30995 43.0953 4.63074 42.8187 4.96646C42.5419 5.30219 42.2897 5.598 42.258 5.62382C42.2263 5.64965 42.085 5.82563 41.9441 6.01476C41.8031 6.20399 41.6317 6.41528 41.5632 6.4843C41.4945 6.55342 41.0234 7.11696 40.5162 7.73676C39.5192 8.95503 38.817 9.78847 38.5732 10.0434C38.4885 10.1318 38.3829 10.2661 38.3384 10.3419C38.2938 10.4177 38.0806 10.6865 37.8646 10.9394C37.6485 11.1923 37.1251 11.8218 36.7014 12.3383C36.2777 12.8548 35.7523 13.4886 35.5339 13.7469C35.1201 14.2363 34.2984 15.2301 33.0927 16.6994C32.9892 16.8254 32.7548 17.1001 32.5718 17.3098C32.3887 17.5195 31.7574 18.2827 31.1689 19.0057C30.5803 19.7288 29.9694 20.4715 29.8113 20.656C29.2286 21.3362 28.6667 22.0093 28.2092 22.5751C27.9509 22.8945 26.7709 24.3226 25.5869 25.7488L23.4341 28.3418L23.2392 28.1247C23.1319 28.0053 22.8329 27.6599 22.5747 27.3572C22.3164 27.0544 21.414 26.0024 20.5694 25.0192C19.7248 24.036 18.8585 23.0228 18.6443 22.7675C17.8824 21.8596 16.842 20.693 16.5645 20.4352C16.4096 20.2914 15.9659 20.0165 15.5785 19.8244C14.9148 19.4955 14.8227 19.4753 13.9821 19.4753C13.0059 19.4753 12.4647 19.6272 11.766 20.0977C11.166 20.5016 10.483 21.318 10.2355 21.9269C9.93019 22.6778 9.86455 23.8024 10.0823 24.5516C10.2412 25.0982 10.8356 26.1093 11.2686 26.5697C11.3923 26.7012 11.747 27.1016 12.0569 27.4595C12.3668 27.8173 12.7314 28.238 12.867 28.3942C13.187 28.763 15.0134 30.905 15.4643 31.4404C15.6562 31.6683 15.8557 31.9008 15.9076 31.9569C15.9596 32.0131 16.2554 32.3548 16.565 32.7164C16.8746 33.0779 17.15 33.3948 17.177 33.4207C17.204 33.4465 17.4365 33.7209 17.6935 34.0304C17.9506 34.3399 18.2153 34.651 18.2818 34.7214C18.3483 34.7919 18.9968 35.5429 19.723 36.3901C20.822 37.6724 21.1482 37.9918 21.6682 38.2953C22.4592 38.7568 23.1024 38.9065 24.0199 38.8426C24.858 38.784 25.402 38.5881 26.0493 38.111C26.5014 37.7778 27.1292 37.1497 27.1292 37.0305C27.1292 36.9989 27.2511 36.797 27.4001 36.5819C27.6397 36.2362 28.0701 35.5647 29.6368 33.092C29.866 32.7304 30.3991 31.8987 30.8216 31.2436C31.2442 30.5885 32.0709 29.2996 32.6586 28.3794C33.2465 27.4592 33.7536 26.6851 33.7855 26.6593C33.8175 26.6334 33.8911 26.5278 33.949 26.4245C34.007 26.3212 34.4049 25.6873 34.8333 25.0159C35.584 23.8394 35.9203 23.3147 37.585 20.7246C38.0064 20.0689 38.8136 18.8066 39.3787 17.9196C39.9437 17.0326 40.4508 16.2575 40.5056 16.1971C40.5603 16.1368 40.6528 16.0044 40.7111 15.9031C40.8602 15.644 41.9883 13.8699 42.8884 12.4791C43.3062 11.8335 44.0106 10.7348 44.4539 10.0375C46.4469 6.9022 47.2538 5.66852 47.3307 5.6395C47.3761 5.62223 47.4134 5.55827 47.4134 5.49723C47.4134 5.43619 47.4916 5.23899 47.5872 5.05896C48.5 3.34044 48.1387 1.6639 46.8607 1.68775C46.6224 1.69217 46.3147 1.72982 46.1769 1.77142Z" fill="#21B396"/></svg>
				p Запрос успешно подтвержден
				button.popup__close_button Свернуть окно

		.popup.popup-success-complaint
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				.popup__status-svg
					<svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.2009 0.684527C16.0393 1.31709 11.1421 3.57596 7.04096 7.67712C1.29791 13.4201 -1.14371 21.594 0.505135 29.5563C2.42753 38.8393 9.57902 46.0851 18.8465 48.1398C20.7087 48.5528 21.7484 48.6562 24.0321 48.6562C26.3157 48.6562 27.3555 48.5528 29.2177 48.1398C36.4735 46.5312 42.4813 41.753 45.7411 34.9981C47.5981 31.1502 48.3922 26.5247 47.9352 22.2187C47.3392 16.6031 44.9782 11.6404 41.019 7.68126C37.278 3.94023 32.7913 1.69226 27.4128 0.864079C26.4675 0.718522 23.0249 0.599915 22.2009 0.684527ZM26.9615 4.56801C30.3826 5.07183 33.4359 6.33518 36.2401 8.40717C39.8527 11.0765 42.5388 15.0976 43.715 19.5972C44.522 22.6839 44.5223 26.6453 43.7157 29.7393C43.3525 31.1327 42.9476 32.2114 42.253 33.6365C39.327 39.6396 33.5609 43.8389 26.9748 44.7636C24.3787 45.1281 21.3332 44.9714 18.961 44.3512C16.3396 43.6659 13.7523 42.4154 11.6831 40.8336C9.81839 39.4081 8.01601 37.4224 6.78318 35.4349C6.12761 34.3782 5.17144 32.3904 4.83393 31.3827C3.26172 26.6889 3.37704 21.5569 5.15453 17.1086C6.23495 14.4049 8.26487 11.4669 10.2802 9.68986C10.6902 9.32831 11.0469 9.0094 11.0727 8.98113C11.0986 8.95296 11.3732 8.73688 11.6831 8.50098C14.3602 6.46336 17.7095 5.06065 21.074 4.56792C22.7006 4.32976 25.3438 4.32976 26.9615 4.56801Z" fill="#21B396"/><path fill-rule="evenodd" clip-rule="evenodd" d="M46.1769 1.77142C45.5442 1.96253 44.4304 2.90856 43.751 3.83196C43.6218 4.00747 43.4724 4.19717 43.4189 4.25351C43.3655 4.30995 43.0953 4.63074 42.8187 4.96646C42.5419 5.30219 42.2897 5.598 42.258 5.62382C42.2263 5.64965 42.085 5.82563 41.9441 6.01476C41.8031 6.20399 41.6317 6.41528 41.5632 6.4843C41.4945 6.55342 41.0234 7.11696 40.5162 7.73676C39.5192 8.95503 38.817 9.78847 38.5732 10.0434C38.4885 10.1318 38.3829 10.2661 38.3384 10.3419C38.2938 10.4177 38.0806 10.6865 37.8646 10.9394C37.6485 11.1923 37.1251 11.8218 36.7014 12.3383C36.2777 12.8548 35.7523 13.4886 35.5339 13.7469C35.1201 14.2363 34.2984 15.2301 33.0927 16.6994C32.9892 16.8254 32.7548 17.1001 32.5718 17.3098C32.3887 17.5195 31.7574 18.2827 31.1689 19.0057C30.5803 19.7288 29.9694 20.4715 29.8113 20.656C29.2286 21.3362 28.6667 22.0093 28.2092 22.5751C27.9509 22.8945 26.7709 24.3226 25.5869 25.7488L23.4341 28.3418L23.2392 28.1247C23.1319 28.0053 22.8329 27.6599 22.5747 27.3572C22.3164 27.0544 21.414 26.0024 20.5694 25.0192C19.7248 24.036 18.8585 23.0228 18.6443 22.7675C17.8824 21.8596 16.842 20.693 16.5645 20.4352C16.4096 20.2914 15.9659 20.0165 15.5785 19.8244C14.9148 19.4955 14.8227 19.4753 13.9821 19.4753C13.0059 19.4753 12.4647 19.6272 11.766 20.0977C11.166 20.5016 10.483 21.318 10.2355 21.9269C9.93019 22.6778 9.86455 23.8024 10.0823 24.5516C10.2412 25.0982 10.8356 26.1093 11.2686 26.5697C11.3923 26.7012 11.747 27.1016 12.0569 27.4595C12.3668 27.8173 12.7314 28.238 12.867 28.3942C13.187 28.763 15.0134 30.905 15.4643 31.4404C15.6562 31.6683 15.8557 31.9008 15.9076 31.9569C15.9596 32.0131 16.2554 32.3548 16.565 32.7164C16.8746 33.0779 17.15 33.3948 17.177 33.4207C17.204 33.4465 17.4365 33.7209 17.6935 34.0304C17.9506 34.3399 18.2153 34.651 18.2818 34.7214C18.3483 34.7919 18.9968 35.5429 19.723 36.3901C20.822 37.6724 21.1482 37.9918 21.6682 38.2953C22.4592 38.7568 23.1024 38.9065 24.0199 38.8426C24.858 38.784 25.402 38.5881 26.0493 38.111C26.5014 37.7778 27.1292 37.1497 27.1292 37.0305C27.1292 36.9989 27.2511 36.797 27.4001 36.5819C27.6397 36.2362 28.0701 35.5647 29.6368 33.092C29.866 32.7304 30.3991 31.8987 30.8216 31.2436C31.2442 30.5885 32.0709 29.2996 32.6586 28.3794C33.2465 27.4592 33.7536 26.6851 33.7855 26.6593C33.8175 26.6334 33.8911 26.5278 33.949 26.4245C34.007 26.3212 34.4049 25.6873 34.8333 25.0159C35.584 23.8394 35.9203 23.3147 37.585 20.7246C38.0064 20.0689 38.8136 18.8066 39.3787 17.9196C39.9437 17.0326 40.4508 16.2575 40.5056 16.1971C40.5603 16.1368 40.6528 16.0044 40.7111 15.9031C40.8602 15.644 41.9883 13.8699 42.8884 12.4791C43.3062 11.8335 44.0106 10.7348 44.4539 10.0375C46.4469 6.9022 47.2538 5.66852 47.3307 5.6395C47.3761 5.62223 47.4134 5.55827 47.4134 5.49723C47.4134 5.43619 47.4916 5.23899 47.5872 5.05896C48.5 3.34044 48.1387 1.6639 46.8607 1.68775C46.6224 1.69217 46.3147 1.72982 46.1769 1.77142Z" fill="#21B396"/></svg>
				p Жалоба отправлена 
				button.popup__close_button Свернуть окно	
		.popup.popup-complaint
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				h2 Сообщить о покупателе
				.order-num
					b ID сделки:
					span 72
				label
					p Причина:
					.radios
						input(type="radio" name="rdInpName")#rdInp1-1
						label(for="rdInp1-1") Поддельный заказ
						input(type="radio" name="rdInpName")#rdInp1-2
						label(for="rdInp1-2") Злонамеренный возврат
						input(type="radio" name="rdInpName")#rdInp1-3
						label(for="rdInp1-3") Другое
					textarea(placeholder="Описание")
				p.p-label Загрузить скриншот или другие доказательства:
				input(type="file")#flPop1
				label(for="flPop1").load-file
					span Изображение скриншота заказа (не менее 3Мб)
					.plus +
					b Загрузить
				.file-load
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="success-complaint") Да
		.popup.popup-cashback-without-review
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				h2 Кешбэк без отзыва
				.popup__status-svg
					<svg width="57" height="49" viewBox="0 0 57 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M26.6923 0.810596C26.4145 0.886941 25.928 1.08987 25.6113 1.26156C24.5364 1.84436 24.0052 2.53845 21.648 6.44097C17.6004 13.1419 16.2277 15.4114 12.9937 20.7487C11.2285 23.6621 9.35551 26.7585 8.83167 27.6295C8.30773 28.5006 6.22554 31.9424 4.20454 35.278C2.18343 38.6136 0.414316 41.6363 0.272967 41.995C-0.0619293 42.8452 -0.0939494 44.4284 0.206185 45.2972C0.669271 46.6376 1.84426 47.8514 3.21071 48.401L3.84047 48.6543H28.0201H52.1997L52.8318 48.4001C54.1287 47.8786 55.2776 46.7301 55.7741 45.4585C55.9679 44.9626 56.0197 44.6035 56.0227 43.7394C56.0271 42.4044 55.852 41.9027 54.7457 40.0806C54.3263 39.3898 53.1066 37.3747 52.0353 35.6026C50.9641 33.8305 48.9404 30.4884 47.5386 28.1756C46.1367 25.8629 44.1139 22.5208 43.0436 20.7487C41.9732 18.9766 39.802 15.3888 38.2185 12.7757C36.6352 10.1626 34.618 6.82761 33.736 5.3645C32.0237 2.52425 31.4537 1.81716 30.4286 1.26145C29.3384 0.670467 27.8546 0.491457 26.6923 0.810596ZM28.5388 4.42489C28.7661 4.51751 29.0299 4.70176 29.125 4.83446C29.22 4.96716 30.573 7.18912 32.1317 9.77216C33.6905 12.3552 35.5074 15.3533 36.1693 16.4346C36.8313 17.5158 37.6793 18.9166 38.0537 19.5473C38.4281 20.178 39.7346 22.3406 40.9572 24.353C42.1797 26.3653 44.204 29.7074 45.4555 31.7799C46.707 33.8523 48.7545 37.2374 50.0053 39.3023C51.2562 41.3672 52.3265 43.2252 52.3836 43.4313C52.5139 43.9013 52.1811 44.6623 51.7434 44.8956C51.3081 45.1277 4.7321 45.1277 4.29676 44.8956C3.9089 44.6889 3.52674 43.8946 3.61743 43.4835C3.65537 43.3111 4.35477 42.0693 5.17161 40.7242C5.98846 39.3791 8.05277 35.9685 9.75894 33.1451C11.4651 30.3218 13.8613 26.3653 15.0835 24.353C16.3057 22.3406 17.6128 20.178 17.988 19.5473C18.3633 18.9166 19.523 16.9998 20.5652 15.2877C21.6075 13.5757 23.4465 10.5408 24.6519 8.54355C25.8573 6.54626 26.9641 4.79208 27.1112 4.6454C27.3505 4.40708 27.5571 4.31927 27.9905 4.27143C28.0646 4.26324 28.3113 4.33227 28.5388 4.42489ZM26.9721 15.8135C26.3379 16.0319 26.0461 16.2748 25.7709 16.8133C25.5958 17.1559 25.5832 17.4535 25.6394 19.9261C25.6956 22.4 25.7928 24.9888 26.0279 30.271C26.0987 31.8594 26.1367 32.1238 26.3241 32.3301C26.7079 32.7525 27.1555 32.9126 27.9653 32.9172C28.8595 32.9221 29.5621 32.6245 29.8142 32.1338C29.9282 31.9118 30.0014 30.8893 30.0973 28.1756C30.1684 26.1633 30.272 23.6813 30.3275 22.6601C30.4691 20.0539 30.4603 17.1839 30.3097 16.8915C29.7512 15.8065 28.3277 15.3467 26.9721 15.8135ZM27.5027 35.3916C25.5149 35.7751 24.7958 38.4208 26.3073 39.7897C26.8852 40.3131 27.2518 40.4555 28.0201 40.4551C28.8163 40.4548 29.4041 40.2126 29.8992 39.681C31.6279 37.8246 29.9994 34.9097 27.5027 35.3916Z" fill="#B80929"/></svg>
				p Вы уверенны, что хотите вернуть денежные средства по сделке покупателю и Вам не нужен отзыв?
				.buttons
					button.popup__close_button.button-red-border Нет
					button(data-popup="cashback-back") Да
		.popup.popup-cashback-back
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				h2 Возврат кешбэка
				p Возврат средств (кешбэк) производится Продавцом напрямую Покупателю по реквизитам указанным ниже. <br /><br />Обязательно прикрепите скриншот перевода денежных средств. <br />После этого денежные средства на депозите по этой сделке «разморозятся» и будут доступны для вывода.
				.order-num
					b Заказ на Маркетплейсе:
					span 01936976-0022
				ul.payment-method
					li.li_active Сбербанк
					li QIWI 
					li Тинькофф
					li Другой банк
				.inputs
					input(value="1111 2222 3333 4444" type="num" disabled)
					input(value="Иванов Иван Константинович" type="text" disabled)
				label
					p Общая сумма возврата:
					.input
						.lft ₽
						input(type="num" placeholder="1111")
				label
					p Сообщение покупателю:
					input(type="text" placeholder="Введите сообщение ")
				p.p-label Загрузить скриншот или другие доказательства:
				input(type="file")#flPop1-1
				label(for="flPop1-1").load-file
					span Изображение скриншота заказа (не менее 3Мб)
					.plus +
					b Загрузить
				.file-load
				.buttons
					button.popup__close_button.button-red-border Нет
					button.popup__close_button Да
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				a(href="#") Мои ДонКешбэк
				a(href="#") Мои заказы
				span Кешбэк сделки
			.page-deal__top
				ol
					li.li_done
						.num
							.ico__checking
								<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.625 3.01729V1.70115C10.9968 1.48438 11.25 1.08571 11.25 0.62499V0.31251C11.25 0.139775 11.1102 0 10.9375 0H0.31251C0.139775 0 0 0.139775 0 0.31251V0.62502C0 1.08571 0.253184 1.48438 0.62499 1.70118V3.01729C0.62499 4.25569 1.15295 5.44099 2.07337 6.26924L3.44086 7.5L2.07337 8.73076C1.15295 9.55901 0.62499 10.7443 0.62499 11.9827V13.2988C0.253184 13.5156 0 13.9143 0 14.375V14.6875C0 14.8602 0.139775 15 0.31251 15H10.9375C11.1103 15 11.25 14.8602 11.25 14.6875V14.375C11.25 13.9143 10.9968 13.5156 10.625 13.2988V11.9827C10.625 10.7443 10.0971 9.55901 9.17666 8.73076L7.80914 7.5L9.17663 6.26924C10.0971 5.44099 10.625 4.25566 10.625 3.01729ZM8.34047 5.34026L6.45691 7.03553C6.32508 7.15394 6.24999 7.3227 6.24999 7.5C6.24999 7.6773 6.32508 7.84608 6.45691 7.96447L8.34047 9.65974C8.9978 10.2515 9.375 11.0983 9.375 11.9827V13.125H8.59359L5.87493 9.50013C5.75713 9.34266 5.49284 9.34266 5.37504 9.50013L2.65641 13.125H1.875V11.9827C1.875 11.0983 2.2522 10.2514 2.90956 9.65971L4.79312 7.96444C4.92495 7.84603 5.00004 7.67728 5.00004 7.49997C5.00004 7.32267 4.92495 7.15389 4.79312 7.0355L2.90956 5.34023C2.2522 4.74853 1.875 3.90167 1.875 3.01729V1.875H9.375V3.01729C9.375 3.90167 8.9978 4.74853 8.34047 5.34026Z" fill="#D1DADE"/></svg>
							.ico__done
								<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.62228 16C7.27227 16 6.94067 15.8526 6.70733 15.5947L0.314956 8.47161C-0.13945 7.96808 -0.0964653 7.18822 0.407065 6.73996C0.910595 6.28555 1.69045 6.32854 2.13872 6.83207L7.46877 12.7762L15.5498 0.550224C15.9244 -0.0147126 16.6858 -0.168228 17.2508 0.200209C17.8157 0.574786 17.9692 1.33622 17.6008 1.90116L8.64777 15.4535C8.43898 15.7728 8.09511 15.9754 7.71439 16C7.68369 16 7.65299 16 7.62228 16Z" fill="#21B396"/></svg>
						p Покупатель отправляет запрос
					li.li_done
						.num
							.ico__checking
								<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.625 3.01729V1.70115C10.9968 1.48438 11.25 1.08571 11.25 0.62499V0.31251C11.25 0.139775 11.1102 0 10.9375 0H0.31251C0.139775 0 0 0.139775 0 0.31251V0.62502C0 1.08571 0.253184 1.48438 0.62499 1.70118V3.01729C0.62499 4.25569 1.15295 5.44099 2.07337 6.26924L3.44086 7.5L2.07337 8.73076C1.15295 9.55901 0.62499 10.7443 0.62499 11.9827V13.2988C0.253184 13.5156 0 13.9143 0 14.375V14.6875C0 14.8602 0.139775 15 0.31251 15H10.9375C11.1103 15 11.25 14.8602 11.25 14.6875V14.375C11.25 13.9143 10.9968 13.5156 10.625 13.2988V11.9827C10.625 10.7443 10.0971 9.55901 9.17666 8.73076L7.80914 7.5L9.17663 6.26924C10.0971 5.44099 10.625 4.25566 10.625 3.01729ZM8.34047 5.34026L6.45691 7.03553C6.32508 7.15394 6.24999 7.3227 6.24999 7.5C6.24999 7.6773 6.32508 7.84608 6.45691 7.96447L8.34047 9.65974C8.9978 10.2515 9.375 11.0983 9.375 11.9827V13.125H8.59359L5.87493 9.50013C5.75713 9.34266 5.49284 9.34266 5.37504 9.50013L2.65641 13.125H1.875V11.9827C1.875 11.0983 2.2522 10.2514 2.90956 9.65971L4.79312 7.96444C4.92495 7.84603 5.00004 7.67728 5.00004 7.49997C5.00004 7.32267 4.92495 7.15389 4.79312 7.0355L2.90956 5.34023C2.2522 4.74853 1.875 3.90167 1.875 3.01729V1.875H9.375V3.01729C9.375 3.90167 8.9978 4.74853 8.34047 5.34026Z" fill="#D1DADE"/></svg>
							.ico__done
								<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.62228 16C7.27227 16 6.94067 15.8526 6.70733 15.5947L0.314956 8.47161C-0.13945 7.96808 -0.0964653 7.18822 0.407065 6.73996C0.910595 6.28555 1.69045 6.32854 2.13872 6.83207L7.46877 12.7762L15.5498 0.550224C15.9244 -0.0147126 16.6858 -0.168228 17.2508 0.200209C17.8157 0.574786 17.9692 1.33622 17.6008 1.90116L8.64777 15.4535C8.43898 15.7728 8.09511 15.9754 7.71439 16C7.68369 16 7.65299 16 7.62228 16Z" fill="#21B396"/></svg>
						p Продавец подтверждает запрос
					li.li_done
						.num
							.ico__checking
								<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.625 3.01729V1.70115C10.9968 1.48438 11.25 1.08571 11.25 0.62499V0.31251C11.25 0.139775 11.1102 0 10.9375 0H0.31251C0.139775 0 0 0.139775 0 0.31251V0.62502C0 1.08571 0.253184 1.48438 0.62499 1.70118V3.01729C0.62499 4.25569 1.15295 5.44099 2.07337 6.26924L3.44086 7.5L2.07337 8.73076C1.15295 9.55901 0.62499 10.7443 0.62499 11.9827V13.2988C0.253184 13.5156 0 13.9143 0 14.375V14.6875C0 14.8602 0.139775 15 0.31251 15H10.9375C11.1103 15 11.25 14.8602 11.25 14.6875V14.375C11.25 13.9143 10.9968 13.5156 10.625 13.2988V11.9827C10.625 10.7443 10.0971 9.55901 9.17666 8.73076L7.80914 7.5L9.17663 6.26924C10.0971 5.44099 10.625 4.25566 10.625 3.01729ZM8.34047 5.34026L6.45691 7.03553C6.32508 7.15394 6.24999 7.3227 6.24999 7.5C6.24999 7.6773 6.32508 7.84608 6.45691 7.96447L8.34047 9.65974C8.9978 10.2515 9.375 11.0983 9.375 11.9827V13.125H8.59359L5.87493 9.50013C5.75713 9.34266 5.49284 9.34266 5.37504 9.50013L2.65641 13.125H1.875V11.9827C1.875 11.0983 2.2522 10.2514 2.90956 9.65971L4.79312 7.96444C4.92495 7.84603 5.00004 7.67728 5.00004 7.49997C5.00004 7.32267 4.92495 7.15389 4.79312 7.0355L2.90956 5.34023C2.2522 4.74853 1.875 3.90167 1.875 3.01729V1.875H9.375V3.01729C9.375 3.90167 8.9978 4.74853 8.34047 5.34026Z" fill="#D1DADE"/></svg>
							.ico__done
								<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.62228 16C7.27227 16 6.94067 15.8526 6.70733 15.5947L0.314956 8.47161C-0.13945 7.96808 -0.0964653 7.18822 0.407065 6.73996C0.910595 6.28555 1.69045 6.32854 2.13872 6.83207L7.46877 12.7762L15.5498 0.550224C15.9244 -0.0147126 16.6858 -0.168228 17.2508 0.200209C17.8157 0.574786 17.9692 1.33622 17.6008 1.90116L8.64777 15.4535C8.43898 15.7728 8.09511 15.9754 7.71439 16C7.68369 16 7.65299 16 7.62228 16Z" fill="#21B396"/></svg>
						p Покупатель <br />совершает покупку
					li.li_done
						.num
							.ico__checking
								<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.625 3.01729V1.70115C10.9968 1.48438 11.25 1.08571 11.25 0.62499V0.31251C11.25 0.139775 11.1102 0 10.9375 0H0.31251C0.139775 0 0 0.139775 0 0.31251V0.62502C0 1.08571 0.253184 1.48438 0.62499 1.70118V3.01729C0.62499 4.25569 1.15295 5.44099 2.07337 6.26924L3.44086 7.5L2.07337 8.73076C1.15295 9.55901 0.62499 10.7443 0.62499 11.9827V13.2988C0.253184 13.5156 0 13.9143 0 14.375V14.6875C0 14.8602 0.139775 15 0.31251 15H10.9375C11.1103 15 11.25 14.8602 11.25 14.6875V14.375C11.25 13.9143 10.9968 13.5156 10.625 13.2988V11.9827C10.625 10.7443 10.0971 9.55901 9.17666 8.73076L7.80914 7.5L9.17663 6.26924C10.0971 5.44099 10.625 4.25566 10.625 3.01729ZM8.34047 5.34026L6.45691 7.03553C6.32508 7.15394 6.24999 7.3227 6.24999 7.5C6.24999 7.6773 6.32508 7.84608 6.45691 7.96447L8.34047 9.65974C8.9978 10.2515 9.375 11.0983 9.375 11.9827V13.125H8.59359L5.87493 9.50013C5.75713 9.34266 5.49284 9.34266 5.37504 9.50013L2.65641 13.125H1.875V11.9827C1.875 11.0983 2.2522 10.2514 2.90956 9.65971L4.79312 7.96444C4.92495 7.84603 5.00004 7.67728 5.00004 7.49997C5.00004 7.32267 4.92495 7.15389 4.79312 7.0355L2.90956 5.34023C2.2522 4.74853 1.875 3.90167 1.875 3.01729V1.875H9.375V3.01729C9.375 3.90167 8.9978 4.74853 8.34047 5.34026Z" fill="#D1DADE"/></svg>
							.ico__done
								<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.62228 16C7.27227 16 6.94067 15.8526 6.70733 15.5947L0.314956 8.47161C-0.13945 7.96808 -0.0964653 7.18822 0.407065 6.73996C0.910595 6.28555 1.69045 6.32854 2.13872 6.83207L7.46877 12.7762L15.5498 0.550224C15.9244 -0.0147126 16.6858 -0.168228 17.2508 0.200209C17.8157 0.574786 17.9692 1.33622 17.6008 1.90116L8.64777 15.4535C8.43898 15.7728 8.09511 15.9754 7.71439 16C7.68369 16 7.65299 16 7.62228 16Z" fill="#21B396"/></svg>
						p Покупатель отправляет отзыв
					li.li_current
						.num
							.ico__checking
								<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.625 3.01729V1.70115C10.9968 1.48438 11.25 1.08571 11.25 0.62499V0.31251C11.25 0.139775 11.1102 0 10.9375 0H0.31251C0.139775 0 0 0.139775 0 0.31251V0.62502C0 1.08571 0.253184 1.48438 0.62499 1.70118V3.01729C0.62499 4.25569 1.15295 5.44099 2.07337 6.26924L3.44086 7.5L2.07337 8.73076C1.15295 9.55901 0.62499 10.7443 0.62499 11.9827V13.2988C0.253184 13.5156 0 13.9143 0 14.375V14.6875C0 14.8602 0.139775 15 0.31251 15H10.9375C11.1103 15 11.25 14.8602 11.25 14.6875V14.375C11.25 13.9143 10.9968 13.5156 10.625 13.2988V11.9827C10.625 10.7443 10.0971 9.55901 9.17666 8.73076L7.80914 7.5L9.17663 6.26924C10.0971 5.44099 10.625 4.25566 10.625 3.01729ZM8.34047 5.34026L6.45691 7.03553C6.32508 7.15394 6.24999 7.3227 6.24999 7.5C6.24999 7.6773 6.32508 7.84608 6.45691 7.96447L8.34047 9.65974C8.9978 10.2515 9.375 11.0983 9.375 11.9827V13.125H8.59359L5.87493 9.50013C5.75713 9.34266 5.49284 9.34266 5.37504 9.50013L2.65641 13.125H1.875V11.9827C1.875 11.0983 2.2522 10.2514 2.90956 9.65971L4.79312 7.96444C4.92495 7.84603 5.00004 7.67728 5.00004 7.49997C5.00004 7.32267 4.92495 7.15389 4.79312 7.0355L2.90956 5.34023C2.2522 4.74853 1.875 3.90167 1.875 3.01729V1.875H9.375V3.01729C9.375 3.90167 8.9978 4.74853 8.34047 5.34026Z" fill="#D1DADE"/></svg>
							.ico__done
								<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.62228 16C7.27227 16 6.94067 15.8526 6.70733 15.5947L0.314956 8.47161C-0.13945 7.96808 -0.0964653 7.18822 0.407065 6.73996C0.910595 6.28555 1.69045 6.32854 2.13872 6.83207L7.46877 12.7762L15.5498 0.550224C15.9244 -0.0147126 16.6858 -0.168228 17.2508 0.200209C17.8157 0.574786 17.9692 1.33622 17.6008 1.90116L8.64777 15.4535C8.43898 15.7728 8.09511 15.9754 7.71439 16C7.68369 16 7.65299 16 7.62228 16Z" fill="#21B396"/></svg>
						p Продавец <br />возвращает кешбэк
				button.view-more Посмотреть все шаги
			.page-deal__switch
				input(type="radio" checked name="switchDeal")#swId1
				label(for="swId1").switch__item.li_current чат сделки
				input(type="radio" name="switchDeal")#swId2
				label(for="swId2").switch__item Информация о продукте
			.page-deal__bottom
				.page-deal__item
					h3.page-deal__title Чат сделки
					.page-deal__chat
						.chat__block
							.chat__data 21.10.2021
							.chat__text.chat__text_me
								.chat__from Покупатель:
								p Отправлен новый запрос на покупку. Ожидает подтверждения
								.chat__time
									span 22:59
									.read
										<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.85836 5.68421C2.7271 5.68421 2.60275 5.63185 2.51525 5.54023L0.118108 3.00965C-0.0522936 2.83077 -0.0361745 2.55371 0.152649 2.39446C0.341473 2.23303 0.63392 2.2483 0.802019 2.42718C1.83361 3.51707 3.60585 3.38502 4.46453 2.15428L5.83118 0.195474C5.97165 -0.00522683 6.25718 -0.0597651 6.46903 0.0711269C6.68089 0.2042 6.73845 0.47471 6.60029 0.675411L3.24291 5.49005C3.16462 5.60349 3.03567 5.67548 2.8929 5.68421C2.88138 5.68421 2.86987 5.68421 2.85836 5.68421Z" fill="#767998"/><path d="M4.85823 5.68421C4.72698 5.68421 4.60263 5.63185 4.51513 5.54023L2.11799 3.00965C1.94758 2.83077 1.9637 2.55371 2.15253 2.39446C2.34135 2.23303 2.6338 2.2483 2.8019 2.42718C3.83349 3.51707 5.60573 3.38502 6.46441 2.15428L7.83106 0.195474C7.97152 -0.00522683 8.25706 -0.0597651 8.46891 0.0711269C8.68076 0.2042 8.73833 0.47471 8.60017 0.675411L5.24279 5.49005C5.1645 5.60349 5.03554 5.67548 4.89277 5.68421C4.88126 5.68421 4.86975 5.68421 4.85823 5.68421Z" fill="#767998"/></svg>
					.page-deal__textarea
						textarea(placeholder="Ваше сообщение")
						button
							<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="26" cy="26" r="26" fill="#495FEA"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14 13L40.4445 26.4629L14 39.9258L21.7778 26.4629L14 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
							.btn-mob
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.934 8.10195L3.0277 0.404924C1.97995 -0.102894 0.718946 0.334803 0.211086 1.38256C-0.047867 1.91681 -0.0695253 2.53547 0.151423 3.08657L2.63629 9.29658H20C19.8172 8.7727 19.4337 8.34295 18.934 8.10195Z" fill="#495FEA"/><path d="M2.63642 10.7012L0.151553 16.9126C-0.279638 17.997 0.249921 19.2257 1.33436 19.6569C1.57989 19.7546 1.8416 19.8053 2.10583 19.8064C2.4251 19.8064 2.74026 19.7344 3.02779 19.5956L18.9341 11.8958C19.4338 11.6548 19.8173 11.225 20.0001 10.7012H2.63642Z" fill="#495FEA"/></svg>
						.svgs
							input(type="file")#fileSms1
							label.files(for="fileSms1")
								<svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.14878 2.63907V10.1855C3.14878 10.5249 3.10665 10.8776 3.23211 11.193C3.43052 11.6917 4.07164 12.3859 6.10354 12.3859C8.96292 12.3859 8.96294 10.6952 8.96294 10.6952C8.96294 10.6952 8.96294 10.6952 8.96294 10.6952V2.22237C8.96294 2.22237 8.96294 2.22237 8.96294 2.22237C8.96294 2.22237 8.96294 0 4.89303 0C0.82312 0 0.82312 2.22237 0.82312 2.22237C0.82312 2.22237 0.82312 2.22237 0.82312 2.22237V10.6952C0.82312 10.6952 0.82312 13.8898 6.05586 13.8898C11.2886 13.8898 11.2886 10.6952 11.2886 10.6952V2.22237C11.2886 1.87513 10.1258 1.87513 10.1258 2.22237V10.0391C10.1258 10.4757 10.1848 10.9223 10.0732 11.3444C9.87249 12.1038 9.07146 13.2585 6.05586 13.2585C1.98595 13.2585 1.98595 10.6952 1.98595 10.6952V2.22237C1.98595 2.22237 1.98595 2.22237 1.98595 2.22237C1.98595 2.22236 1.98596 0.631355 4.89303 0.631355C7.80011 0.631355 7.80011 2.22237 7.80011 2.22237C7.80011 2.22237 7.80011 2.22237 7.80011 2.22237V10.6952V10.6952C7.80011 10.6952 7.80009 11.6915 6.10354 11.6915C5.08607 11.6915 4.6445 11.3331 4.45403 11.0462C4.3132 10.8342 4.31162 10.5677 4.31162 10.3131V2.63907C4.31162 2.29182 3.14878 2.29182 3.14878 2.63907Z" fill="#B1B1B1"/></svg>
							.smile.emoji-button
								<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.98555 0C7.32965 0 5.71093 0.469192 4.3341 1.34824C2.95727 2.22729 1.88416 3.47672 1.25047 4.93853C0.616787 6.40034 0.450986 8.00887 0.774036 9.56072C1.09709 11.1126 1.89448 12.538 3.06538 13.6569C4.23628 14.7757 5.7281 15.5376 7.35218 15.8463C8.97626 16.155 10.6597 15.9965 12.1895 15.391C13.7194 14.7855 15.027 13.7602 15.9469 12.4446C16.8669 11.129 17.3579 9.58225 17.3579 8C17.3554 5.879 16.4725 3.84556 14.903 2.34579C13.3334 0.846017 11.2053 0.0023935 8.98555 0ZM8.98555 15.0588C7.52446 15.0588 6.09618 14.6448 4.88133 13.8692C3.66648 13.0936 2.71962 11.9911 2.16048 10.7013C1.60135 9.41146 1.45505 7.99217 1.7401 6.62289C2.02514 5.25361 2.72872 3.99585 3.76187 3.00866C4.79502 2.02146 6.11133 1.34918 7.54434 1.07681C8.97736 0.804443 10.4627 0.944232 11.8126 1.4785C13.1625 2.01276 14.3162 2.91751 15.128 4.07833C15.9397 5.23914 16.373 6.6039 16.373 8C16.3707 9.87146 15.5917 11.6657 14.2068 12.989C12.8219 14.3123 10.9441 15.0567 8.98555 15.0588ZM12.8247 10.1177C12.4353 10.7612 11.8755 11.2956 11.2017 11.6671C10.5278 12.0385 9.76354 12.2341 8.98558 12.2341C8.20761 12.2341 7.44333 12.0386 6.76946 11.6671C6.09559 11.2956 5.53585 10.7613 5.14644 10.1178C5.11406 10.0643 5.09301 10.0052 5.08452 9.94395C5.07602 9.88269 5.08023 9.82043 5.09692 9.76072C5.1136 9.70102 5.14243 9.64504 5.18176 9.59598C5.22108 9.54692 5.27014 9.50574 5.32612 9.4748C5.3821 9.44386 5.44391 9.42375 5.50802 9.41563C5.57213 9.40751 5.63729 9.41154 5.69977 9.42748C5.76226 9.44342 5.82084 9.47097 5.87218 9.50855C5.92353 9.54612 5.96662 9.59299 5.99901 9.64648C6.37525 10.2675 6.95249 10.7548 7.64378 11.0352C8.27571 11.2906 8.97308 11.3598 9.64647 11.234C10.3199 11.1082 10.9386 10.793 11.4232 10.329C11.6365 10.1253 11.821 9.89579 11.9721 9.64641C12.0044 9.59285 12.0475 9.54592 12.0989 9.50828C12.1502 9.47064 12.2088 9.44305 12.2713 9.42707C12.3339 9.41108 12.399 9.40703 12.4632 9.41514C12.5274 9.42325 12.5892 9.44336 12.6452 9.47433C12.7012 9.50529 12.7503 9.5465 12.7897 9.5956C12.829 9.6447 12.8578 9.70072 12.8745 9.76047C12.8911 9.82022 12.8953 9.88252 12.8868 9.94382C12.8782 10.0051 12.8571 10.0642 12.8247 10.1177L12.8247 10.1177ZM5.20977 6.43137C5.20977 6.27625 5.25791 6.12461 5.3481 5.99563C5.4383 5.86665 5.56649 5.76612 5.71648 5.70676C5.86646 5.6474 6.0315 5.63187 6.19073 5.66213C6.34995 5.69239 6.49621 5.76709 6.611 5.87678C6.7258 5.98647 6.80397 6.12622 6.83564 6.27836C6.86731 6.4305 6.85106 6.5882 6.78893 6.73151C6.72681 6.87483 6.6216 6.99732 6.48662 7.0835C6.35163 7.16969 6.19294 7.21568 6.03059 7.21568C5.81297 7.21545 5.60433 7.13275 5.45045 6.98571C5.29657 6.83867 5.21001 6.63931 5.20977 6.43137ZM11.1197 6.43137C11.1197 6.27625 11.1678 6.12461 11.258 5.99563C11.3482 5.86665 11.4764 5.76612 11.6264 5.70676C11.7764 5.6474 11.9414 5.63187 12.1006 5.66213C12.2599 5.69239 12.4061 5.76709 12.5209 5.87678C12.6357 5.98647 12.7139 6.12622 12.7456 6.27836C12.7772 6.4305 12.761 6.5882 12.6989 6.73151C12.6367 6.87483 12.5315 6.99732 12.3965 7.0835C12.2616 7.16969 12.1029 7.21568 11.9405 7.21568C11.7229 7.21545 11.5143 7.13275 11.3604 6.98571C11.2065 6.83867 11.1199 6.63931 11.1197 6.43137Z" fill="#B1B1B1"/></svg>
							.emoji-block
								.smiles-emoji
					.loaded-file
				input(type="hidden")
				.page-deal__item
					h3.page-deal__title Информация о продукте
					.page-deal__info
						.info__head
							span Статус:
							p Ожидает подтверждения продавца
					//- .page-deal__info
					//- 	.info__head
					//- 		span Время на подтверждение заказа:
					//- 		p 2 дн. 23:59
					.page-deal__info
						.info__head
							.info__id
								span ID Заказа: 
								span 315
							.info__data
								span 21.10.2021
								span 22:58
					.page-deal__product
						.product__photo
							img(src="img/product-deal.jpg" alt="Photo")
						.product__info
							.product__top Наименование товара:
							.product__name Кольцо-держатель на палец LGD Magnests для телефона серебро
							.product__mini-info
								.product__saller
									span Продавец:
									p Бренд
									//- .quest
										img(src="img/svg/question1.svg" alt="Ico")
										.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
								.product__saller
									span Продается на 
									img(src="img/svg/yandex.svg" alt="Ico")
							.product__bottom
								.bottom__item
									span Цена
									b 235 ₽
								.bottom__item
									span Кешбэк
									b 135 ₽
								.bottom__item
									span Ставка
									b 100%
								//- .bottom__item.bottom__item_smile
									<svg width="66" height="66" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M46.451 0.05891C33.6143 1.37676 23.412 6.08273 14.8679 14.6268C2.9032 26.5913 -2.1835 43.6202 1.25158 60.2085C5.25658 79.548 20.1555 94.6435 39.4627 98.9242C43.3422 99.7844 45.5084 100 50.266 100C55.0237 100 57.1898 99.7844 61.0694 98.9242C76.1857 95.5728 88.7019 85.6181 95.4932 71.5456C99.3619 63.529 101.016 53.8926 100.064 44.9218C98.8225 33.2226 93.9038 22.8837 85.6556 14.6354C77.8618 6.84163 68.5144 2.15835 57.3091 0.432978C55.3398 0.129733 48.1678 -0.117364 46.451 0.05891ZM56.3691 8.1495C63.4963 9.19912 69.8574 11.8311 75.6995 16.1477C83.2257 21.7089 88.8216 30.0861 91.2722 39.4603C92.9534 45.891 92.954 54.1438 91.2736 60.5896C90.5169 63.4926 89.6735 65.7399 88.2263 68.7088C82.1305 81.2152 70.1178 89.9639 56.3967 91.8902C50.9881 92.6497 44.6435 92.3232 39.7013 91.0312C34.24 89.6034 28.8499 86.9982 24.5391 83.7028C20.6542 80.733 16.8992 76.5961 14.3309 72.4555C12.9651 70.254 10.973 66.1128 10.2699 64.0134C6.99447 54.2346 7.23471 43.5429 10.9378 34.2758C13.1887 28.643 17.4177 22.5222 21.6164 18.82C22.4705 18.0668 23.2136 17.4024 23.2674 17.3435C23.3212 17.2848 23.8935 16.8346 24.5391 16.3432C30.1162 12.0981 37.094 9.17584 44.1033 8.1493C47.4922 7.65315 52.9988 7.65315 56.3691 8.1495ZM35.2916 31.0563C34.0189 31.546 32.7347 32.7897 32.1237 34.1243C31.7113 35.0251 31.6507 35.4038 31.7131 36.6851C31.8322 39.1242 32.8548 40.6639 35.101 41.7857C37.3073 42.8875 40.469 42.0662 42.0393 39.9838C42.9598 38.7628 43.308 37.505 43.1769 35.8734C43.0527 34.3245 42.5209 33.2887 41.2751 32.1685C39.6108 30.6722 37.3714 30.2559 35.2916 31.0563ZM62.2716 30.8579C61.9341 30.962 61.2298 31.3335 60.7065 31.6833C57.6321 33.7377 57.3099 38.235 60.0589 40.7184C61.2453 41.7902 62.3812 42.2353 63.9549 42.2452C67.9977 42.2705 70.8466 38.235 69.4319 34.4872C68.5625 32.1839 66.7086 30.8346 64.2674 30.7286C63.5071 30.6955 62.6089 30.7536 62.2716 30.8579ZM30.0171 56.7466C29.0255 57.2054 28.5032 57.9324 28.4011 58.9967C28.3208 59.8313 28.413 60.1688 29.0911 61.5238C30.2792 63.8974 31.3721 65.4016 33.3265 67.3532C39.0956 73.1137 47.5742 75.4833 55.744 73.6184C61.5426 72.2949 66.3668 69.1314 69.6919 64.4716C71.0434 62.5778 72.178 60.2054 72.178 59.2734C72.178 57.709 70.6993 56.3818 69.1326 56.5402C67.9795 56.6568 67.3397 57.1692 66.6642 58.5174C64.5276 62.7812 61.1627 65.7976 56.7222 67.4299C54.584 68.216 52.8066 68.512 50.266 68.5051C47.6792 68.4983 45.9126 68.2017 43.7558 67.4128C39.2518 65.7652 36.0043 62.846 33.9189 58.57C33.6133 57.9436 33.1086 57.2494 32.7973 57.0278C32.0877 56.5224 30.7861 56.391 30.0171 56.7466Z" fill="#21B396"/></svg>
									
									.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
					.page-deal__info
						.info__head
							span ID заказа на маркетплейсе:
							.num 777-46775-577666
							//- button.change(data-popup="info-product") Изменить
							button.show Показать
						.info__content
							.info__body
								.body__lft
									button(data-popup="info-getting-product")
										img(src="img/info-more1.jpg" alt="Photo")
								.body__rht 30.08.2021 17:43
					.page-deal__info
						.info__head
							span Информация о получении товара:
							button.show Показать
						.info__content
							.info__body
								.body__lft
									button(data-popup="info-getting-product")
										img(src="img/info-more1.jpg" alt="Photo")
								.body__rht 30.08.2021 17:43
					.page-deal__info
						.info__head
							span Информация об отзыве на маркетплейсе
							button.show Показать
						.info__content
							.info__body
								.body__lft
									a(href="#") uploads/16338914385147E8E3B3E-40B9-4838-BEA7-3B23AE30F03A.jpeg
									span Скриншот отзыва на маркетплейсе:
									button(data-popup="info-getting-product")
										img(src="img/info-more1.jpg" alt="Photo")
								.body__rht 30.08.2021 17:43
					button.page-deal__button(data-popup="cashback-without-review") Оформить кешбэк




								


			
			
			


	include includes/footer-seller.pug



























	