extends includes/header-singin-seller.pug

block content

	.popup.popup-required
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico50.svg" alt="Ico")
			h2 Запрос на вывод денежных средств
			p Вывод средств возможен на банковскую карту <br />или на виртуальный кошелёк
			.radios
				input(type="radio" name="sex")#rd1
				label(for="rd1") Банковская карта
				input(type="radio" name="sex")#rd2
				label(for="rd2") Юмани
			input(type="text" value="3456 8787 8786 1122" placeholder="3456 8787 8786 1122")
			.you-can
				span 0 ₽
				span Всего доступно
			label
				p
					b Вывод средств сумма:
					span.span_green Минимальная сумма для вывода ₽50
				input(type="text" placeholder="50" value="50")
			.required__bottom
				.bottom__item
					.item__lft Вывод средств сумма
					.item__rht 50 ₽
				.bottom__item
					.item__lft Общая сумма на вывод
					.item__rht 47.75 ₽
			.buttons
				button.popup__close_button.button-red-border Отмена
				button(data-popup="success") Подтвердить
	main.page-deposit.pages-seller
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Продукты
			section.block-shadow.page-deposit__title
				h2 Информация о депозите средств
				.page-deposit__text
					p Кешбэк покупателю производится самим продавцом, на банковскую карту Тинькоф, сбербанк либо qiwi кошелёк (информация будет доступна продавцу уже на третьем шаге сделки).
					a(href="#") Для чего служит депозит?
					p Депозит необходим для предотвращения случаев не исполнения взятых продавцом на себя обязательств перед покупателем. <br />Все денежные средства на Депозите доступны для вывода, за исключением «замороженных» средств. Средства «замораживаются» для каждой «активной сделки» и «размораживаются» по завершению такой сделки. Сделка становится «активной» после подтверждения продавцом запроса на сделку. Денежные средства на Депозите задействуются в случае, если выбран тип сделки с возвратом средств («кешбэк сделка»), а именно: «Возврат После Отзыва, либо «Возврат После Доставки (Без Отзыва)».
			section.block-shadow.page-deposit__prices
				.page-deposit__block
					.page-deposit__item
						.item__lft
							.big 24999 ₽
							p Всего доступно
						.item__rht
							button.replenish Пополнить
							button.conclusion(data-popup="required") Вывод средств
					.page-deposit__item
						b 2499 ₽
						p Заморожено
					.page-deposit__item
						b 299 ₽
						p Всего пополнено
					.page-deposit__item
						b 0 ₽
						p Всего выведено
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="requests.html") Все депозиты
						li
							a(href="requests-new.html") Пополнено
						li
							a(href="404.html") Заморожено
						li
							a(href="404.html") Разморожено
						li
							a(href="404.html") Удержано
						li
							a(href="404.html") Вывод средств
				.table-ovf
					table
						thead
							tr
								td Дата
								td Сумма
								td ID Заказа
								td ID Запроса
								td Статус
						tbody
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_minus -134
								td
									p 455667
								td
									p 455667
								td
									p.td_frozen Заморожено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_plus +9134
								td
									p 455667
								td
									p 455667
								td
									p.td_replenished Пополнено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_minus -134
								td
									p 455667
								td
									p 455667
								td
									p.td_frozen Заморожено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_plus +9134
								td
									p 455667
								td
									p 455667
								td
									p.td_replenished Пополнено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_minus -134
								td
									p 455667
								td
									p 455667
								td
									p.td_frozen Заморожено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_plus +9134
								td
									p 455667
								td
									p 455667
								td
									p.td_replenished Пополнено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_minus -134
								td
									p 455667
								td
									p 455667
								td
									p.td_frozen Заморожено
							tr
								td
									p 29-09-2021 15:42
								td
									p.td_plus +9134
								td
									p 455667
								td
									p 455667
								td
									p.td_replenished Пополнено






								


			
			
			


	include includes/footer-seller.pug



























	