extends includes/header.pug

block content

	main.page-faq
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Часто задаваемые вопросы и помощь
			h2 Часто задаваемые  вопросы и помощь
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="404.html") Покупателю
						li
							a(href="404.html") Продавцу
				.page-faq__block.page-faq__block_active.page-faq__block_1
					.page-faq__lft
						nav.lft__menu
							ul
								li.li_active Покупка товара
								li Баллы
								li Возврат Средств
						.lft__make
							img(src="img/svg/question.svg" alt="Ico")
							span Не нашли ответ на свой вопрос?
							button Задать вопрос
					.page-faq__rht.page-faq__rht_active.page-faq__rht_1
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Что такое DonCashback сервис?
							.question__body
								p DonCashback - это Кешбэк сервис помогающий покупателям совершать выгодные покупки на самых популярных маркетплейсах страны, чтобы помочь сэкономить деньги. Каждый пользователь может выбрать продукты, которые он хотел бы купить, и приобрести их в итоге по самой низкой цене.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Какие маркетплейсы вы поддерживаете?
							.question__body
								p В настоящее время мы поддерживаем самые разные маркетплейсы страны, такие как: Яндекс.Маркет, Ozon, Wildberries, goods.ru, AliExpress, Goojox, CDEK маркет, Утконос, Авито, Lamoda, kupivip.ru, Всеинструменты.ру, berito, LEROYMERLIN, ROBO.MARKET и т.д.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как я могу получить денежные средства, если это Кешбэк сделка?
							.question__body
								p Есть 4 простых шага, чтобы получить возврат денежных средств:
								p <br />Шаг 1: Создайте учетную запись покупателя DonCashback и заполните необходимую информацию.<br />Шаг 2: Заявите о сделке и свяжитесь с продавцом или дождитесь одобрения сделки от продавца.<br />Шаг 3: После одобрения продавца купите товар на маркетплейсе и загрузите информацию о своем заказе в течение 26 часов.<br />Шаг 4: Поделитесь своим мнением о товаре.<br />Шаг 5: Продавец проверит информацию о вашем заказе и инициирует возврат средств.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как получить купон/скидку на товар?
							.question__body
								p Шаг 1. Найдите товар со скидкой, который вы хотите приобрести.<br />Шаг 2. Нажмите, «получить купон» на странице продукта. (Баллы не нужны)<br />Шаг 3. Скопируйте код и приобретите выбранный товар на маркетплейсе указав код купона при покупке.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Почему мой код купона недействителен при его использовании?
							.question__body
								p Коды купонов действительны только в течение времени, указанного в акции:
								p <br />1. Срок действия кода на маркетплейсе еще не начался. Пожалуйста, подождите немного и используйте его позже.<br />2. Срок действия промокода на маркетплейсе истек, если вы не воспользовались им вовремя. В этом случае вы можете запросить новый купон или выбрать другой товар.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Почему цена товара на DonCashback отличается от цены на маркетплейсе?
							.question__body
								p Продавец мог изменить цену на маркетплейсе, но не обновил цену на сайте DonCashback. Вы всегда можете отправить сообщение продавцу, чтобы подтвердить скидку еще раз, прежде чем совершать покупку.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как мне отправить информацию о моем заказе на DonCashback?
							.question__body
								p После завершения покупки в магазине продавца, пожалуйста, войдите в свой аккаунт и нажмите  Мои Заказы >  Добавить Информацию о Заказе, чтобы отправить информацию о заказе.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Почему мой запрос на сделку не сработал?
							.question__body
								p 1. Количество запросов на товар достигло предела, установленного продавцом.<br />2. Ваших доступных баллов недостаточно, чтобы претендовать на сделку.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как я могу оставить отзыв о продукте на DonCashback?
							.question__body
								p Получив свой товар и протестировав его, вы можете нажать на кнопку Оставить Отзыв, чтобы написать отзыв о товаре на DonCashback, а затем поделиться им на маркетплейсе.
					.page-faq__rht.page-faq__rht_2
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Что такое баллы? Как мне их использовать?
							.question__body
								p Чтобы получить квалификацию для покупки любого продукта и получения кэшбэка в DonCashback, требуется определенное количество баллов. Вам нужно будет обменять свои баллы на такие сделки в DonCashback. Если у вас нет баллов, вы не имеете права покупать какие-либо продукты. Очки можно заработать, заключая сделки, или вы можете купить баллы.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как мне понять сколько баллов мне доступно?
							.question__body
								p Войдите в свою учетную запись и перейдите в личный кабинет, увидете текущие доступные баллы на главной панели мониторинга. Или нажмите <a href="#">Мои Баллы</a> для получения подробной информации.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Где мне взять больше баллов, когда мне их не хватает?
							.question__body
								p 1. Приглашайте своих друзей и близких пользоваться сервисом DonCashback и на счёт поступят 2000 баллов за каждого приглашенного, совершившего хотя бы одну покупку;<br />2. Оставляйте отзывы о приобретенном товаре на сайте DonCashback (за каждый отзыв начисляются баллы, 500 едениц);<br />3. Отзыв на маркетплейсе, о купленном товаре приносит дополнительные 500 баллов покупателю;<br />4. Написав отзыв о самом сайте DonCashback пользователь получит 600 баллов (подробная информация доступна в личном кабинете, на странице <a href="#">Мои Баллы</a>)<br />5. Выполняйте задания доступные в личном кабинете, на странице <a href="#">Мои Баллы</a>;<br />6. Любой пользователь по желанию может купить баллы посетив страницу  <a href="#">Покупка Баллов</a>;<br />7. Совершение покупок продуктов с купонами - позволяет получить дополнительные баллы;<br />8. Выбирая продукты в разделе  <a href="#">БОЛЬШЕ БАЛЛОВ</a> также, как и продукты с купонами принесут дополнительные баллы;<br />9. Если вы сможете написать статью или снять видео о своем опыте с сервисом DonCashback, мы с радостью вознаградим вас дополнительными баллами.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Почему я не получил свои баллы за отзыв, которыв я написал?
							.question__body
								p После того, как вы оставите отзыв о DonCashback, мы проверим его в течение 24 часов. Пожалуйста, дождитесь верификации, а затем баллы будут добавлены на ваш счет.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Есть ли у баллов срок годности? Как я могу понять, что мои баллы не истечут?
							.question__body
								p Баллы имеют срок годности и действительны в течение 10 дней. Если в течение 10 дней с момента последнего входа в систему вы больше не посещали сервис под своим логином баллы будут сброшены до нуля (баллы, которые были куплены не имеют временных лимитов и доступны навсегда).
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Какие статусы есть у баллов и что они значат?
							.question__body
								p Баллы имеют 3 статуса: «Доступно», «Заморожено» и «Истекло».
								p <br />• «Доступно» означает, что эти баллы могут быть использованы в настоящее время для получения квалификации для покупки товаров.<br />• «Заморожено» означает, что баллы заморожены, потому что вы уже получили квалификацию для покупки продукта и получения кешбэка (но еще не заплатили за товар), и соответствующее количество баллов заморожено в ожидании окончания сделки.<br />• «Истекло» означает, что ваши баллы просрочены. В этом случае эти баллы больше не могут быть использованы или активированы снова.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Почему у меня заморозили баллы?
							.question__body
								p Когда вы получаете квалификацию на покупку продукта с получением кешбэка, определенное количество баллов замораживается автоматически. Если вы успешно приобрели продукт, замороженные баллы будут израсходованы и вычтены. Если нет, то эти замороженные баллы будут автоматически возвращены на ваш счет.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Я хочу отказаться от покупки продукта, но баллы уже заморожены, как вернуть баллы?
							.question__body
								p Если вы не хотите заключать сделку, пожалуйста, перейдите в раздел  <a href="#">Мои Заказы</a> под своим логином и нажмите «Отменить». Затем сделка будет отменена, а баллы будут возвращены на ваш счет.
					.page-faq__rht.page-faq__rht_3
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Покрываются ли какие-либо комиссии при кешбэке, например платежной системы?
							.question__body
								p Нет, мы не покрываем какие-либо комиссии. Кроме того, клиенты могут понести налог и дополнительные транспортные расходы на маркетплейсе.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Когда мои деньги будут отправлены на мой QIWI кошелек?
							.question__body
								p Как правило, после того, как продавец подтвердит, что ваш заказ действителен, вы получите возмещение на свой QIWI кошелек, Вы можете проверить статус кешбэка в разделе  Мои Заказы
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Мой заказ был успешно завершен, но почему я не увидел возврат кешбэка на мой QIWI кошелек?
							.question__body
								p 1. Пожалуйста, проверьте еще раз и убедитесь, что предоставленая вами информация о QIWI кошельке верна.<br />2. Пожалуйста, свяжитесь с продавцом для дальнейшего подтверждения и доказательства выполнения операции возврата.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как я могу изменить информацию о QIWI кошельке?
							.question__body
								p В настоящее время покупатели не могут изменить самостоятельно информацию о своем QIWI кошельке на DonCashback. Пожалуйста, свяжитесь с нашей службой поддержки клиентов (<a href="mailto:support@doncashback.ru">support@doncashback.ru</a>) если вы хотите изменить эту информацию.
				.page-faq__block.page-faq__block_2
					.page-faq__lft
						nav.lft__menu
							ul
								li.li_active Сделки
								li Предпочтительность
								li Оплата & Комиссия
						.lft__make
							img(src="img/svg/question.svg" alt="Ico")
							span Не нашли ответ на свой вопрос?
							button Задать вопрос
					.page-faq__rht.page-faq__rht_active.page-faq__rht_1
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Как работает DonCashback селлер централ?
							.question__body
								p Шаг 1: Создайте учетную запись продавца DonCashback (для этого вам нужно выбрать план, соответствующий вашим потребностям)<br />Шаг 2: Пополните депозит (только для «кешбэк сделок»)<br />Шаг 3: Подготовьте соответствующую информацию о продукте и создайте кампанию(ии).<br />Шаг 4: После того, как покупатели подадут заявки на ваш товар, вы можете проверить запросы в своем селлер централе продавца и одобрить их.<br />Шаг 5: Покупатели получают ваше одобрение и загружают информацию о своем заказе после покупки.<br />Шаг 6: Подтвердите свои заказы и инициируйте возврат покупателям.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Существуют ли какое-либо ограничение на количество размещения товаров?
							.question__body
								p В настоящее время существует два вида взаимодействия с сервисом:
								p <br />1. «Одноразовые Сделки» - минимум 10 заказов товара (количество размещаемых товаров: одна еденица).<br />2. «Подписка» - 3 плана подписки (5, 12 и 25 кампаний, простыми словами, 5 кампаний = 5 товаров). Одна кампания = размещение одного товара / лимит 50 заказов, которые вы можете предложить в рамках одной кампании.
								p <br />Для получения дополнительной информации, пожалуйста, перейдите на приветственную страницу Селлер Централ
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Какие маркетплейсы вы поддерживаете?
							.question__body
								p В настоящее время мы поддерживаем самые разные маркетплейсы страны, такие как: Яндекс.Маркет, Ozon, Wildberries, goods.ru, AliExpress, Goojox, CDEK маркет, Утконос, Авито, Lamoda, kupivip.ru, Всеинструменты.ру, berito, LEROYMERLIN, ROBO.MARKET и т.д.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Оставят ли покупатели отзыв о товаре после покупки?
							.question__body
								p Отзывы выгодны как покупателям, так и продавцам, поэтому мы ценим, что покупатели оставляют честные отзывы о товарах. Покупатели могут получать дополнительные бонусные баллы на покупку большего количества товаров. Это одна из важных составляющих сервиса DonCashback, но никто не может заставить покупателя оставить отзыв. Практика показала, что 89% + оставили отзывы в рамках каждой кампании.
								p <br />Продавцы могут связаться с покупателями для дальнейшего обсуждения и должны предлагать высококачественные продукты и отличное обслуживание клиентов, чтобы покупатель оставался довольным.
					.page-faq__rht.page-faq__rht_2
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Можно ли разместить товар на первом экране на главной странице?
							.question__body
								p Да, можно. Первый экран главной страницы является наиболее популярным и часто просматриваемым, так как при посещении сайта, первое, что видит покупатель - это «Рекомендуемые предложения» (первый экран). Чтобы разместить свое предложение в «Рекомендуемых предложениях», вы можете воспользоваться функционалом личного кабинета продавца посетив раздел <a href="#">Реклама</a>, как правило это могут быть продукты с привлекательной низкой ценой и большой скидкой.
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Что это за маркетинг по электронной почте который предлагает подписка?
							.question__body
								p Один из инструментов повышения узнаваемости продукта, сервиса DonCashback, посредством рассылки писем с содержанием предложений продавцов (продуктов) по электронной почте, тем самым формируя дополнительную вероятность увеличения общего коэффициента конверсии заказов таких товаров для продввцов.
					.page-faq__rht.page-faq__rht_3
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Есть ли комиссия за заказы?
							.question__body
								p Нет, комиссии на заказы не предусмотрены и отсутствуют на сервисе DonCashback. Продавец в соответствии со своими потребностями выбрает один из 4х планов.
								p <br />В настоящее время существует два вида взаимодействия с сервисом:
								p <br />1. «Одноразовые Сделки» - минимум 10 заказов товара.<br />2. «Подписка» - 3 плана подписки (5, 12 и 25 кампаний). Одна кампания = размещение одного товара / лимит 50 заказов, которые вы можете предложить в рамках одной кампании.
								p <br />Для получения дополнительной информации, пожалуйста, перейдите по ссылке в <a href="#">Селлер Централ</a>
						.question
							.question__head
								img(src="img/svg/arrows.svg" alt="arrow")
								span Если я выберу подписку, могу ли я отменить свой план подписки в любое время?
							.question__body
								p Да, вы можете отказаться от подписки в любое время (в свою очередь, продавец понимает, что в соответствии с <a href="#">Правилами Пользования</a> денежные средства использованные на оплату «плана» и/или рекламной Кампании обмену и возврату не подлежат.
								p <br />Чтобы отписаться, войдите в <a href="#">Селлер Централ</a>, перейдите на вкладку меню «Подписка», нажмите на кнопку «Отписаться».
				.lft__make.lft__make_mob
					img(src="img/svg/question.svg" alt="Ico")
					span Не нашли ответ на свой вопрос?
					button Задать вопрос
			



	.popup.popup-password-change
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico26.svg" alt="Close")
			h2 Изменить пароль
			form(action="404.html")
				label
					p Старый пароль:
					input(type="password" placeholder="********")
				label
					p Новый пароль:
					input(type="password" placeholder="********")
				label
					p Повторите пароль:
					input(type="password" placeholder="********")
				button Изменить пароль

	include includes/footer.pug



























	