extends includes/header.pug

block content

	main.page-index
		.wrapper

			section.recomended
				+titleH2('Рекомендуемые сделки')
				.products-block
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg', 'card-end')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')

			section.rekl-block
				a(href="404.html")
					img(src="img/rekl.png" alt="Rekl")

			section.points
				ol
					li
						.num
						p Регистрируйтесь на сервисе DonCashback
						img(src='img/svg/point1.svg' alt="Point")
					li
						.num
						p Найдите продукт из нашего каталога, совершите покупку
						img(src='img/svg/point2.svg' alt="Point")
					li
						.num
						p Пришлите информацию о заказе: ID заказа и скриншот
						img(src='img/svg/point3.svg' alt="Point")
					li
						.num
						p Поделитесь своим мнением о покупке
						img(src='img/svg/point4.svg' alt="Point")
					li
						.num
						p Получите до 100% кешбека обратно на карту или киви кошелек
						img(src='img/svg/point5.svg' alt="Point")
				.points__all Показать всю инструкцию

			section.rekl-block
				a(href="404.html")
					img(src="img/rekl.png" alt="Rekl")

			section.slider
				+titleH2('Кешбек до 99%', '1', '1')
				.slider__block
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')

			section.slider
				+titleH2('С купонами', '1', '1')
				.slider__block
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')

			section.slider
				+titleH2('Больше баллов', '1', '1')
				.slider__block
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')
					+card('Yarche! Батончик глазированны..', '3699 ₽', 'img/prod1.jpg')

			section.slider.slider-reviews
				+titleH2('Отзывы Пользователей Сайта DonCashback', '1', '1')
				.slider-reviews__block
					.review__item
						.item__stars
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
					.review__item
						.item__stars
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" stroke-width="2"/></svg>
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
					.review__item
						.item__stars
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52
					.review__item
						.item__stars
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
							.star
								<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4002 12.5153L18.1269 13.2023L17.4002 12.5153C16.9875 12.9519 16.7928 13.5509 16.8701 14.1467L17.6197 19.923L12.3577 17.4252L11.9288 18.3286L12.3577 17.4252C11.8149 17.1675 11.1851 17.1675 10.6423 17.4252L11.0712 18.3286L10.6423 17.4252L5.38032 19.923L6.12985 14.1467C6.20716 13.5509 6.01254 12.9519 5.59979 12.5153L1.59815 8.28269L7.32341 7.21055C7.91393 7.09997 8.42347 6.72977 8.71113 6.20231L11.5 1.08858L14.2889 6.20231C14.5765 6.72977 15.0861 7.09997 15.6766 7.21055L21.4018 8.28269L17.4002 12.5153Z" stroke="#FDD237" fill="#FDD237" stroke-width="2"/></svg>
						p.item__text Сделала несколько покупок, все работает как и обещали (возврат кешбэком), двойное удовольствие, когда получаешь кешбэк, спасибо большое организаторам🔥🔥🔥
						.item__bottom
							.item__name Happy shopper
							.item__data 2021-08-30 17:43:52


	include includes/footer.pug



























	