extends includes/header-singin.pug

block content

	main.instr.instr-seller
		.wrapper
			h2 Информация для Продавца
			.instr__sides
				.lft
					.instr__item
						.num 01
						p Продавец может создать следующие типы рекламных кампаний:
						ul
							li «Кешбэк после отзыва» — Продавец отправляет денежные средства (далее — кешбэк) после написания отзыва Покупателем;
							li «Купоны» — Продавец размещает товар на маркетплейсе (далее — МП) с возможностью применения промо-кода со скидкой. Не все МП дают такую возможность, например на AliExpress такая возможность есть, а на Wildberries нет. Сделка предусматривает написание отзыва Покупателем;
							li «Кешбэк после доставки (без отзыва)» — подходит Продавцам, которым нужны выкупы без отзывов. Продавец возвращает кешбэк после получениятовара Покупателем.
					.instr__item
						.num 02
						p Выбрав подходящий тип кампании, Продавец при создании карточки товара указывает условия сделки, данные о продукте, такие как: наименование, описание, цена, изображения, размер кешбэка и срок возврата (не более 21 календарного дня со дня получения товара Покупателем. Рекомендуем указывать минимально возможный срок, но не менее срока возврата товара, так как чем быстрее Продавец вернёт кешбэк, тем быстрее разморозятся средства на депозите и тем меньше денег понадобится использовать в обороте для Сделок.) и т. д.
					.instr__item
						.num Депозит
						p Для подтверждения запроса у Продавца есть 72 часа. Для Сделки с кешбэком на депозите должна находиться сумма, эквивалентная размеру кешбэка. Для этого Продавцу необходимо пополнить депозит (подробнее читайте в Правилах пользования п 2.1.4. и п. 3). <br />Возврат кешбэка за покупку производится самим Продавцом, согласно реквизитам, указанных Покупателем (реквизиты доступны на этапе завершения Сделки после нажатия кнопки «Оформить кешбэк»). Сделка <br />проходит строго в рамках указанных Продавцом условий. Карточка товара появится на сайте после модерации, при этом информация продублируется в Телеграмм-группе для Покупателей.
				.rht
					h3 Как это работает?
					.widget
						<iframe src="https://www.youtube.com/embed/sQ42vhdXSc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.rht__item
						.item__top
							h3 Общая информация
						.item__body
							p Любая сделка делится на определенные шаги. Каждый шаг имеет статус. Вся информация Продавцу доступна на индивидуальной странице сделки. 
					.rht__item
						.item__top
							h3 Правила пользования
						.item__body
							p Необходимо поддерживать информацию о товаре актуальной (цена, условия и т.д.), оставлять чёткие понятные инструкции и условия, чтобы не вводить в заблуждение Покупателя. За нарушение правил использования Сервиса Продавцу будет сделано предупреждение, за серьёзное нарушение последует бан без возврата денежных средств. Пожалуйста, будьте внимательны и ответственны, не нарушайте правила сервиса!
			input(type="checkbox")#ch11
			label.checkbox(for="ch11") Я ознакомился(ась) с инструкцией и согласен(а) с правилами сервиса
			button Создать карточку товара

			
			
			
			


	include includes/footer.pug



























	