extends includes/header-singin.pug

block content

	main.instr.instr-buyer
		.wrapper
			h2 Условия участия в рекламной кампании
			.instr__sides
				.lft
					.instr__item.instr__item_green
						.num Важно
						p <span>Наименование продукта:</span> Носки мужские
						p <span>Возврат кешбэка через:</span> <span class="green">21 дн. </span>
						p <span>Продается на:</span> Яндекс
						p <span>Если отзыв удален или исключен из рейтинга, возврат кешбэка:</span> Да/Нет
						span Условия:
						p 1. В поисковую строку на сайте Вайлдберриз ввести запрос "слова".
						p 2. Поставить фильтр по цене в диапазоне от 0 до 00 р.
						p 3. Дальше последовательно пролистать каждую страницу с товаром, заходя на каждой странице на 2-3 товара, до того момента, пока не найдете наш товар.
						p 4. На каждой карточке товара провести некоторое время, открывая характеристики, описание и пролистывая фото.
						p 5. После проделанных действий, когда дошли до карточки с нашим товаром, зайдите на неё, откройте фотографии, характеристики, описание и совершите заказ.
					h2 Общая информация для Покупателя
					.instr__item
						.num 01
						p Отправьте запрос на покупку. После подтверждения запроса Продавцом Вам на E-mail придёт уведомление. У Вас будет 26 часов, чтобы совершить покупку и загрузить информацию о заказе на Сервис, а именно:
						ul
							li номер заказа;
							li скриншот оплаченной покупки.
						p Если Вы не загрузите информацию о покупке в течение отведённого времени, сделка будет автоматически закрыта как несостоявшаяся.
					.instr__item
						.num 02
						p Для покупки перейдите на МП, где продаётся выбранный товар. Покупателю может быть доступна прямая ссылка или инструкция по поиску товара на МП. В любом случае мы рекомендуем находить товар через поиск по названию товара, ключевым словам или по названию самого бренда (наименование Продавца). При покупке обязательно обратите внимание, соответствует ли цена, заявленная Продавцом цене на МП, если меньше — радуемся, если больше, то обязательно сообщите нам в поддержку! Не применяйте какие-либо скидки и промо-коды, не относящиеся к Сделке, в противном случае Сделка будет считаться недействительной! 
					.instr__item
						.num 03
						p После получения товара на руки необходимо подтвердить получение нажав кнопку «товар получен» на индивидуальной странице сделки. Первый отзыв пишется и остается на сайте https://doncashback.ru. Если в условиях рекламной кампании Продавца есть требование оставить отзыв, продублируйте отзыв на МП в соответствии с условиями сделки и прикрепите скриншот своего отзыва.
					.instr__item
						.num 04
						p Возврат кешбэка за покупку производится самим Продавцом, согласно указанных Вами реквизитов в Личном Кабинете. У Продавца есть определенное рекламной кампанией количество дней на возврат кешбэка со дня получения Вами товара, даже если товар из категории «не подлежащих возврату», но не более 21 дня. 
				.rht
					h3 Как это работает?
					.widget
						<iframe src="https://www.youtube.com/embed/sQ42vhdXSc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.rht__item
						.item__top
							h3 Общая информация
						.item__body
							p Любая Сделка делится на определённые шаги. Каждый шаг имеет определённый статус. Вся необходимая информация, в том числе чат с Продавцом, доступны в ЛК на индивидуальной странице сделки. <br/><br/>На сайте https://doncashback.ru реализована система баллов, где один балл = один рубль. Как правило для участия в сделке Покупателю необходимо иметь на счету эквивалентное кешбэку количество баллов. В разделе «БОЛЬШЕ БАЛЛОВ» Вы сможете найти Сделки, которые «приносят»/добавляют баллы. Также баллы легко заработать, подробнее смотрите в разделе «Мои баллы».
					.rht__item
						.item__top
							h3 Правила пользования
						.item__body
							p За нарушение правил использования нашего Сервиса, Вам будет сделано предупреждение, за серьёзное нарушение последует немедленный бан. Пожалуйста, будьте внимательны и ответственны, не нарушайте правила сервиса! 
			input(type="checkbox")#ch11
			label.checkbox(for="ch11") Я ознакомился(ась) с инструкцией и согласен(а) с правилами сервиса, <br />а также с условиями Продавца на участие в рекламной кампании 
			button Отправить запрос на покупку
			
			
			
			


	include includes/footer.pug



























	