extends includes/header-singin.pug

block content

	main.page-my-profile
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Мой ДонКешбэк
			.page-my-profile__content
				.page-my-profile__item.page-my-profile__box
					h3 Мой Профиль
					.box__photo
						img(src="img/single1.jpg" alt="Photo")
					input(type="file")#flPhoto
					label(for="flPhoto").item__photo
						img(src="img/svg/ico67.svg" alt="Ico")
						span Добавить фото
					.item__name Happy shopper
					.item__email happyrus213@gmail.com
					a(href="#").item__note
						.ico
							img(src="img/svg/ico68.svg" alt="Ico")
							.count 2
						span Все сообщения
				.page-my-profile__item.page-my-profile__box
					h3 Мои баллы
					.item__scores
						.scores__top
							img(src="img/svg/ico44.svg" alt="Ico")
							span 2758
						.scores__bottom
							span Доступно
							img(src="img/svg/ico69.svg" alt="Ico")
							.smile__block «Доступные баллы» означает, что в настоящее время эти баллы можно использовать для покупки продуктов. Срок действия баллов истечет, если вы не войдете в систему в течение 10 дней (за исключением купленных баллов).
					.item__scores
						.scores__top
							img(src="img/svg/ico44.svg" alt="Ico")
							span 2758
						.scores__bottom
							span Замороженные Баллы
							img(src="img/svg/ico69.svg" alt="Ico")
							.smile__block Баллы со статусом «заморожено», показывают те баллы, которые сейчас задействованы в сделках. Это происходит путем запроса на сделки, щелкнув «Отправить Запрос» на индивидуальной странице о продукте. Эти баллы будут разморожены, когда сделка истечет или будет отменена. После подтверждения информации о вашем заказе на торговой площадке эти баллы будут вычтены.
					a(href="#").bonus Суточный Бонус
					a(href="#").more-scores Больше Баллов
				.page-my-profile__item.page-my-profile__box
					h3 Мои заказы
					.page-my-profile__orders
						.orders__item
							.item__top 2758
							a(href="#").item__bottom 100% Кешбэк
						.orders__item
							.item__top 11
							a(href="#").item__bottom Кешбэк до 99%
						.orders__item
							.item__top 45
							a(href="#").item__bottom Купонные
						.orders__item
							.item__top 0
							a(href="#").item__bottom Больше Баллов
						.orders__item
							.item__top 0
							a(href="#").item__bottom Подтвержденные
						a(href="#").orders__more Мои заказы
				.page-my-profile__item
					.page-my-profile__box
						h3 Избранное
						.item__block 2758
						a(href="#") Избранное
					.page-my-profile__box
						h3 Переходов Друзей по Ссылке
						.item__block 0
						a(href="#") Создать ссылку


								


			
			
			


	include includes/footer.pug



























	