extends includes/header-singin.pug

block content

	main.page-my-profile
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Мой ДонКешбэк
			.page-my-profile__content
				.page-my-profile__item.page-my-profile__box
					h3 Мой Профиль
					.box__photo
						img(src="img/single1.jpg" alt="Photo")
					input(type="file")#flPhoto
					label(for="flPhoto").item__photo
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8552 21.5531C19.8966 21.5531 19.938 21.5531 19.9877 21.5531C20.0043 21.5531 20.0208 21.5531 20.0374 21.5531C20.0622 21.5531 20.0954 21.5531 20.1202 21.5531C22.5472 21.5117 24.5104 20.6585 25.9599 19.0267C29.149 15.4318 28.6189 9.269 28.5609 8.68089C28.3538 4.26589 26.2664 2.15366 24.5435 1.16794C23.2596 0.430731 21.7603 0.0331332 20.0871 0H20.0291C20.0208 0 20.0043 0 19.996 0H19.9463C19.0268 0 17.2211 0.149099 15.4899 1.13481C13.7504 2.12052 11.6299 4.23276 11.4228 8.68089C11.3648 9.269 10.8347 15.4318 14.0237 19.0267C15.465 20.6585 17.4282 21.5117 19.8552 21.5531ZM13.6344 8.88797C13.6344 8.86312 13.6427 8.83827 13.6427 8.8217C13.916 2.88258 18.1322 2.24477 19.938 2.24477H19.9711C19.9877 2.24477 20.0125 2.24477 20.0374 2.24477C22.2739 2.29447 26.0759 3.20563 26.3327 8.8217C26.3327 8.84655 26.3327 8.8714 26.341 8.88797C26.3493 8.94595 26.9291 14.5786 24.295 17.544C23.2513 18.7202 21.8597 19.3001 20.0291 19.3166C20.0125 19.3166 20.0043 19.3166 19.9877 19.3166C19.9711 19.3166 19.9628 19.3166 19.9463 19.3166C18.1239 19.3001 16.7241 18.7202 15.6887 17.544C13.0629 14.5952 13.6261 8.93767 13.6344 8.88797Z" fill="#B1B1B1"/><path d="M37.0098 31.7754C37.0098 31.7671 37.0098 31.7588 37.0098 31.7505C37.0098 31.6842 37.0015 31.618 37.0015 31.5434C36.9518 29.9033 36.8441 26.0682 33.2491 24.8423C33.2243 24.834 33.1912 24.8257 33.1663 24.8174C29.4305 23.8648 26.3243 21.7112 26.2912 21.6863C25.7859 21.3301 25.0901 21.4544 24.7339 21.9597C24.3777 22.4649 24.502 23.1607 25.0073 23.5169C25.1481 23.6163 28.4448 25.9108 32.5699 26.9711C34.4999 27.6586 34.7153 29.7211 34.7733 31.6097C34.7733 31.6843 34.7733 31.7505 34.7816 31.8168C34.7898 32.5623 34.7401 33.7137 34.6076 34.3763C33.2657 35.1384 28.0058 37.7725 20.0042 37.7725C12.0356 37.7725 6.74262 35.1301 5.39245 34.368C5.25991 33.7054 5.20193 32.554 5.2185 31.8085C5.2185 31.7422 5.22678 31.676 5.22678 31.6014C5.28476 29.7128 5.50013 27.6503 7.43013 26.9628C11.5552 25.9025 14.852 23.5998 14.9928 23.5086C15.4981 23.1525 15.6223 22.4567 15.2661 21.9514C14.9099 21.4461 14.2141 21.3219 13.7089 21.678C13.6757 21.7029 10.5861 23.8565 6.83374 24.8091C6.8006 24.8174 6.77575 24.8257 6.7509 24.834C3.15596 26.0682 3.04827 29.9033 2.99858 31.5352C2.99858 31.6097 2.99857 31.676 2.99029 31.7422C2.99029 31.7505 2.99029 31.7588 2.99029 31.7671C2.98201 32.1978 2.97373 34.4095 3.41274 35.5194C3.49557 35.7348 3.64467 35.917 3.84347 36.0413C4.09197 36.2069 10.0477 40.0007 20.0124 40.0007C29.9772 40.0007 35.9329 36.1986 36.1814 36.0413C36.3719 35.917 36.5293 35.7348 36.6122 35.5194C37.0263 34.4177 37.018 32.2061 37.0098 31.7754Z" fill="#B1B1B1"/></svg>
						span Добавить фото
					.item__name Happy shopper
					.item__email happyrus213@gmail.com
					a(href="#").item__note
						.ico
							<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="5" fill="#F9F9F9"/><path d="M28.9825 27.8952C28.909 27.8475 28.356 27.46 27.8021 26.2879C26.7851 24.1355 26.5716 21.1033 26.5716 18.9387C26.5716 18.9293 26.5714 18.92 26.5711 18.9106C26.56 16.0498 24.847 13.5837 22.3956 12.4772V10.785C22.3956 9.24932 21.1483 8 19.6152 8H19.3848C17.8517 8 16.6044 9.24932 16.6044 10.785V12.4771C14.1449 13.5872 12.4284 16.0659 12.4284 18.9387C12.4284 21.1033 12.2149 24.1354 11.1979 26.2879C10.6441 27.46 10.0911 27.8474 10.0175 27.8952C9.70785 28.0385 9.55517 28.3695 9.62641 28.705C9.69833 29.0438 10.015 29.2774 10.3609 29.2774H15.7294C15.7594 31.3351 17.4388 33 19.5 33C21.5613 33 23.2407 31.3351 23.2707 29.2774H28.6392C28.985 29.2774 29.3018 29.0438 29.3737 28.705C29.4448 28.3695 29.2922 28.0384 28.9825 27.8952ZM18.0693 10.785C18.0693 10.0583 18.6595 9.46724 19.3849 9.46724H19.6153C20.3407 9.46724 20.9308 10.0583 20.9308 10.785V12.0016C20.4685 11.9061 19.9899 11.8558 19.4998 11.8558C19.0099 11.8558 18.5315 11.906 18.0694 12.0015V10.785H18.0693ZM19.5 31.5328C18.2465 31.5328 17.224 30.5261 17.1942 29.2775H21.8058C21.7761 30.526 20.7536 31.5328 19.5 31.5328ZM22.4493 27.8102C22.4491 27.8102 12.0301 27.8102 12.0301 27.8102C12.1568 27.6127 12.2857 27.3891 12.4139 27.1364C13.3955 25.2007 13.8933 22.4426 13.8933 18.9387C13.8933 15.8422 16.4084 13.323 19.4998 13.323C22.5912 13.323 25.1063 15.8422 25.1063 18.9412C25.1063 18.9502 25.1064 18.9592 25.1068 18.9682C25.1096 22.458 25.6073 25.2062 26.5862 27.1364C26.7143 27.3892 26.8434 27.6127 26.97 27.8102H22.4493Z" fill="#B70A29"/></svg>
							.count 2
						span Все сообщения
				.page-my-profile__item.page-my-profile__box
					h3 Мои баллы
					.item__scores
						.scores__top
							<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.05585 0.0223165C7.192 0.0846122 6.51586 0.231872 5.80124 0.513396C5.54157 0.615702 5.03075 0.86389 4.76318 1.01776C3.49601 1.74647 2.49319 2.79741 1.83037 4.09133C1.45517 4.82377 1.26934 5.34609 1.13294 6.05162C1.00873 6.69417 0.964922 7.55422 1.02414 8.18778C1.15434 9.58062 1.65799 10.8734 2.51156 12.0057C3.23856 12.97 4.19175 13.7456 5.31045 14.283C6.48922 14.8492 7.89787 15.091 9.2445 14.9583C10.4387 14.8405 11.4864 14.4763 12.519 13.8198C13.7862 13.0143 14.7723 11.8636 15.3918 10.4674C15.7168 9.73498 15.9113 8.95442 15.9848 8.08733C16.0049 7.84969 16.0051 7.17564 15.985 6.92246C15.8805 5.60086 15.4762 4.44984 14.7226 3.32916C14.1418 2.46536 13.343 1.69685 12.45 1.14278C11.4931 0.548998 10.5075 0.199209 9.41922 0.0670867C9.16503 0.0362144 8.6172 -0.00212729 8.46229 9.20866e-05C8.3948 0.00105637 8.2119 0.0110512 8.05585 0.0223165ZM9.16781 1.2905C10.3062 1.42757 11.3046 1.81581 12.2064 2.47214C13.0142 3.06005 13.7015 3.88669 14.1385 4.7959C14.4456 5.43488 14.6375 6.10192 14.7307 6.85519C14.7573 7.06972 14.757 7.90753 14.7303 8.13325C14.6073 9.17158 14.278 10.0895 13.7215 10.9455C13.2801 11.6243 12.6878 12.2205 11.9949 12.6836C10.887 13.4241 9.47531 13.8207 8.21779 13.7445C6.82598 13.6603 5.56765 13.1738 4.49756 12.3063C4.26678 12.1192 3.82545 11.6729 3.63276 11.4317C2.8911 10.5033 2.44916 9.46218 2.28531 8.25724C2.25686 8.04795 2.2517 7.93696 2.25121 7.521C2.25046 6.89543 2.29182 6.53972 2.42856 5.99583C2.69827 4.92292 3.25244 3.93139 4.02169 3.1454C4.35606 2.80375 4.61784 2.58434 4.9962 2.32859C5.88968 1.72466 6.97172 1.35235 8.09419 1.26266C8.26416 1.24907 8.97733 1.26757 9.16781 1.2905ZM8.16321 1.89714C7.73092 1.93339 7.45844 1.97572 7.13189 2.05735C5.69828 2.41577 4.44104 3.34557 3.67644 4.61285C3.29117 5.25145 3.02569 6.02181 2.92483 6.79397C2.87178 7.20008 2.87169 7.8239 2.9246 8.23274C3.10989 9.66404 3.85868 10.99 4.99097 11.892C5.81667 12.5497 6.7792 12.9465 7.8718 13.0794C8.14526 13.1127 8.83506 13.1174 9.09112 13.0877C10.0819 12.9727 10.9312 12.6533 11.7358 12.0931C12.0856 11.8495 12.5247 11.4497 12.8069 11.1179C14.3043 9.35718 14.5477 6.79266 13.4098 4.76675C12.5524 3.24028 11.0434 2.198 9.34419 1.9587C8.83856 1.8875 8.49304 1.86948 8.16321 1.89714ZM9.10482 3.1577C10.3647 3.36302 11.446 4.04301 12.1291 5.05957C12.196 5.15903 12.2558 5.2427 12.2621 5.2455C12.2685 5.24831 12.2736 5.25987 12.2736 5.2712C12.2736 5.28252 12.2827 5.30089 12.2937 5.31202C12.3254 5.34388 12.4962 5.68763 12.5712 5.87031C12.8077 6.44667 12.9256 7.15286 12.887 7.76108C12.8606 8.17526 12.7694 8.61234 12.6332 8.97722C12.5653 9.15897 12.4139 9.4985 12.3896 9.52348C12.38 9.53334 12.3593 9.56879 12.3435 9.60225C12.3278 9.63572 12.3056 9.67236 12.2943 9.68371C12.2829 9.69503 12.2736 9.71357 12.2736 9.72489C12.2736 9.73622 12.2681 9.74778 12.2613 9.75059C12.2546 9.75339 12.2109 9.81424 12.1642 9.88579C11.8265 10.4037 11.3266 10.8892 10.7782 11.2317C10.5921 11.348 10.2175 11.5323 10.019 11.6053C9.4797 11.8037 9.05457 11.8809 8.50063 11.881C8.14994 11.8812 7.97592 11.8653 7.67985 11.8064C6.66471 11.6043 5.73457 11.042 5.08528 10.2378C4.95477 10.0762 4.69695 9.70167 4.69695 9.67374C4.69695 9.66549 4.6917 9.65646 4.68531 9.65364C4.6789 9.65084 4.63115 9.5659 4.57919 9.46487C4.0239 8.38537 3.9564 7.08245 4.3969 5.94635C4.46902 5.76033 4.59883 5.47613 4.61768 5.46297C4.6242 5.4584 4.6423 5.4273 4.65793 5.39384C4.67354 5.36037 4.69561 5.32373 4.70698 5.31238C4.71833 5.30106 4.72762 5.28252 4.72762 5.2712C4.72762 5.25987 4.73284 5.24831 4.7392 5.2455C4.74557 5.2427 4.78178 5.19254 4.81968 5.13402C5.00701 4.84486 5.30502 4.4981 5.56749 4.2639C6.10045 3.78834 6.65696 3.47654 7.31198 3.28652C7.51276 3.22826 7.78569 3.17292 8.0175 3.14345C8.24442 3.1146 8.89249 3.1231 9.10482 3.1577ZM7.26594 5.02083C7.26163 5.03216 7.25986 6.15723 7.26203 7.521L7.26597 10.0006H7.87947H8.49296L8.49697 9.36921L8.50097 8.73784L8.8804 8.73779C9.44118 8.73773 9.65321 8.70216 9.93143 8.56145C10.1386 8.45668 10.2419 8.38046 10.427 8.19588C10.7109 7.91264 10.8633 7.64377 10.957 7.2608C10.9891 7.12964 11.0139 6.72559 10.9928 6.67648C10.9863 6.66112 10.9823 6.6303 10.9841 6.60798C10.9858 6.58567 10.9806 6.56327 10.9724 6.55822C10.9642 6.55317 10.9609 6.53604 10.9651 6.52017C10.9692 6.50428 10.9654 6.48686 10.9566 6.48143C10.9478 6.476 10.9442 6.46215 10.9487 6.45064C10.9531 6.43913 10.9492 6.42511 10.9401 6.41946C10.9309 6.41381 10.9276 6.40248 10.9327 6.39428C10.9378 6.38607 10.9336 6.36933 10.9234 6.35707C10.9132 6.34481 10.91 6.33478 10.9163 6.33478C10.9226 6.33478 10.9182 6.3234 10.9066 6.30947C10.8951 6.29555 10.8873 6.28178 10.8894 6.27886C10.8916 6.27595 10.8927 6.27183 10.8921 6.26973C10.8914 6.26764 10.8886 6.25372 10.8857 6.23885C10.875 6.18278 10.7815 6.00254 10.6977 5.87635C10.597 5.72467 10.3288 5.44235 10.1954 5.34757C9.99356 5.20416 9.70321 5.08236 9.45922 5.03876C9.26689 5.00438 7.27841 4.98814 7.26594 5.02083ZM9.12536 6.25821C9.34542 6.27529 9.42223 6.30619 9.55431 6.43088C9.70072 6.56906 9.78183 6.80523 9.74526 6.98691C9.73546 7.03563 9.71266 7.10598 9.69459 7.14322C9.64534 7.24474 9.49552 7.39673 9.40743 7.43456C9.3054 7.47835 9.1133 7.49777 8.78054 7.49792L8.50063 7.49804V6.8705V6.24295L8.71919 6.2433C8.83939 6.24348 9.02217 6.25019 9.12536 6.25821Z" fill="#B70A29"/></svg>
							span 2758
						.scores__bottom
							span Доступно
							<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8033 2.69668C11.3867 1.28015 9.50332 0.5 7.5 0.5C5.49668 0.5 3.61327 1.28015 2.19668 2.69668C0.780147 4.11327 0 5.99668 0 8C0 10.0033 0.780147 11.8867 2.19668 13.3033C3.61327 14.7199 5.49668 15.5 7.5 15.5C9.50332 15.5 11.3867 14.7199 12.8033 13.3033C14.2199 11.8867 15 10.0033 15 8C15 5.99668 14.2199 4.11327 12.8033 2.69668ZM7.5 14.6211C3.84911 14.6211 0.878906 11.6509 0.878906 8C0.878906 4.34911 3.84911 1.37891 7.5 1.37891C11.1509 1.37891 14.1211 4.34911 14.1211 8C14.1211 11.6509 11.1509 14.6211 7.5 14.6211Z" fill="#B1B1B1"/><path d="M7.50024 12.4629C7.74295 12.4629 7.9397 12.2661 7.9397 12.0234C7.9397 11.7807 7.74295 11.584 7.50024 11.584C7.25754 11.584 7.06079 11.7807 7.06079 12.0234C7.06079 12.2661 7.25754 12.4629 7.50024 12.4629Z" fill="#B1B1B1"/><path d="M7.55502 3.53767C6.07658 3.50708 4.82739 4.73231 4.82739 6.20978H5.7063C5.7063 5.22277 6.54952 4.39569 7.5373 4.4164C8.47245 4.43524 9.24293 5.18081 9.29136 6.11377C9.34362 7.12071 8.50688 8.00357 7.50006 8.00357H7.06061V10.7783H7.93951V8.84697C9.26552 8.62988 10.2384 7.40398 10.1691 6.06822C10.0969 4.67732 8.94867 3.56574 7.55502 3.53767Z" fill="#B1B1B1"/></svg>
							.smile__block «Доступные баллы» означает, что в настоящее время эти баллы можно использовать для покупки продуктов. Срок действия баллов истечет, если вы не войдете в систему в течение 10 дней (за исключением купленных баллов).
					.item__scores
						.scores__top
							<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.05585 0.0223165C7.192 0.0846122 6.51586 0.231872 5.80124 0.513396C5.54157 0.615702 5.03075 0.86389 4.76318 1.01776C3.49601 1.74647 2.49319 2.79741 1.83037 4.09133C1.45517 4.82377 1.26934 5.34609 1.13294 6.05162C1.00873 6.69417 0.964922 7.55422 1.02414 8.18778C1.15434 9.58062 1.65799 10.8734 2.51156 12.0057C3.23856 12.97 4.19175 13.7456 5.31045 14.283C6.48922 14.8492 7.89787 15.091 9.2445 14.9583C10.4387 14.8405 11.4864 14.4763 12.519 13.8198C13.7862 13.0143 14.7723 11.8636 15.3918 10.4674C15.7168 9.73498 15.9113 8.95442 15.9848 8.08733C16.0049 7.84969 16.0051 7.17564 15.985 6.92246C15.8805 5.60086 15.4762 4.44984 14.7226 3.32916C14.1418 2.46536 13.343 1.69685 12.45 1.14278C11.4931 0.548998 10.5075 0.199209 9.41922 0.0670867C9.16503 0.0362144 8.6172 -0.00212729 8.46229 9.20866e-05C8.3948 0.00105637 8.2119 0.0110512 8.05585 0.0223165ZM9.16781 1.2905C10.3062 1.42757 11.3046 1.81581 12.2064 2.47214C13.0142 3.06005 13.7015 3.88669 14.1385 4.7959C14.4456 5.43488 14.6375 6.10192 14.7307 6.85519C14.7573 7.06972 14.757 7.90753 14.7303 8.13325C14.6073 9.17158 14.278 10.0895 13.7215 10.9455C13.2801 11.6243 12.6878 12.2205 11.9949 12.6836C10.887 13.4241 9.47531 13.8207 8.21779 13.7445C6.82598 13.6603 5.56765 13.1738 4.49756 12.3063C4.26678 12.1192 3.82545 11.6729 3.63276 11.4317C2.8911 10.5033 2.44916 9.46218 2.28531 8.25724C2.25686 8.04795 2.2517 7.93696 2.25121 7.521C2.25046 6.89543 2.29182 6.53972 2.42856 5.99583C2.69827 4.92292 3.25244 3.93139 4.02169 3.1454C4.35606 2.80375 4.61784 2.58434 4.9962 2.32859C5.88968 1.72466 6.97172 1.35235 8.09419 1.26266C8.26416 1.24907 8.97733 1.26757 9.16781 1.2905ZM8.16321 1.89714C7.73092 1.93339 7.45844 1.97572 7.13189 2.05735C5.69828 2.41577 4.44104 3.34557 3.67644 4.61285C3.29117 5.25145 3.02569 6.02181 2.92483 6.79397C2.87178 7.20008 2.87169 7.8239 2.9246 8.23274C3.10989 9.66404 3.85868 10.99 4.99097 11.892C5.81667 12.5497 6.7792 12.9465 7.8718 13.0794C8.14526 13.1127 8.83506 13.1174 9.09112 13.0877C10.0819 12.9727 10.9312 12.6533 11.7358 12.0931C12.0856 11.8495 12.5247 11.4497 12.8069 11.1179C14.3043 9.35718 14.5477 6.79266 13.4098 4.76675C12.5524 3.24028 11.0434 2.198 9.34419 1.9587C8.83856 1.8875 8.49304 1.86948 8.16321 1.89714ZM9.10482 3.1577C10.3647 3.36302 11.446 4.04301 12.1291 5.05957C12.196 5.15903 12.2558 5.2427 12.2621 5.2455C12.2685 5.24831 12.2736 5.25987 12.2736 5.2712C12.2736 5.28252 12.2827 5.30089 12.2937 5.31202C12.3254 5.34388 12.4962 5.68763 12.5712 5.87031C12.8077 6.44667 12.9256 7.15286 12.887 7.76108C12.8606 8.17526 12.7694 8.61234 12.6332 8.97722C12.5653 9.15897 12.4139 9.4985 12.3896 9.52348C12.38 9.53334 12.3593 9.56879 12.3435 9.60225C12.3278 9.63572 12.3056 9.67236 12.2943 9.68371C12.2829 9.69503 12.2736 9.71357 12.2736 9.72489C12.2736 9.73622 12.2681 9.74778 12.2613 9.75059C12.2546 9.75339 12.2109 9.81424 12.1642 9.88579C11.8265 10.4037 11.3266 10.8892 10.7782 11.2317C10.5921 11.348 10.2175 11.5323 10.019 11.6053C9.4797 11.8037 9.05457 11.8809 8.50063 11.881C8.14994 11.8812 7.97592 11.8653 7.67985 11.8064C6.66471 11.6043 5.73457 11.042 5.08528 10.2378C4.95477 10.0762 4.69695 9.70167 4.69695 9.67374C4.69695 9.66549 4.6917 9.65646 4.68531 9.65364C4.6789 9.65084 4.63115 9.5659 4.57919 9.46487C4.0239 8.38537 3.9564 7.08245 4.3969 5.94635C4.46902 5.76033 4.59883 5.47613 4.61768 5.46297C4.6242 5.4584 4.6423 5.4273 4.65793 5.39384C4.67354 5.36037 4.69561 5.32373 4.70698 5.31238C4.71833 5.30106 4.72762 5.28252 4.72762 5.2712C4.72762 5.25987 4.73284 5.24831 4.7392 5.2455C4.74557 5.2427 4.78178 5.19254 4.81968 5.13402C5.00701 4.84486 5.30502 4.4981 5.56749 4.2639C6.10045 3.78834 6.65696 3.47654 7.31198 3.28652C7.51276 3.22826 7.78569 3.17292 8.0175 3.14345C8.24442 3.1146 8.89249 3.1231 9.10482 3.1577ZM7.26594 5.02083C7.26163 5.03216 7.25986 6.15723 7.26203 7.521L7.26597 10.0006H7.87947H8.49296L8.49697 9.36921L8.50097 8.73784L8.8804 8.73779C9.44118 8.73773 9.65321 8.70216 9.93143 8.56145C10.1386 8.45668 10.2419 8.38046 10.427 8.19588C10.7109 7.91264 10.8633 7.64377 10.957 7.2608C10.9891 7.12964 11.0139 6.72559 10.9928 6.67648C10.9863 6.66112 10.9823 6.6303 10.9841 6.60798C10.9858 6.58567 10.9806 6.56327 10.9724 6.55822C10.9642 6.55317 10.9609 6.53604 10.9651 6.52017C10.9692 6.50428 10.9654 6.48686 10.9566 6.48143C10.9478 6.476 10.9442 6.46215 10.9487 6.45064C10.9531 6.43913 10.9492 6.42511 10.9401 6.41946C10.9309 6.41381 10.9276 6.40248 10.9327 6.39428C10.9378 6.38607 10.9336 6.36933 10.9234 6.35707C10.9132 6.34481 10.91 6.33478 10.9163 6.33478C10.9226 6.33478 10.9182 6.3234 10.9066 6.30947C10.8951 6.29555 10.8873 6.28178 10.8894 6.27886C10.8916 6.27595 10.8927 6.27183 10.8921 6.26973C10.8914 6.26764 10.8886 6.25372 10.8857 6.23885C10.875 6.18278 10.7815 6.00254 10.6977 5.87635C10.597 5.72467 10.3288 5.44235 10.1954 5.34757C9.99356 5.20416 9.70321 5.08236 9.45922 5.03876C9.26689 5.00438 7.27841 4.98814 7.26594 5.02083ZM9.12536 6.25821C9.34542 6.27529 9.42223 6.30619 9.55431 6.43088C9.70072 6.56906 9.78183 6.80523 9.74526 6.98691C9.73546 7.03563 9.71266 7.10598 9.69459 7.14322C9.64534 7.24474 9.49552 7.39673 9.40743 7.43456C9.3054 7.47835 9.1133 7.49777 8.78054 7.49792L8.50063 7.49804V6.8705V6.24295L8.71919 6.2433C8.83939 6.24348 9.02217 6.25019 9.12536 6.25821Z" fill="#B70A29"/></svg>
							span 2758
						.scores__bottom
							span Замороженные Баллы
							<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8033 2.69668C11.3867 1.28015 9.50332 0.5 7.5 0.5C5.49668 0.5 3.61327 1.28015 2.19668 2.69668C0.780147 4.11327 0 5.99668 0 8C0 10.0033 0.780147 11.8867 2.19668 13.3033C3.61327 14.7199 5.49668 15.5 7.5 15.5C9.50332 15.5 11.3867 14.7199 12.8033 13.3033C14.2199 11.8867 15 10.0033 15 8C15 5.99668 14.2199 4.11327 12.8033 2.69668ZM7.5 14.6211C3.84911 14.6211 0.878906 11.6509 0.878906 8C0.878906 4.34911 3.84911 1.37891 7.5 1.37891C11.1509 1.37891 14.1211 4.34911 14.1211 8C14.1211 11.6509 11.1509 14.6211 7.5 14.6211Z" fill="#B1B1B1"/><path d="M7.50024 12.4629C7.74295 12.4629 7.9397 12.2661 7.9397 12.0234C7.9397 11.7807 7.74295 11.584 7.50024 11.584C7.25754 11.584 7.06079 11.7807 7.06079 12.0234C7.06079 12.2661 7.25754 12.4629 7.50024 12.4629Z" fill="#B1B1B1"/><path d="M7.55502 3.53767C6.07658 3.50708 4.82739 4.73231 4.82739 6.20978H5.7063C5.7063 5.22277 6.54952 4.39569 7.5373 4.4164C8.47245 4.43524 9.24293 5.18081 9.29136 6.11377C9.34362 7.12071 8.50688 8.00357 7.50006 8.00357H7.06061V10.7783H7.93951V8.84697C9.26552 8.62988 10.2384 7.40398 10.1691 6.06822C10.0969 4.67732 8.94867 3.56574 7.55502 3.53767Z" fill="#B1B1B1"/></svg>
							.smile__block Баллы со статусом «заморожено», показывают те баллы, которые сейчас задействованы в сделках. Это происходит путем запроса на сделки, щелкнув «Отправить Запрос» на индивидуальной странице о продукте. Эти баллы будут разморожены, когда сделка истечет или будет отменена. После подтверждения информации о вашем заказе на торговой площадке эти баллы будут вычтены.
					a(href="#").bonus Суточный Бонус
					a(href="#").more-scores Больше Баллов
				.page-my-profile__item.page-my-profile__box
					h3 Мои заказы
					.page-my-profile__orders
						.orders__item
							.item__top 2758
							a(href="#").item__bottom 100% Кешбэк
						.orders__item
							.item__top 11
							a(href="#").item__bottom Кешбэк до 99%
						.orders__item
							.item__top 45
							a(href="#").item__bottom Купонные
						.orders__item
							.item__top 0
							a(href="#").item__bottom Больше Баллов
						.orders__item
							.item__top 0
							a(href="#").item__bottom Подтвержденные
						a(href="#").orders__more Мои заказы
				.page-my-profile__item
					.page-my-profile__box
						h3 Избранное
						.item__block 2758
						a(href="#") Избранное
					.page-my-profile__box
						h3 Переходов Друзей по Ссылке
						.item__block 0
						a(href="#") Создать ссылку


								


			
			
			


	include includes/footer.pug



























	