extends includes/header.pug

block content

	main.page-notice
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Уведомления
			.page-orders__block
				nav.block__nav
					ul
						li.li_active
							a(href="404.html") Все уведомления
						li
							a(href="404.html") Уведомления по сделкам
						li
							a(href="404.html") Системные уведомления
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Дата уведомления
								td Уведомление
								td Отправитель
								td Действия
						tbody
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											p ZORIA  ZORIA 
								td 22.01.2021 <br />21:17
								td
									.notice-count 2
									a(href="404.html") Ссылка на отзыв
								td Продавец
								td
									a(href="404.html") Ответить
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											p ZORIA  ZORIA 
								td 22.01.2021 <br />21:17
								td
									.notice-count.notice-count_empty 0
									span https://market.yandex.ru/product--kabel-baseus-usb-usb-type-c-catklf-b09-bg1-b91-1-m/248987099/reviews?cpa=0
								td Продавец
								td
									a(href="404.html") Ответить
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											p ZORIA  ZORIA 
								td 22.01.2021 <br />21:17
								td
									.notice-count 2
									a(href="404.html") Ссылка на отзыв
								td Продавец
								td
									a(href="404.html") Ответить
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											p ZORIA  ZORIA 
								td 22.01.2021 <br />21:17
								td
									.notice-count 2
									a(href="404.html") Ссылка на отзыв
								td Продавец
								td
									a(href="404.html") Ответить
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											p ZORIA  ZORIA 
								td 22.01.2021 <br />21:17
								td
									.notice-count 2
									a(href="404.html") Ссылка на отзыв
								td Продавец
								td
									a(href="404.html") Ответить
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											p ZORIA  ZORIA 
								td 22.01.2021 <br />21:17
								td
									.notice-count 2
									a(href="404.html") Ссылка на отзыв
								td Продавец
								td
									a(href="404.html") Ответить
			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 



	include includes/footer.pug



























	