extends includes/header.pug

block content

	main.page-notice1
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Отзывы
			.page-orders__block
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Дата уведомления
								td Оценка/ Отзыв
								td Публичное имя.
								td Действия
						tbody
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
							tr
								td 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											b Бренд:
											span ZORIA  ZORIA
											p Футболка женская. Цвет белый. Размер 46-52. Трикотаж
								td 22.01.2021 <br />21:17
								td
									.stars
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
										.star
											img(src="img/svg/ico46.svg" alt="Ico")
									p Сделала несколько покупок, все работает. Как и обещали, возвратили кешбэк. Получить кешбэк это вдвойне приятно. Спасибо большое организаторам. Все супер.
								td Happy Shopper A
								td
									a(href="404.html").change Изменить
									a(href="404.html").cancel Отмена
			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 



	include includes/footer.pug



























	