extends includes/header.pug

block content

	main.page-orders
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Мои заказы
			.page-orders__block
				nav.block__nav
					ul
						li.li_active
							a(href="404.html") Все заказы
						li
							a(href="404.html") Купонные
						li
							a(href="404.html") Активные
						li
							a(href="404.html") Загруженный заказ
						li
							a(href="404.html") В ожидании кешбэка
						li
							a(href="404.html") Завершенные
						li
							a(href="404.html") Отмененные
				.table-ovf
					//- .scroll-finger
						img(src="img/finger.png" alt="Finger")
					table
						thead
							tr
								td ID
								td Продукт
								td Дата запроса
								td Статус
								td Действия
						tbody
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")

										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_waiting Ожидает подтверждения от продавца
									p.p_green Время на подтверждение запроса: 2 дн. 23:59
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_expired Истекший запрос
									p.p_red Время на подтверждение запроса продавцом истекло
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_buyier Покупка и загрузка информации
									p.p_green Время на покупку: 23:59
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_deciline Отклонен продавцом
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_waiting Подтверждение получения продукта
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_writting Написание отзыва о продукте 
									p.p_green До получения кешбэка: 20 дн. 23:59
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_writting-cashback Написание отзыва о продукте 
									p.p_green До получения кешбэка: 20 дн. 23:59
								td
									a(href="order.html").td__link
										img(src="img/svg/ico71.svg" alt="Ico")
										span Перейти в заказ
			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 



	include includes/footer.pug



























	