extends includes/header.pug

block content

	main.page-orders
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Мои заказы
			.page-orders__block
				nav.block__nav
					ul
						li.li_active
							a(href="404.html") Все заказы
						li
							a(href="404.html") Купонные
						li
							a(href="404.html") Активные
						li
							a(href="404.html") Загруженный заказ
						li
							a(href="404.html") В ожидании кешбэка
						li
							a(href="404.html") Завершенные
						li
							a(href="404.html") Отмененные
				.table-ovf
					//- .scroll-finger
						img(src="img/finger.png" alt="Finger")
					table
						thead
							tr
								td ID
								td Продукт
								td Дата запроса
								td Статус
								td Действия
						tbody
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")

										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_waiting Ожидает подтверждения от продавца
									p.p_green Время на подтверждение запроса: 2 дн. 23:59
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_expired Истекший запрос
									p.p_red Время на подтверждение запроса продавцом истекло
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_buyier Покупка и загрузка информации
									p.p_green Время на покупку: 23:59
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_deciline Отклонен продавцом
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_waiting Подтверждение получения продукта
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_writting Написание отзыва о продукте 
									p.p_green До получения кешбэка: 20 дн. 23:59
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
							tr
								td 9
								td
									.td__photo
										img(src="img/order1.jpg" alt="Photo")
									.td__info
										.td__flag
											img(src="img/svg/flag-ru.svg" alt="Flag")
										.td__name
											span.name Футболка женская. Цвет белый. Размер 46-52. Трикотаж 
										.td__salesman
											.td__sides
												.lft
													span Продавец:
													p Бренд
													.quest
														img(src="img/svg/question1.svg" alt="Ico")
														.smile__block Обратите внимание на имя продавца при покупке продукта на Маркетплейсе.
												.rht
													span Продается на 
													img(src="img/svg/yandex.svg" alt="Ico")
										.td__bottom
											.td__item
												h4 Цена
												span 235 ₽
											.td__item
												h4 Кешбэк
												span 135 ₽
											.td__item
												h4 Ставка
												span 100%
											.td__rht
												.smile
													img(src="img/svg/smile.svg" alt="Smile" width="20")
												.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)

								td 22.01.2021<br />21:17
								td
									.td__st.td__st_writting-cashback Написание отзыва о продукте 
									p.p_green До получения кешбэка: 20 дн. 23:59
								td
									a(href="order.html").td__link
										<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0.261719H1.875C0.840937 0.261719 0 1.18066 0 2.31063V8.45737C0 9.58735 0.840937 10.5063 1.875 10.5063V13.0674C1.875 13.2672 1.98187 13.4495 2.14781 13.5325C2.21062 13.5643 2.27719 13.5797 2.34375 13.5797C2.45344 13.5797 2.56219 13.5377 2.64844 13.4567L5.79844 10.5063H10.3125C11.3466 10.5063 12.1875 9.58735 12.1875 8.45737V2.31063C12.1875 1.18066 11.3466 0.261719 10.3125 0.261719Z" fill="#495FEA"/><path d="M13.125 3.33594V8.45822C13.125 10.1527 11.8631 11.5316 10.3125 11.5316H6.1453L4.08374 13.4617C4.27499 13.5334 4.47561 13.5805 4.68749 13.5805H9.20154L12.3506 16.5309C12.4378 16.6119 12.5465 16.6539 12.6562 16.6539C12.7228 16.6539 12.7903 16.6385 12.8522 16.6067C13.019 16.5238 13.125 16.3414 13.125 16.1416V13.5805C14.159 13.5805 15 12.6616 15 11.5316V5.38485C15 4.25487 14.159 3.33594 13.125 3.33594Z" fill="#495FEA"/></svg>
										span Перейти в заказ
			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					<svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z" fill="#222220"/></svg>
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 



	include includes/footer.pug



























	