extends includes/header-singin-seller.pug

block content

	main.page-orders-seller.pages-seller
		.popup.popup-order-marketplace
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Заказ на Маркетплейсе
				.order-num
					b Заказ на Маркетплейсе:
					span 01936976-0022
				ul.payment-method
					li.li_active Сбербанк
					li QIWI 
					li Тинькофф
					li Другой банк
				.inputs
					input(value="1111 2222 3333 4444" type="num" disabled)
					input(value="Иванов Иван Константинович" type="text" disabled)
				label
					p Прикрепленный скриншот о заказе:
					.label__photo
						img(src="img/popup-ph1.jpg" alt="Photo")
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Продукты
			.pages-seller__top.block-shadow
				.select-v2
					.select__head
						span Все статусы
					.select__body
						span Все продукты
						span В наличии
						span Нет в наличии
						span Остановлен
				.select-v2
					.select__head
						span Все Сделки
					.select__body
						span Все заказы
						span Кешбэк после отзыва
						span Купоны
						span Кешбэк после доставки <br />(без отзыва)
				form(action="#").pages-seller__search
					input(placeholder="Поиск")
					button(type="submit") Применить
				.found Найдено<br />132
				.works Задействовано <br />50 сделок из 250 
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="requests.html") Все заказы
						li
							a(href="requests-new.html") Не состоявшиеся
						li
							a(href="404.html") Подтвержденные 
						li
							a(href="404.html") В ожидании кешбэка 
						li
							a(href="404.html") Возвращено 
						li
							a(href="404.html") Жалоба 
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Статус
								td Подтвержден
								td Заказ на маркетплейсе
								td Отзыв
								td Кешбэк
								td Действия
						tbody
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										img(src="img/svg/ico70.svg" alt="Ico")
										span Перейти в сделку






								


			
			
			


	include includes/footer-seller.pug



























	