extends includes/header-singin-seller.pug

block content

	main.page-orders-seller.pages-seller
		.popup.popup-order-marketplace
			.popup__bgd
			.popup__content
				.popup__close
					<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
				h2 Заказ на Маркетплейсе
				.order-num
					b Заказ на Маркетплейсе:
					span 01936976-0022
				ul.payment-method
					li.li_active Сбербанк
					li QIWI 
					li Тинькофф
					li Другой банк
				.inputs
					input(value="1111 2222 3333 4444" type="num" disabled)
					input(value="Иванов Иван Константинович" type="text" disabled)
				label
					p Прикрепленный скриншот о заказе:
					.label__photo
						img(src="img/popup-ph1.jpg" alt="Photo")
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Продукты
			.pages-seller__top.block-shadow
				.select-v2
					.select__head
						span Все статусы
					.select__body
						span Все продукты
						span В наличии
						span Нет в наличии
						span Остановлен
				.select-v2
					.select__head
						span Все Сделки
					.select__body
						span Все заказы
						span Кешбэк после отзыва
						span Купоны
						span Кешбэк после доставки <br />(без отзыва)
				form(action="#").pages-seller__search
					input(placeholder="Поиск")
					button(type="submit") Применить
				.found Найдено<br />132
				.works Задействовано <br />50 сделок из 250 
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="requests.html") Все заказы
						li
							a(href="requests-new.html") Не состоявшиеся
						li
							a(href="404.html") Подтвержденные 
						li
							a(href="404.html") В ожидании кешбэка 
						li
							a(href="404.html") Возвращено 
						li
							a(href="404.html") Жалоба 
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Статус
								td Подтвержден
								td Заказ на маркетплейсе
								td Отзыв
								td Кешбэк
								td Действия
						tbody
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_back Возвращено
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_complaint Жалоба
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_waiting В ожидании Кешбэка
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_fail Не состоявшиеся
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p ~
								td
									p ~
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_success Подтвержденные
								td
									p 06.10.2021 <br />11:26:00
								td
									p Загружено: <br />07.10.2021 17:00:00 - <br />ID Заказа: 13041287
									a(href="#" data-popup="order-marketplace") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									p 15.10.2021 <br />18:43:58
									a(href="#") Показать
								td
									a(href="#").td__link
										<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1247 2.4375V6.5C13.1247 7.84387 11.8629 8.9375 10.3122 8.9375H6.14505L4.0835 10.4683C4.27475 10.5251 4.47537 10.5625 4.68724 10.5625H9.20129L12.3503 12.9025C12.4375 12.9667 12.5463 13 12.656 13C12.7225 13 12.79 12.9878 12.8519 12.9626C13.0188 12.8968 13.1247 12.7522 13.1247 12.5938V10.5625C14.1588 10.5625 14.9997 9.83369 14.9997 8.9375V4.0625C14.9997 3.16631 14.1588 2.4375 13.1247 2.4375Z" fill="#495FEA"/></svg>
										span Перейти в сделку






								


			
			
			


	include includes/footer-seller.pug



























	