extends includes/header.pug

block content

	main.page-orders
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Мои заказы
			.products-block
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')
					+card('Фиксатор для одеяла', '331 ₽', 'img/prod1.jpg')



	include includes/footer.pug



























	