extends includes/header.pug

block content

	.popup.popup-required
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico50.svg" alt="Ico")
			h2 Запрос на вывод денежных средств
			p Вывод средств возможен на банковскую карту <br />или на виртуальный кошелёк
			.radios
				input(type="radio" name="sex")#rd1
				label(for="rd1") Банковская карта
				input(type="radio" name="sex")#rd2
				label(for="rd2") Юмани
			input(type="text" value="3456 8787 8786 1122" placeholder="3456 8787 8786 1122")
			.you-can
				span 0 ₽
				span Всего доступно
			label
				p
					b Вывод средств сумма:
					span.span_green Минимальная сумма для вывода ₽50
				input(type="text" placeholder="50" value="50")
			.required__bottom
				.bottom__item
					.item__lft Вывод средств сумма
					.item__rht 50 ₽
				.bottom__item
					.item__lft Общая сумма на вывод
					.item__rht 47.75 ₽
			.buttons
				button.popup__close_button.button-red-border Отмена
				button(data-popup="success") Подтвердить

	.popup.popup-success
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico50.svg" alt="Ico")
			.popup__status-svg
				img(src="img/svg/ico51.svg" alt="Ico") 
			p Ваш запрос на вывод денежных средств отправлен. Вывод средств обычно занимает от 7 до 14 дней 
			button.popup__close_button Свернуть окно

	main.page-partnership.page-partnership-seller
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Партнерство
			section.page-partnership__title
				h2 Для продавца
				.title__p
					p Привлеченный клиент получит скидку 20% при первой покупке плана,  а вы будете получать 15% с каждой покупки плана такого клиента на весь период взаимодействия клиента с сервисом.
			section.page-partnership__info
				.info__item
					.item__input.item__input_copy
						input(disabled value="B07R11LMH7")
						button Скопировать промокод
				.info__item
					span  0 / 0
					span Применили / Купили
				.info__item
					span  299 ₽
					span Всего выведено
				.info__item
					span  0 ₽
					span Для вывода
					button(data-popup="required") Вывод средств
			section.page-partnership__block
				nav.block__nav
					ul
						li.li_active
							a(href="404.html") Все рефералы
						li
							a(href="404.html") Материалы продвижения
						li
							a(href="payment-history.html") История операций
				.switch-block.switch-block_1.switch-block_active
					.table-ovf
						table
							thead
								tr
									td №
									td Email
									td Страна
									td Дата регистрации
									td Планируемая <br />дата покупки
									td Стоимость <br />плана
									td Заработано <br />₽/%
							tbody
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
								tr
									td 1
									td ho********com
									td Россия
									td 25.09.2021
									td 25.10.2021
									td 24999 ₽
									td 24999 ₽/ 37%
				.switch-block.switch-block_2
					.page-partnership__codes
						.page-partnership__code
							h3 200x400 (Banner code)
							code(data-code='<a target="_blank" href="https://doncashback.ru/?partner=2508210441216125c9f1a5102"><img src="https://doncashback.com/banners/240x400/240x400_1.png"></a>')
						.page-partnership__code
							h3 900x90 (Banner code)
							code(data-code='<a target="_blank" href="https://doncashback.ru/?partner=2508210441216125c9f1a5102"><img src="https://doncashback.com/banners/240x400/240x400_1.png"></a>')
						.page-partnership__code
							h3 900x490 (Banner code)
							code(data-code='<a target="_blank" href="https://doncashback.ru/?partner=2508210441216125c9f1a5102"><img src="https://doncashback.com/banners/240x400/240x400_1.png"></a>')
				.switch-block.switch-block_3
					.table-ovf
						table
							thead
								tr
									td Дата
									td Сумма
									td QIWI CARD
									td Статус
							tbody
								tr.tr_requested
									td 25.10.2021 15:52
									td 24999 ₽
									td **** **** **** 4344
									td Снято <span>(Запрошено)</span>
								tr.tr_success
									td 25.10.2021 15:52
									td 24999 ₽
									td **** **** **** 4344
									td Снято <span>(Успешно)</span>
								tr.tr_processing
									td 25.10.2021 15:52
									td 24999 ₽
									td **** **** **** 4344
									td Снято <span>(В обработке)</span>
								
			.pagination.switch-block_1.switch-block_active
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 
								
			.pagination.switch-block_3
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 10 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 



	include includes/footer.pug



























	