
extends includes/header-singin.pug

block content

	.popup.popup-expand
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico50.svg" alt="Ico")
			h2 Расширение пакета
			.popup-expand__block
				.popup-expand__item
					p Если у Вас остались сделки, можно продлить время действия пакета без покупки нового пакета
					.item__center
						.item__count
							.item__sign.item__sign_minus -
							input(type="number" value="2").item__num
							.item__sign.item__sign_plus +
						p 1500 ₽
					span Минимум 7 дней - <br />Максимум 30 дней
				.popup-expand__item
					p Если у Вас закончились сделки, можно увеличитьих количество, <br />без покупки нового пакета
					.item__center
						.item__count
							.item__sign.item__sign_minus -
							input(type="number" value="2").item__num
							.item__sign.item__sign_plus +
						p 750 ₽
					span Минимум 50 сделок - <br />Максимум 250 сделок
				.popup-expand__item
					p Если Вам необходимо больше сделок, чем предусмотрено пакетом
					.item__center
						.item__count
							.item__sign.item__sign_minus -
							input(type="number" value="2").item__num
							.item__sign.item__sign_plus +
						p 750 ₽
					span Минимум 2 продукта - <br />Максимум 250 продуктов
				.popup-expand__item.popup-expand__item_last
					.item__sides
						.lft
							b 3000 ₽
							span Всего к оплате
						.rht
							button.pay Оплатить
							button.cancel Отмена
					
	main.page-plans
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Оплата
			section.page-plans__content.block-shadow
				nav.block__nav
					ul
						li
							a(href="plans.html") Планы
						li.li_active
							a(href="payment-history.html") История
				.table-ovf
					table
						thead
							tr
								td Дата
								td Пакет
								td Цена
								td Скидка
								td Статус
						tbody
							tr
								td
									p 29-09-2021 15:42
								td
									p Стандарт
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Продление <br />Стандарт 7 дней
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Стандарт
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Продление <br />Стандарт 7 дней
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Стандарт
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Продление <br />Стандарт 7 дней
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Стандарт
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Продление <br />Стандарт 7 дней
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Стандарт
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Продление <br />Стандарт 7 дней
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Стандарт
								td
									p +7499
								td
									p ~
								td
									p Проведено
							tr
								td
									p 29-09-2021 15:42
								td
									p Продление <br />Стандарт 7 дней
								td
									p +7499
								td
									p ~
								td
									p Проведено

			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций 

			



								


			
			
			


	include includes/footer.pug



























	
