
extends includes/header-singin.pug

block content

	main.page-plans
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Оплата
			section.page-plans__content.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="plans.html") Планы
						li
							a(href="payment-history.html") История
				h2 Пакеты взаимодействия с сервисом ДонКешбэк
				p Выбраный план: «Стандарт», Всего 5 продуктов, Используется 5 продуктов, Сделок доступно 250. <br />Окончание периода выбранного пакета 24.09.2021 04:41
				.promocode
					input(type="text" placeholder="Ввести промокод")
					button Применить промокод
				.page-plans__block
					.page-plans__item.page-plans__item_disabled
						h3 «Легкий»
						.item__price
							span.price.price_green
								span Бесплатно
								span &nbsp
							span.price /  
							span 3 сделки
						button.item__button Активировать
						
					.page-plans__item
						h3 «Стандарт»
						.item__price
							span.price.price_green
								span 5999₽
								strike 7499₽
							span.price /  
							span месяц
						
						button.item__button Купить
						ul
							li До 5 продуктов
							li 250 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
					.page-plans__item
						h3 «Продвинутый»
						.item__price
							span.price.price_green
								span 11199₽
								strike 13999₽
							span.price /  
							span месяц
						
						button.item__button Купить
						ul
							li До 12 продуктов
							li 600 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
					.page-plans__item
						h3 «Король маркетплейсов»
						.item__price
							span.price.price_green
								span 19999₽
								strike 24999₽
							span.price /  
							span месяц
						
						button.item__button Купить
						ul
							li До 25 продуктов
							li 1250 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
			



								


			
			
			


	include includes/footer.pug



























	