
extends includes/header-singin.pug

block content

	.popup.popup-expand
		.popup__bgd
		.popup__content
			.popup__close
				<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292943 18.9374C-0.0976475 19.3279 -0.0976475 19.9609 0.292943 20.3514C0.683533 20.7419 1.3168 20.7419 1.70739 20.3514L9.8216 12.2399L17.9387 20.3607C18.3291 20.7513 18.9621 20.7513 19.3525 20.3607C19.743 19.9701 19.743 19.3368 19.3525 18.9462L11.2361 10.8259L19.3599 2.70487C19.7505 2.31441 19.7505 1.68135 19.3599 1.29089C18.9693 0.900432 18.336 0.900432 17.9454 1.29089L9.82217 9.4114L1.70711 1.29261C1.31668 0.901994 0.683659 0.901994 0.293224 1.29261C-0.0972099 1.68322 -0.0972099 2.31653 0.293224 2.70715L8.40771 10.8254L0.292943 18.9374Z" fill="#B1B1B1"/></svg>
			h2 Расширение пакета
			.popup-expand__block
				.popup-expand__item
					p Если у Вас остались сделки, можно продлить время действия пакета без покупки нового пакета
					.select-v2
						.select__head
							span 7 дней
						.select__body
							.select__item
								span.span 7 дней
								span.grey 500 руб
							.select__item
								span.span 14 дней
								span.grey 500 руб
							.select__item
								span.span 21 день
								span.grey 500 руб
							.select__item
								span.span 30 дней
								span.grey 500 руб
					//- .item__center
						.item__count
							.item__sign.item__sign_minus -
							input(type="number" value="2").item__num
							.item__sign.item__sign_plus +
						p 1500 ₽
					span Минимум 7 дней - <br />Максимум 30 дней
				.popup-expand__item
					p Если у Вас закончились сделки, можно увеличить их количество, без покупки нового пакета
					//- .select-v2
						.select__head
							span 7 дней
						.select__body
							.select__item
								span.span 7 дней
								span.grey 500 руб
							.select__item
								span.span 14 дней
								span.grey 500 руб
							.select__item
								span.span 21 день
								span.grey 500 руб
							.select__item
								span.span 30 дней
								span.grey 500 руб
					.item__center
						.item__count
							.item__sign.item__sign_minus -
							input(type="number" value="2").item__num
							.item__sign.item__sign_plus +
						p 750 ₽
					span Минимум 50 сделок - <br />Максимум 250 сделок
				.popup-expand__item
					p Если Вам необходимо больше сделок, чем предусмотрено пакетом
					//- .select-v2
						.select__head
							span 7 дней
						.select__body
							.select__item
								span.span 7 дней
								span.grey 500 руб
							.select__item
								span.span 14 дней
								span.grey 500 руб
							.select__item
								span.span 21 день
								span.grey 500 руб
							.select__item
								span.span 30 дней
								span.grey 500 руб
					.item__center
						.item__count
							.item__sign.item__sign_minus -
							input(type="number" value="2").item__num
							.item__sign.item__sign_plus +
						p 750 ₽
					span Минимум 2 продукта - <br />Максимум 250 продуктов
				.popup-expand__item.popup-expand__item_last
					.item__sides
						.lft
							b 3000 ₽
							span Всего к оплате
						.rht
							button.pay Оплатить
							button.cancel Отмена
					
	main.page-plans
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Оплата
			section.page-plans__content.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="plans.html") Планы
						li
							a(href="payment-history.html") История
				h2 Пакеты взаимодействия с сервисом ДонКешбэк
				p Выбраный план: «Стандарт», Всего 5 продуктов, Используется 5 продуктов, Сделок доступно 250. <br />Окончание периода выбранного пакета 24.09.2021 04:41
				.promocode
					input(type="text" placeholder="Ввести промокод")
					button Применить промокод
				.page-plans__block
					.page-plans__item
						h3 «Легкий»
						.item__price
							span.price 150₽
							span.price /  
							span сделка
						p Минимум 10 сделок
						button.item__button Купить
						.count
							.count__block
								.count__sign.count__minus -
								input(type="number" min="1" value="14").count__num
								.count__sign.count__plus +
							p 4900 ₽
						ul
							li Один продукт
							li Один бренд
					.page-plans__item.page-plans__item_green
						h3 «Стандарт»
						.item__price
							span.price 7499₽
							span.price /  
							span месяц
						p
							<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5926 0.0361263C15.3203 0.11839 14.8408 0.525623 14.5483 0.923115C14.4927 0.998668 14.4284 1.08032 14.4054 1.10458C14.3824 1.12887 14.2661 1.26696 14.147 1.41148C14.0279 1.556 13.9193 1.68333 13.9057 1.69445C13.892 1.70557 13.8312 1.78132 13.7705 1.86274C13.7098 1.94419 13.6361 2.03514 13.6066 2.06486C13.577 2.09461 13.3742 2.33719 13.1559 2.60399C12.7267 3.12842 12.4244 3.48718 12.3195 3.59694C12.283 3.63497 12.2376 3.69278 12.2184 3.7254C12.1992 3.75803 12.1074 3.87376 12.0145 3.98262C11.9214 4.09149 11.6961 4.36245 11.5137 4.58478C11.3313 4.80712 11.1052 5.07998 11.0112 5.19115C10.833 5.40184 10.4793 5.82961 9.96029 6.46208C9.91574 6.51633 9.81485 6.63457 9.73606 6.72484C9.65727 6.81511 9.3855 7.14364 9.13216 7.4549C8.87882 7.76617 8.61582 8.08584 8.54779 8.16528C8.29696 8.45807 8.05506 8.74783 7.85811 8.99139C7.74694 9.12887 7.23897 9.74364 6.7293 10.3576L5.88285 11.3771C5.84057 11.428 5.76292 11.4296 5.7187 11.3803C5.67253 11.3289 5.54382 11.1802 5.43266 11.0499C5.32149 10.9196 4.93305 10.4667 4.56948 10.0435C4.2059 9.62027 3.83299 9.18409 3.74078 9.07422C3.41282 8.68339 2.96496 8.1812 2.84551 8.07024C2.77881 8.00831 2.5878 7.88999 2.42105 7.80732C2.13537 7.66571 2.09572 7.65702 1.73384 7.65702C1.31363 7.65702 1.08066 7.72243 0.779909 7.92496C0.521638 8.09882 0.227633 8.45023 0.121074 8.71234C-0.0103447 9.03561 -0.0386011 9.51969 0.0551427 9.8422C0.12354 10.0775 0.379386 10.5128 0.565782 10.7109C0.61902 10.7675 0.771743 10.9399 0.905143 11.0939C1.03854 11.248 1.19547 11.429 1.25384 11.4963C1.39161 11.6551 2.17782 12.5771 2.3719 12.8076C2.45452 12.9057 2.54038 13.0058 2.56274 13.0299C2.58509 13.0541 2.71243 13.2012 2.84571 13.3568C2.97899 13.5125 3.09755 13.6489 3.10915 13.66C3.1208 13.6711 3.22085 13.7893 3.33149 13.9225C3.44217 14.0557 3.55612 14.1896 3.58474 14.2199C3.61336 14.2503 3.89253 14.5736 4.20513 14.9383C4.67818 15.4902 4.81861 15.6278 5.04244 15.7584C5.38294 15.957 5.65984 16.0215 6.05479 15.994C6.41557 15.9688 6.64971 15.8844 6.92835 15.6791C7.123 15.5356 7.39323 15.2652 7.39323 15.2139C7.39323 15.2003 7.4457 15.1134 7.50986 15.0208C7.61298 14.872 7.79824 14.5829 8.47268 13.5185C8.57132 13.3629 8.8008 13.0049 8.98267 12.7229C9.16458 12.4409 9.52044 11.886 9.77345 11.4899C10.0265 11.0938 10.2448 10.7606 10.2585 10.7495C10.2723 10.7384 10.304 10.6929 10.3289 10.6484C10.3539 10.604 10.5252 10.3311 10.7096 10.0421C11.0327 9.53562 11.1775 9.30977 11.8941 8.19483C12.0755 7.91255 12.4229 7.36916 12.6662 6.98736C12.9094 6.60555 13.1277 6.27189 13.1513 6.24589C13.1748 6.2199 13.2146 6.16294 13.2397 6.11933C13.3039 6.0078 13.7896 5.2441 14.177 4.64542C14.3569 4.3675 14.6601 3.89454 14.8509 3.59439C15.7088 2.24474 16.0562 1.71369 16.0893 1.7012C16.1088 1.69376 16.1249 1.66623 16.1249 1.63996C16.1249 1.61368 16.1585 1.52879 16.1997 1.4513C16.5926 0.711534 16.4371 -0.0101595 15.887 0.000108273C15.7844 0.00200821 15.6519 0.0182183 15.5926 0.0361263Z" fill="#21B396"/></svg>
							span Расширенный
						button.item__button(data-popup="expand") Расширить пакет
						ul
							li До 5 продуктов
							li 250 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
					.page-plans__item
						h3 «Продвинутый»
						.item__price
							span.price 13999₽
							span.price /  
							span месяц
						p &nbsp
						button.item__button Купить
						ul
							li До 12 продуктов
							li 600 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
					.page-plans__item
						h3 «Король маркетплейсов»
						.item__price
							span.price 24999₽
							span.price /  
							span месяц
						p &nbsp
						button.item__button Купить
						ul
							li До 25 продуктов
							li 1250 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
				.page-plans__bottom
					h4
						span Как работает функция «Расширить пакет»:
						a(href="#") Подробнее
					p Если Вам необходимо немного больше чем предусмотрено пакетом, у Вас есть возможность расширить пакет. В расширении пакета доступно увеличение <br />количестка продуктов,  времени действия пакета, сделок.
					p Увеличение кол-ва продуктов: если Вам необходимо разместить немного больше продуктов, чем предусмотрено пакетом, Вы можете увеличить кол-во продуктов, но не более чем на 2. Доступно на все время действия пакета.
					p Увеличение времени действия пакета: если после окончания действия пакета по времени на балансе вашего аккаунта остались сделки (сделки не сгорают), у Вас есть возможность продлить время действия пакета. В случае продления пакет будет активен на протяжении предусмотренного пакетом времени плюс времени добавленного расширением пакета.
					p Увеличение кол-ва сделок: если у Вас не закончилось время действия пакета, но закончились сделки, есть возможность их добавить. <br >Все неиспользованные сделки сохраняются на балансе вашего аккаунта.
			



								


			
			
			


	include includes/footer.pug



























	