
extends includes/header-singin.pug

block content

	main.page-plans
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Оплата
			section.page-plans__content.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="plans.html") Планы
						li
							a(href="payment-history.html") История
				h2 Пакеты взаимодействия с сервисом ДонКешбэк
				p Выбраный план: «Стандарт», Всего 5 продуктов, Используется 5 продуктов, Сделок доступно 250. <br />Окончание периода выбранного пакета 24.09.2021 04:41
				.promocode
					input(type="text" placeholder="Ввести промокод")
					button Применить промокод
				.page-plans__block
					.page-plans__item
						h3 «Легкий»
						.item__price
							span.price.price_green
								span Бесплатно
								span &nbsp
							span.price /  
							span 3 сделки
						button.item__button Активировать
						
					.page-plans__item
						h3 «Стандарт»
						.item__price
							span.price.price_green
								span 5999₽
								strike 7499₽
							span.price /  
							span месяц
						
						button.item__button Купить
						ul
							li До 5 продуктов
							li 250 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
					.page-plans__item
						h3 «Продвинутый»
						.item__price
							span.price.price_green
								span 11199₽
								strike 13999₽
							span.price /  
							span месяц
						
						button.item__button Купить
						ul
							li До 12 продуктов
							li 600 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
					.page-plans__item
						h3 «Король маркетплейсов»
						.item__price
							span.price.price_green
								span 19999₽
								strike 24999₽
							span.price /  
							span месяц
						
						button.item__button Купить
						ul
							li До 25 продуктов
							li 1250 сделок - остаток не сгорает
							li Аккумулирование сделок
							li Продление срока действия пакета 
							li Возможность добавить необходимое количество сделок
			



								


			
			
			


	include includes/footer.pug



























	