extends includes/header-singin-seller.pug

block content

	main.page-products.pages-seller
		.popup.popup-stop-company
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Остановка кампании
				.popup__status-svg
					img(src="img/svg/ico73.svg" alt="Ico")
				p Вы подтверждаете запрос на покупку?
				.buttons
					button.popup__close_button.button-red-border Нет
					button.popup__close_button Да
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Продукты
			.pages-seller__top.block-shadow
				.select-v2
					.select__head
						span Все статусы
					.select__body
						span Все продукты
						span В наличии
						span Нет в наличии
						span Остановлен
				form(action="#").pages-seller__search
					input(placeholder="Поиск")
					button(type="submit") Применить
				.found Найдено 132
				.available Доступно сделок: 50 из 250 
				button.add-product Добавить продукт (5/5)
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="requests.html") Все продукты
						li
							a(href="requests-new.html") Активные
						li
							a(href="404.html") Остановленные
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Статус
								td Тип
								td Цена/Кешбэк
								td Ставка
								td Дата старта/окончания
								td Количество
								td Запросы
								td Заказы
								td Действия
						tbody
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_none Нет в наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_has В наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_stoped Остановлен
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#").td__button.td__button_start
										img(src="img/svg/pr-ico-4.svg" alt="Ico")
										span Возобновить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_none Нет в наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_has В наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_stoped Остановлен
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#").td__button.td__button_start
										img(src="img/svg/pr-ico-4.svg" alt="Ico")
										span Возобновить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_none Нет в наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_has В наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_stoped Остановлен
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#").td__button.td__button_start
										img(src="img/svg/pr-ico-4.svg" alt="Ico")
										span Возобновить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_none Нет в наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_has В наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_stoped Остановлен
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#").td__button.td__button_start
										img(src="img/svg/pr-ico-4.svg" alt="Ico")
										span Возобновить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_none Нет в наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_has В наличии
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#" data-popup="stop-company").td__button.td__button_stop
										img(src="img/svg/pr-ico-3.svg" alt="Ico")
										span Остановить
							tr
								td
									p 23
								td
									.td__sides
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											img(src="img/svg/flag-ru.svg" alt="Flag")
											span Бренд:
											span ZORIA ZORIA 
								td
									.td__status.td__status_stoped Остановлен
								td
									p Кешбэк после отзыва
								td
									p ₽250,00/<br />₽232,50
								td
									p 93%
								td
									p 29.08.2021 17:00 - 13.11.2021 06:44
								td
									p 2355
								td
									p 3
									a(href="#") Показать
								td
									p 94
									a(href="#") Показать
								td
									a(href="products-change.html").td__button.td__button_change
										img(src="img/svg/pr-ico-1.svg" alt="Ico")
										span Изменить
									a(href="#").td__button.td__button_show
										img(src="img/svg/pr-ico-2.svg" alt="Ico")
										span Показать
									a(href="#").td__button.td__button_start
										img(src="img/svg/pr-ico-4.svg" alt="Ico")
										span Возобновить






								


			
			
			


	include includes/footer-seller.pug



























	