extends includes/header-singin-seller.pug

block content

	main.page-products-change.pages-seller
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				a(href="#") Продукты
				span Изменить
			h2 Информация о продукте
			section.block-shadow
				form
					.inputs
						label
							p
								b *
								span Тип кампании
							.select
								.select__head
									span Кешбэк после отзыва
								.select__body
									span Кешбэк после отзыва
									span Купоны
									span Кешбэк после доставки (без отзыва)
						label
							p
								b *
								span Категории
							.select
								.select__head
									span Аксессуары
								.select__body
									span Электроника
									span Красота и Здоровье
									span Автотовары
									span Канцтовары
									span Сад и Дача
									span Для Ремонта
									span Зоотовары
									span Книги
									span Игрушки
									span Спорт
									span Детские товары
									span Обувь
									span Одежда
									span Продукты питания
					.inputs
						label
							p
								b *
								span Наименование продукта (Заголовок)
								span.p до 150 символов
							input(type="text" placeholder="Кольцо-держатель на палец LGD Magnests для телефона серебро" value="Кольцо-держатель на палец LGD Magnests для телефона серебро")
						label
							p
								b *
								span Наименование магазина (Бренд)
								span.question
									img(src="img/svg/q1.svg" alt="Q")
									span.smile__block Служит для информирования покупателя во избежание непреднамеренной покупки товара у другого продавца
							input(type="text" placeholder="КАЙВА" value="КАЙВА")
							.select
								.select__head
									span Список Ваших магазинов
								.select__body
									span Список Ваших магазинов
									span Электроника
									span Красота и Здоровье
									span Автотовары
									span Канцтовары
									span Сад и Дача
									span Для Ремонта
									span Зоотовары
					.inputs
						label
							p
								b *
								span Ссылка на страницу товара (Для модерации)
							input(type="text" placeholder="Кольцо-держатель на палец LGD Magnests для телефона серебро" value="Кольцо-держатель на палец LGD Magnests для телефона серебро")
							.switches
								input(type="checkbox")#ch12
								label(for="ch12") Доступно для покупателя
						label
							p
								b *
								span Выбор торговой площадки
							.select
								.select__head
									span Яндекс
								.select__body
									span Яндекс
									span OZON
									span AliExpress
									span WILDBERRIES
									span Lamoda
									span Avito
									span Delivery Club
					.inputs
						label
							p
								b *
								span Цена (₽)
							input(type="text" placeholder="₽ 250,00" value="₽ 250,00")
						label
							p
								b *
								span Кэшбек за единицу  (₽)
							input(type="text" placeholder="₽ 250,00" value="₽ 250,00")
						label
							p
								b *
								span Кешбэк (%)
							input(type="text" placeholder="93" value="93")
						label
							p
								b *
								span Количество заказов на сутки
							input(type="text" placeholder="4" value="4")
						label
							p
								b *
								span Кол-во/мес.
								span.green Доступно: 250 сделок из 250
							input(type="text" placeholder="44" value="44")
					.inputs
						label
							p
								b *
								span Возврат кешбэка по истечению или раньше (указать количество дней, видно покупателю)
							input(type="text" placeholder="21" value="21")
						.label
							p
								b *
								span Возврат кешбэка если отзыв удален или исключен на МП (видно покупателю)
								span.question
									img(src="img/svg/q1.svg" alt="Q")
									span.smile__block Общие рекомендации оставить параметр «Да», во избежание ситуации, когда покупатель потратив денежные средства на покупку захочет вернуть товар на маркетплейс
							.radios
								input(type="radio" name="rd22")#rd22-1
								label(for="rd22-1") Да
								input(type="radio" name="rd22")#rd22-2
								label(for="rd22-2") Нет
					label
						p
							b *
							span Описание товара
						textarea(placeholder="Описание")
					label
						p
							b *
							span Условия участия для покупателя
						textarea(placeholder="Описание")
					label
						p
							b *
							span Изображения
							span.p До 7 изображений. Обьем не более 2 мб. Первое загруженное изображение будет отображаться первым
						.load-photos
							ul
								li.loaded
									img(src="img/slider-single2.jpg" alt="Photo")
									.delete
										img(src="img/svg/del-photo.svg" alt="DELETE")
								li.load +
								li.load +
								li.load +
								li.load +
								li.load +
					.buttons
						button.buttons_cancel Отмена
						button.buttons_send Отправить на модерацию







								


			
			
			


	include includes/footer-seller.pug



























	