extends includes/header.pug

block content

	main.page-profile
		.popup.popup-success
			.popup__bgd
			.popup__content
				.popup__close
					img(src="img/svg/ico50.svg" alt="Ico")
				h2 Настройки сохранены
				.popup__status-svg
					img(src="img/svg/ico51.svg" alt="Ico")
				button.popup__close_button Скрыть окно
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				a(href="404.html") Настройки
				span Мой профиль
			main.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="404.html") Мой профиль
						li
							a(href="404.html") Кошельки
				form(action="404.html").page-profile__block.page-profile__block_active.page-profile__block_1
					.page-profile__inner
						.page-profile__lft
							label
								p
									b *
									span Имя
								input(type="text" placeholder="Ali")
							label
								p
									b *
									span Фамилия
								input(type="text" placeholder="Ali")
							label
								p
									b *
									span Дата рождения
								.selects
									.select
										.select__head
											span День
										.select__body
											span 1
											span 2
											span 3
									.select
										.select__head
											span Месяц
										.select__body
											span 1
											span 2
											span 3
									.select
										.select__head
											span Год
										.select__body
											span 2021
											span 2020
											span 2019
							label
								p
									b *
									span Страна
								.select
									.select__head
										span Выбрать страну
									.select__body
										span Выбрать страну1
										span Выбрать страну2
										span Выбрать страну3
							label
								p
									b *
									span Город
								.select
									.select__head
										span Поиск по названию
									.select__body
										span Поиск по названию1
										span Поиск по названию2
										span Поиск по названию3
								.button Выбрать
						.page-profile__center
							label
								p
									b *
									span Пол
								.radios
									input(type="radio" name="sex")#rd1
									label(for="rd1") Жен
									input(type="radio" name="sex")#rd2
									label(for="rd2") Муж
							label
								p
									b *
									span Телефон
								input(type="tel" placeholder="+ Х ХХХ ХХХ ХХ ХХ")
							label
								p
									b *
									span Email
								input(type="email" placeholder="happy-213@yandex.ru")
							label
								p
									b *
									span Пароль
								input(type="password" placeholder="********")
								.change(data-popup="password-change") Изменить
							label
								p
									b *
									span Email рассылка
								.checkboxes
									input(type="checkbox")#ch1
									label(for="ch1") Новости о выгодных предложениях
									input(type="checkbox")#ch2
									label(for="ch2") Новостная рассылка
							.inputs
								label
									p
										b *
										span Никнейм телеграмма
									input(type="password" placeholder="t.me/Mila_Niki_tina")
								label
									p
										b *
										span Номер для телеграмм бота
									input(type="password" placeholder="+380665158662")
						.page-profile__rht
							label
								input(type="file")
								h3 Ваш ID: 23565
								img(src="img/svg/photo-add.svg" alt="Ico")
								img(src="img/add-logo.png" alt="Logo")
					button(type="submit" data-popup="success") Сохранить настройки
				form(action="404.html").page-profile__block.page-profile__block_2
					.page-profile__inner
						.page-profile__lft
							label
								p
									span QIWI Кошелек
								input(type="text" placeholder="Ali")
								.rec
									img(src="img/svg/ico74.svg" alt="Ico")
									span Мы рекомендуем использовать учетную запись QIWI
							label
								p
									span ТИНЬКОФФ
								input(type="text" placeholder="ФИО держателя карты")
								input(type="text" placeholder="ХХХХ ХХХХ ХХХХ ХХХХ")
								span.quest
									img(src="img/svg/q1.svg" alt="Ico")
									span.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
							label
								p
									span СБЕРБАНК
								input(type="text" placeholder="ФИО держателя карты")
								input(type="text" placeholder="ХХХХ ХХХХ ХХХХ ХХХХ")
								span.quest
									img(src="img/svg/q1.svg" alt="Ico")
									span.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
							label
								p
									span Другой банк
								input(type="text" placeholder="ФИО держателя карты")
								input(type="text" placeholder="ХХХХ ХХХХ ХХХХ ХХХХ")
								span.quest
									img(src="img/svg/q1.svg" alt="Ico")
									span.smile__block Возврат кешбэка в случае удаления <br />или исключения отзыва из рейтинга <br />(зелёная галочка - да, красный крестик - нет)
							button(type="submit") Сохранить настройки
						.page-profile__center
							img(src="img/svg/settings-wallet.svg" alt="Wallet")

			



	.popup.popup-password-change
		.popup__bgd
		.popup__content
			.popup__close
				img(src="img/svg/ico26.svg" alt="Close")
			h2 Изменить пароль
			form(action="404.html")
				label
					p Старый пароль:
					input(type="password" placeholder="********")
				label
					p Новый пароль:
					input(type="password" placeholder="********")
				label
					p Повторите пароль:
					input(type="password" placeholder="********")
				button Изменить пароль

	include includes/footer.pug



























	