extends includes/header-singin-seller.pug

block content

	main.page-requests.pages-seller
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Запросы
			.pages-seller__top.block-shadow
				.select-v2
					.select__head
						span Все статусы
					.select__body
						span Все продукты
						span В наличии
						span Нет в наличии
						span Остановлен
				form(action="#").pages-seller__search
					input(placeholder="Поиск")
					button(type="submit") Применить
				.found 132 Найдено
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="requests.html") Все Запросы
						li
							a(href="requests-new.html") Новые
						li
							a(href="404.html") Подтвержденные
						li
							a(href="404.html") Отклоненные
						li
							a(href="404.html") Отмененные покупателем
						li
							a(href="404.html") Время заказа истекло
						li
							a(href="404.html") Истекшие запросы
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Дата запроса
								td Статус
								td Покупатель
								td Действия
						tbody
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_new Новый
									p.p_green На подтверждение запроса осталось: 2д: 23ч: 59мин
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_success Новый
									p.p_green Время на загрузку информации о покупке: 2д: 23ч: 59мин
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_rejected Отклонен
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_canceled Новый
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
											.photo-name Фотография у которой есть название
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											img(src="img/svg/ico78.svg" alt="Ico")
											span Перейти в сделку
										a(href="#")
											img(src="img/svg/ico79.svg" alt="Ico")
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить

			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					img(src="img/svg/ico23.svg" alt="Ico")
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций






								


			
			
			


	include includes/footer-seller.pug



























	