extends includes/header-singin-seller.pug

block content

	main.page-requests.pages-seller
		.wrapper
			#breadcrumbs
				a(href="404.html")
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9036 6.58662L12.6283 5.31131L7.54675 0.224274C7.47565 0.153171 7.39125 0.0967683 7.29835 0.0582872C7.20546 0.0198061 7.10589 0 7.00534 0C6.90479 0 6.80523 0.0198061 6.71233 0.0582872C6.61944 0.0967683 6.53503 0.153171 6.46393 0.224274L1.37472 5.30802L0.0961218 6.58662C0.0381618 6.64882 0.00660792 6.73109 0.00810776 6.8161C0.00960761 6.9011 0.0440441 6.98221 0.104162 7.04233C0.16428 7.10245 0.245386 7.13688 0.330393 7.13838C0.4154 7.13988 0.49767 7.10833 0.559872 7.05037L1.27847 6.33177V13.2344C1.27847 13.4375 1.35913 13.6322 1.50271 13.7758C1.64629 13.9194 1.84103 14.0001 2.04409 14.0001H5.03112C5.23418 14.0001 5.42892 13.9194 5.5725 13.7758C5.71608 13.6322 5.79675 13.4375 5.79675 13.2344V8.85943C5.79675 8.83042 5.80827 8.8026 5.82878 8.78209C5.84929 8.76158 5.87711 8.75006 5.90612 8.75006H8.09362C8.12263 8.75006 8.15045 8.76158 8.17096 8.78209C8.19147 8.8026 8.203 8.83042 8.203 8.85943V13.2344C8.203 13.4375 8.28366 13.6322 8.42724 13.7758C8.57083 13.9194 8.76557 14.0001 8.96862 14.0001H11.9589C12.0595 14.0001 12.159 13.9803 12.2519 13.9418C12.3448 13.9033 12.4292 13.8469 12.5003 13.7758C12.5714 13.7047 12.6278 13.6203 12.6663 13.5274C12.7048 13.4345 12.7246 13.335 12.7246 13.2344V6.33505L13.4399 7.05037C13.5021 7.10833 13.5843 7.13988 13.6694 7.13838C13.7544 7.13688 13.8355 7.10245 13.8956 7.04233C13.9557 6.98221 13.9901 6.9011 13.9916 6.8161C13.9931 6.73109 13.9616 6.64882 13.9036 6.58662ZM12.0683 13.2344C12.0683 13.2634 12.0568 13.2913 12.0363 13.3118C12.0158 13.3323 11.9879 13.3438 11.9589 13.3438H8.96862C8.93961 13.3438 8.91179 13.3323 8.89128 13.3118C8.87077 13.2913 8.85925 13.2634 8.85925 13.2344V8.85943C8.85925 8.65637 8.77858 8.46163 8.635 8.31805C8.49142 8.17447 8.29668 8.09381 8.09362 8.09381H5.90612C5.70307 8.09381 5.50833 8.17447 5.36474 8.31805C5.22116 8.46163 5.1405 8.65637 5.1405 8.85943V13.2344C5.1405 13.2634 5.12897 13.2913 5.10846 13.3118C5.08795 13.3323 5.06013 13.3438 5.03112 13.3438H2.04409C2.01508 13.3438 1.98726 13.3323 1.96675 13.3118C1.94624 13.2913 1.93472 13.2634 1.93472 13.2344V5.67662L6.92222 0.688024C6.94271 0.667653 6.97043 0.656219 6.99932 0.656219C7.02822 0.656219 7.05594 0.667653 7.07643 0.688024L12.0672 5.6788L12.0683 13.2344Z" fill="#767998"/></svg>
				span Запросы
			.pages-seller__top.block-shadow
				.select-v2
					.select__head
						span Все статусы
					.select__body
						span Все продукты
						span В наличии
						span Нет в наличии
						span Остановлен
				form(action="#").pages-seller__search
					input(placeholder="Поиск")
					button(type="submit") Применить
				.found 132 Найдено
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a(href="requests.html") Все Запросы
						li
							a(href="requests-new.html") Новые
						li
							a(href="404.html") Подтвержденные
						li
							a(href="404.html") Отклоненные
						li
							a(href="404.html") Отмененные покупателем
						li
							a(href="404.html") Время заказа истекло
						li
							a(href="404.html") Истекшие запросы
				.table-ovf
					table
						thead
							tr
								td ID
								td Продукт
								td Дата запроса
								td Статус
								td Покупатель
								td Действия
						tbody
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_new Новый
									p.p_green На подтверждение запроса осталось: 2д: 23ч: 59мин
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_success Новый
									p.p_green Время на загрузку информации о покупке: 2д: 23ч: 59мин
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_rejected Отклонен
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_canceled Новый
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить
							tr
								td
									p 9
								td
									.td__block
										.td__photo
											img(src="img/order1.jpg" alt="Photo")
										.td__info
											.td__brand
												img(src="img/svg/flag-ru.svg" alt="Flag")
												.td__name
													span Бренд:
													span ZORIA
											.td__price
												.td__item
													span Цена
													p 235 ₽
												.td__item
													span Кешбэк
													p 135 ₽
												.td__item
													span Ставка
													p 100%

								td
									p 22.01.2021 <br />21:17
								td
									.td__status.td__status_expired Истекший запрос
									p.p_red Время подтверждения заказа продавцом истекло
								td
									p.name Вика
									p.position Россия/Химки
								td
									.more
										a(href="#")
											<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3125 0H1.875C0.840937 0 0 0.728812 0 1.625V6.5C0 7.39619 0.840937 8.125 1.875 8.125V10.1562C1.875 10.3147 1.98187 10.4593 2.14781 10.5251C2.21062 10.5503 2.27719 10.5625 2.34375 10.5625C2.45344 10.5625 2.56219 10.5292 2.64844 10.465L5.79844 8.125H10.3125C11.3466 8.125 12.1875 7.39619 12.1875 6.5V1.625C12.1875 0.728812 11.3466 0 10.3125 0Z" fill="#495FEA"/><path d="M13.1248 2.4375V6.5C13.1248 7.84387 11.863 8.9375 10.3124 8.9375H6.14517L4.08362 10.4683C4.27487 10.5251 4.47549 10.5625 4.68737 10.5625H9.20142L12.3505 12.9025C12.4377 12.9667 12.5464 13 12.6561 13C12.7227 13 12.7902 12.9878 12.852 12.9626C13.0189 12.8968 13.1248 12.7522 13.1248 12.5938V10.5625C14.1589 10.5625 14.9998 9.83369 14.9998 8.9375V4.0625C14.9998 3.16631 14.1589 2.4375 13.1248 2.4375Z" fill="#495FEA"/></svg>
											span Перейти в сделку
										a(href="#")
											<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6945 0.0270947C11.4902 0.0887922 11.1306 0.394217 10.9112 0.692336C10.8696 0.749001 10.8213 0.810243 10.804 0.828434C10.7868 0.846656 10.6996 0.950222 10.6102 1.05861C10.5209 1.167 10.4395 1.2625 10.4292 1.27084C10.419 1.27917 10.3734 1.33599 10.3279 1.39705C10.2824 1.45814 10.2271 1.52636 10.2049 1.54864C10.1828 1.57096 10.0306 1.7529 9.8669 1.953C9.54501 2.34631 9.31832 2.61539 9.23959 2.6977C9.21227 2.72623 9.17816 2.76959 9.16379 2.79405C9.14939 2.81852 9.08057 2.90532 9.01084 2.98697C8.94108 3.06861 8.77208 3.27184 8.63529 3.43859C8.49849 3.60534 8.32889 3.80998 8.25837 3.89336C8.12476 4.05138 7.85947 4.3722 7.47022 4.84656C7.43681 4.88725 7.36113 4.97593 7.30204 5.04363C7.24295 5.11133 7.03912 5.35773 6.84912 5.59118C6.65912 5.82463 6.46187 6.06438 6.41084 6.12396C6.22272 6.34355 6.04129 6.56087 5.89358 6.74354C5.81021 6.84665 5.42923 7.30773 5.04698 7.76817L4.35196 8.60532L4.28902 8.53522C4.2544 8.49666 4.15787 8.38515 4.07449 8.28743C3.99112 8.18969 3.69979 7.85003 3.42711 7.5326C3.15443 7.2152 2.87474 6.88807 2.80559 6.80566C2.55961 6.51255 2.22372 6.1359 2.13413 6.05268C2.0841 6.00623 1.94085 5.91749 1.81579 5.85549C1.60153 5.74929 1.57179 5.74277 1.30038 5.74277C0.985222 5.74277 0.810499 5.79182 0.584932 5.94372C0.391229 6.07411 0.170725 6.33767 0.0908059 6.53425C-0.00775851 6.77671 -0.0289508 7.13977 0.041357 7.38165C0.0926554 7.55813 0.284539 7.88456 0.424336 8.03318C0.464265 8.07566 0.578807 8.20491 0.678857 8.32045C0.778907 8.43599 0.896603 8.57179 0.940382 8.62224C1.04371 8.7413 1.63336 9.43282 1.77892 9.6057C1.84089 9.67928 1.90529 9.75432 1.92205 9.77245C1.93882 9.79058 2.03432 9.90091 2.13428 10.0176C2.23424 10.1344 2.32316 10.2367 2.33186 10.245C2.3406 10.2534 2.41563 10.3419 2.49861 10.4419C2.58163 10.5418 2.66709 10.6422 2.68856 10.665C2.71002 10.6877 2.9194 10.9302 3.15385 11.2037C3.50863 11.6177 3.61396 11.7208 3.78183 11.8188C4.0372 11.9678 4.24488 12.0161 4.54109 11.9955C4.81168 11.9766 4.98728 11.9133 5.19626 11.7593C5.34225 11.6517 5.54492 11.4489 5.54492 11.4104C5.54492 11.4002 5.58428 11.335 5.63239 11.2656C5.70973 11.154 5.84868 10.9372 6.35451 10.1389C6.42849 10.0222 6.6006 9.75365 6.737 9.54215C6.87344 9.33065 7.14033 8.91453 7.33009 8.61745C7.51988 8.32036 7.6836 8.07045 7.69391 8.06211C7.70425 8.05377 7.72798 8.01966 7.74669 7.98631C7.7654 7.95296 7.89389 7.74831 8.03217 7.53154C8.27453 7.15171 8.38313 6.98233 8.92055 6.14612C9.05662 5.93441 9.3172 5.52687 9.49966 5.24052C9.68208 4.95416 9.8458 4.70392 9.86348 4.68442C9.88112 4.66493 9.91098 4.62221 9.92981 4.58949C9.97796 4.50585 10.3422 3.93308 10.6328 3.48406C10.7677 3.27563 10.9951 2.9209 11.1382 2.69579C11.7816 1.68356 12.0421 1.28527 12.0669 1.2759C12.0816 1.27032 12.0936 1.24968 12.0936 1.22997C12.0936 1.21026 12.1189 1.14659 12.1498 1.08847C12.4445 0.533651 12.3278 -0.00761961 11.9152 8.12044e-05C11.8383 0.00150616 11.7389 0.0136638 11.6945 0.0270947Z" fill="#21B396"/></svg>
											span Подтвердить
										a(href="#")
											img(src="img/svg/cross.svg" alt="Cross")
											span Отклонить

			.pagination
				span.pagination__num.pagination__num_current 1
				a(href="404.html").pagination__num 2
				a(href="404.html").pagination__num 3
				span.pagination__num.pagination__num_three ...
				a(href="404.html").pagination__num 7
				a(href="404.html").pagination__next
					span Следующая
					<svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z" fill="#222220"/></svg>
				.pagination__count.select
					.select__head
						span по 20 позиций 
					.select__body
						span по 10 позиций 
						span по 20 позиций 
						span по 30 позиций 
						span по 40 позиций






								


			
			
			


	include includes/footer-seller.pug



























	