extends includes/header-singin.pug

block content

	main.page-rules
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Правила
			h2 Правила пользования сайтом ДонКешбэк
			section.block-shadow
				nav.block__nav
					ul
						li.li_active
							a() Правила сервиса
						li
							a() Политика Конфиденциальности
						li
							a() Пользовательское соглашение
						li
							a() Инструкция для продавца и покупателя
						li
							a() Информация запрещенная к размещению на сайте
				.page-rules__block.page-rules__block_active.page-rules__block_1
					nav.page-rules__nav
						.nav__title Содержание
						ol
							li
								a(href="#text__block4-1") ОБЩИЕ ПРАВИЛА
							li
								a(href="#text__block4-2") ОСНОВНЫЕ ОПРЕДЕЛЕНИЯ
							li
								a(href="#text__block4-3") Учётные записи
							li
								a(href="#text__block4-4") Учётная запись Продавца
							li
								a(href="#text__block4-5") Типы рекламных кампаний
							li
								a(href="#text__block4-6") Создание рекламной кампании
							li
								a(href="#text__block4-7") Депозит
							li
								a(href="#text__block4-8") Права и обязанности Продавца
							li
								a(href="#text__block4-9") Реклама
							li
								a(href="#text__block4-10") Учётная запись Покупателя
							li
								a(href="#text__block4-11") Права и обязанности Покупателя
							li
								a(href="#text__block4-12") Баллы
							li
								a(href="#text__block4-13") Возврат Кешбэка
							li
								a(href="#text__block4-14") Политика разрешения споров
							li
								a(href="#text__block4-15") Партнёрская программа
					.page-rules__text
						.text__block#text__block4-1
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 1. ОБЩИЕ ПРАВИЛА
							.text__p
								p 1.1. Пользоваться Сервисом https://doncashback.ru может любое лицо, достигшее 18 (восемнадцати) - летнего возраста и\или являющееся совершеннолетним (совершеннолетней), согласно законодательству страны, гражданином (гражданкой) которого является Пользователь.
								p 1.2. Для пользования Сервисом необходима регистрация с помощью E-mail; в дальнейшем Пользователь использует адрес электронной почты в качестве логина.
								p 1.3. У одного Пользователя может быть только один аккаунт Продавца и один Покупателя. Администрация Сервиса оставляет за собой право удалять дублирующиеся аккаунты или аккаунты Продавца, между которыми установлена связь (злоупотребление акциями, проводимыми Сервисом).
								p 1.4. Ответственность за всю размещённую Пользователем информацию (тексты, иллюстрации и т. д.) несёт Пользователь единолично. Регистрируясь на сайте https://doncashback.ru, Пользователь подтверждает, что понимает свою ответственность и гарантирует возмещение расходов, понесённых Сервисом, в случае предъявления претензий правообладателей к сайту https://doncashback.ru.
								p 1.5. На сайте запрещена ненормативная лексика, грубое общение, несанкционированная реклама, размещение информации и материалов, негативно влияющих на имидж сайта. Запрещено размещение материалов, нарушающих законодательство РФ или права третьих лиц.Информация, недоступная к размещению на Doncashback. В случае выявления нарушений вся ответственность возлагается на Пользователя, а вся нарушающая правила или закон информация будет удалена.
								p 1.6. Администрация Сервиса оставляет за собой право удалить любые материалы, а также заблокировать и\или удалить аккаунт (ты) Пользователя без объяснения причин. При подозрении на несанкционированный доступ к аккаунту, рассылке спама или иной подозрительной активности, администрация Сервиса имеет право, помимо блокировки аккаунта, заблокировать также вывод средств с Депозита до выяснения обстоятельств.
								p 1.7. Спорные ситуации, в том числе финансовые, при обращении Пользователя в службу поддержки Сервиса решаются в письменном виде. Если способ разрешения какой-либо проблемы не указан в существующих документах, то администрация Сервиса принимает отдельное решение о том, как необходимо поступить в той или иной ситуации.
								p 1.8. Пользователь берёт на себя обязательство не разглашать информацию, полученную в процессе работы в Сервисе, которая доступна только при входе в свой аккаунт. Эта информация включает в себя, но не ограничивается, параметрами и условиями Сделок, личной перепиской с другими Пользователями и пр. В виде исключения Пользователь имеет право публиковать данные о Сделках, совершённых на Сервисе, если это не раскрывает информацию, связанную с другими Пользователями (данные их Сделок, личная переписка и пр).
								p 1.9. Если Пользователь ведёт регулярную деятельность на Сервисе, регулярно получает/отправляет Кешбэк или получает вознаграждение по партнерской программе посредством использования Сервиса, то он должен самостоятельно регулировать свои взаимоотношения с государственными органами по таким активностям.
								p 1.10. Пользователь Сервиса не имеет права использовать для продвижения партнёрской программы некачественные методы рекламы, копировать сайт полностью или частично, использовать дизайн или бренд сайта https://doncashback.ru с целью введения пользователей в заблуждение. Подробнее: Правила партнерской программы.
								p 1.11. Использование персональных данных сайтом https://doncashback.ru. Пользователь, регистрируясь на сайте, добровольно даёт согласие на предоставление, хранение и обработку своих данных, на получение информации, в том числе путём E-mail рассылок, от https://doncashback.ru. ДК может собирать, хранить и обрабатывать пользовательскую информацию (cookie, data, идентификаторы), если это необходимо для обеспечения работы сайта, корректной работы партнёрской программы, а также в рекламных целях. На сайте происходит сбор данных о посетителях с помощью сервисов Гугл Аналитика и Яндекс Метрика. Все данные Пользователя хранятся на защищённых серверах и не передаются третьим лицам. В любое время Вы можете отключить передачу cookie в настройках браузера. Однако следует учесть, что в этом случае некоторые функции Сервиса могут работать некорректно.
								p 1.12. Пользователи не имеют права продавать, покупать, дарить аккаунты Сервиса и передавать данные аккаунта третьим лицам.
						.text__block#text__block4-2
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 2. ОСНОВНЫЕ ОПРЕДЕЛЕНИЯ
							.text__p
								p "Сервис" — принадлежащий ДК интерактивный программный комплекс, включающий в том числе веб-сайт https://doncashback.ru, предназначенный для использования Пользователем, в соответствии с размещёнными на нём условиями и правилами.<br />"Пользователь" — физическое или юридическое лицо, зарегистрированное в Сервисе, и, соответственно, принявшее в полном объёме и<br />безоговорочно условия настоящего Соглашения и всех иных документов, ссылки на которые приведены в настоящем Соглашении.<br />"Личный Кабинет"— персонализированный раздел Сервиса, закрытый для публичного доступа. Доступ в Личный Кабинет осуществляется посредством<br />ввода аутентификационных данных (логина и пароля) на странице входа в Сервис.<br />"Рекламная кампания, карточка товара, рекламное объявление" — сформированная и опубликованная Продавцом информация на Сервисе о продаваемом<br />товаре, включающая условия участия в Сделке.<br />"Сделка" — соглашение между Пользователями сайта на определённых<br />Рекламной кампанией условиях.<br />"Инструкция" — Связанный Документ, содержащий порядок взаимодействия Пользователей и условия Сделки, но не ограничивающийся ими.<br />"Продавец" — Пользователь Сервиса, размещающий информацию о проводимых рекламных компаниях для продвижения своего товара.<br />"Покупатель" — Пользователь Сервиса, приобретающий товар, участвующий в рекламных кампаниях, путём самостоятельного выполнения своей части<br />условий Сделки, предлагаемой Продавцом.<br />"Цена" — денежная сумма, за которую Покупатель приобретает товар Продавца в указанном Продавцом месте.<br />"Кешбэк" — Денежная сумма в рублях, подлежащая возврату Продавцом Покупателю, в случае выполнения Покупателем поставленных Продавцом условий рекламной кампании, и зафиксированная в момент подтверждения Продавцом запроса на Сделку (она же «замороженная» сумма на Депозите).<br />"Активная сделка" — сделка считается активной с момента подтверждения Продавцом запроса на покупку до завершения сделки.<br />"Закрытая/завершённая сделка" — Сделка считается закрытой / завершённой после того, как Продавец самостоятельно, вне Сервиса, совершит перевод Кешбэка Покупателю и загрузит скриншот подтверждения этого на Сервис, а Покупатель в течение 12 часов с момента получения уведомления от Сервиса подтвердит, поступление Кешбэка. Сделка с использованием купона считается завершённой после выполнений всех условий<br />рекламной кампании.<br />"Депозит" — денежные средства, временно аккумулируемые на расчётном счёте ДК, подлежащие возврату Продавцу по заявке. Заявка на вывод<br />Депозита может быть создана Продавцом в любое время и обрабатывается в течении семи рабочих дней.<br />"Замороженные денежные средства" — денежные средства, временно удержанные с Депозита Продавца, как гарантия исполнения Продавцом обязательств по возврату Кешбэка Покупателю.<br />"Размороженные денежные средства" — денежные средства, возвращённые на Депозит Продавца после закрытия сделки.<br />"Баллы" — внутренняя валюта Сервиса, обязательная для большинства Кешбэк сделок.<br />"Торговая площадка" — место, где Продавец продаёт свой товар.<br />"Спор" — ситуация, требующая вмешательства администрации Сервиса для разрешения конфликта.<br />"Мск" — московское время.
								span Интернет-проект Донкешбэк является виртуальной площадкой для размещения рекламных объявлений о продаже товаров со скидкой. Основополагающими принципами Сервиса являются:
								ul
									li Формула «win-win» — создание условий, при которых каждая Сторона получает выгоду;
									li Защита Продавца и Покупателя. Создание условий, при которых невозможно использование мошеннических схем (например, Покупатель, получив Кешбэк, возвращает товар. Или публикуются ложные предложения Кешбэка с целью понижения рейтинга товара конкурентов на торговой площадке).
								span Сервис не даёт никаких гарантий или заверений в отношении качества любых товаров или услуг, предоставленных Продавцами, не может гарантировать Продавцу отсутствие возврата товара или получение отрицательного отзыва. Все связанные риски при заключении Сделки Стороны принимают на себя.
								p Вся размещённая информация на Сервисе проходит обязательную модерацию. Модерация проводится с 8:00 до 21:00 МСК. Модератор имеет право отредактировать данные объявления или даже удалить рекламную кампанию, если она нарушает правила использования Сервиса.
						.text__block#text__block4-3
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3. Учётные записи
							.text__p
								p Сервис не запрещает Пользователю иметь аккаунт Покупателя и аккаунт <br />Продавца одновременно.
						.text__block#text__block4-4
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.1.1 Учётная запись Продавца
							.text__p
								p После создания учётной записи «Продавец» Пользователю предлагается приобрести один из пакетов услуг. Для тарифа «Лёгкий» ограничение по времени не применяется, все остальные тарифы действительны в течение 30 дней с момента активации.
								p — Пакет «Лёгкий» — покупка определённого количества Сделок для одного товара.
								p — Пакет «Стандарт» — включает в себя размещение до 5 товаров с общим количеством 250 Сделок.
								p — Пакет «Продвинутый» — включает в себя размещение до 12 товаров с общим количеством 600 Сделок.
								p — Пакет «Король маркетплейсов» — включает в себя размещение до 25 товаров с общим количеством 1250 Сделок.
								p После оплаты тарифа откроется доступ в ЛК, который включает в себя весь необходимый интерфейс для создания и проведения Сделок.
						.text__block#text__block4-5
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.1.2 Типы рекламных кампаний
							.text__p
								p На Сервисе Продавец может разместить предложения о продаже товаров, используя по своему усмотрению несколько типов рекламных кампаний — «Кешбэк без отзыва», «Кешбэк после Отзыва» и «Купон».
								ul
									li «Кешбэк без отзыва» — рекламная кампания, направленная на увеличение продаж и трафика на карточку товара. Предусматривает получение Кешбэка Покупателем.
									li «Кешбэк с отзывом» — предусматривает получение Кешбэка Покупателем после написания Покупателем отзыва. Срок возврата Кешбэка (выставляется Продавцом при создании товара) не может превышать 21 день с момента получения товара Покупателем. Устанавливая срок возврата Кешбэка менее срока возврата товара на торговой площадке, Продавец отказывается от претензий в случае осуществления возврата его товара после получения Кешбэка Покупателем.
									li «Купон» — предусматривает получение скидки на товар путём применения промокода на торговой площадке, с последующим написанием отзыва Покупателем. Данная рекламная кампания предусматривает получение Баллов внутри Сервиса, позволяющих совершать больше покупок. Подходит только для площадок, где предусмотрено создание купонов и промокодов. Для данного типа сделки не требуется пополнения Депозита.
						.text__block#text__block4-6
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.1.3 Создание рекламной кампании
							.text__p
								p Продавец самостоятельно через ЛК создаёт рекламную кампанию на Сервисе. В рекламной кампании Продавец описывает условия участия в данной рекламной кампании и предоставляет информацию о товаре, такую как: наименование, описание, цена, размер Кешбэка, изображения, ссылка на товар (по умолчанию используется только для модерации; по желанию Продавца доступна Покупателю для покупки по прямой ссылке), торговую площадку, срок возврата Кешбэка. Рекламная кампания после модерации появится на сайте в виде карточки товара, которая автоматически дублируется в Телеграмм - группе для Покупателей. <b>Продавец, публикуя на Сервисе рекламную кампанию с определёнными им условиями, соглашается, что количество желающих заключить Сделку находится в прямой зависимости от размера Кешбэка, а именно: чем выше размер Кешбэка, тем больше желающих приобрести товар.</b> <br />После получения заявки на Сделку Продавец самостоятельно управляет её ходом и контролирует выполнение условий Сделки. Для участия в Сделке Продавцу необходимо пополнить Депозит (кроме сделки с Купоном). Депозит является гарантией для Сервиса и Покупателя, что последний получит свой Кешбэк (подробнее в разделе 3.1.4.). При одобрении запроса на Сделку, на Депозите замораживаются денежные средства в размере указанного в карточке товара размера Кешбэка, и размораживаются при завершении Сделки.
						.text__block#text__block4-7
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.1.4 Депозит
							.text__p
								p Депозит необходим для предотвращения случаев неисполнения взятых Продавцом на себя обязательств перед Покупателем. Сумма пополнения Депозита и вывода с Депозита должна быть не менее 1000 рублей. Все денежные средства на Депозите доступны Продавцу для вывода, за исключением «замороженных» средств в Активных сделках.
								p Денежные средства «замораживаются» по каждой Активной сделке и «размораживаются» по завершению таковой. Денежные средства на Депозите требуются для рекламных кампаний типа «Кешбэк После Отзыва» и «Кешбэк После Доставки» (без отзыва). Для возврата частично или полностью денежных средств, внесённых Продавцом на Депозит посредством платёжной системы Тинькофф, Продавцу необходимо воспользоваться функционалом Личного Кабинета (вкладка «Депозит»). Заявка на возврат обрабатывается ДК в течении семи рабочих дней. Возврат производится ДК после обработки заявки на вывод Депозита путём полного или частичного возврата средств по операции (операциям) в сроки, установленные правилами платёжной системы Тинькофф и банка-эмитента карты Продавца, при условии выполнения обязательств в полном объёме перед Покупателями.
						.text__block#text__block4-8
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.1.5 Права и обязанности Продавца
							.text__p
								p При создании карточки товара на Сервисе Продавец обязан указывать актуальную информацию о продаваемом товаре и поддерживать её на протяжении всего времени существования рекламной кампании. Недопустимо, чтобы цена товара на торговой площадке отличалась от указанной на Сервисе. Продавец несёт ответственность перед Покупателем в размере Кешбэка (в рублях), указанного в рекламном объявлении на момент подтверждения Продавцом запроса на покупку, даже если цена на торговой площадке оказалась ниже, чем на Сервисе. Сумма Кешбэка к возврату Покупателю равна сумме, удержанной с Депозита по текущей Сделке. Продавец <br />вправе в любой момент изменить определённые условия рекламной кампании, а именно: размер Кешбэка, условия покупки (по прямой ссылке или по индивидуальной инструкции и т.д.), торговую площадку и т. д. (в этом случае карточка товара появится на Сервисе после повторной модерации).
								p Продавец имеет право остановить действие своей рекламной кампании досрочно, подтверждать или не подтверждать запросы на Сделку по своему усмотрению. Продавец имеет право при создании рекламной кампании, указать на своё усмотрение условия Сделки для Покупателя в поле «Условия сделки» (становится доступным к просмотру Покупателю только после нажатия кнопки «Условия покупки»). Для заключения Сделки Покупателю необходимо будет согласиться с условиями рекламной кампании. В случае несоблюдения Покупателем условий участия в Сделке (при наличии таковых) Продавец имеет право не возвращать Кешбэк. Если Продавец не указал условия участия в Сделке, Продавец обязуется вернуть Кешбэк Покупателю.
								span После одобрения запроса на Сделку Продавец может отменить Сделку в следующих случаях:
								ul
									li Заказ был отменён.
									li Товар был возвращён.
									li Дополнительные купоны на скидку или промокоды были использованы при <br />покупке рекламного товара.
									li Купленный товар оказался товаром не того Продавца, который проводит <br />рекламную кампанию на Сервисе.
									li Была попытка совершить мошенничество или имеет место явное системное злоупотребление.
								p  Во всех вышеперечисленных случаях Продавец обязан без промедления или форме обратной связи. Также Продавец имеет право на защиту своих интересов в рамках использования Сервиса путём отправки максимально подробной информации о возникшем Споре в службу поддержки.
						.text__block#text__block4-9
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.1.6 Реклама
							.text__p
								p Продавцу на Сервисе доступна функция показа его товара (вверху на главной странице) в одном или нескольких из 10 рекламный слотов вне зависимости от типа рекламной кампании и размера кешбэка. Стоимость одного слота 50 рублей/сутки. После выбора слота появляется возможность выбрать:
								p — какой продукт будет рекламироваться;
								p — количество дней показа рекламы.
								p Оплата производится картой после выбора слота и количества дней для показа. Товар начинает отображаться в оплаченном слоте сразу после оплаты.
						.text__block#text__block1-10
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.2.1 Учётная запись Покупателя
							.text__p
								p После создания учётной записи «Покупатель» Пользователю открывается доступ в ЛК, который даёт возможность видеть предложения Продавцов, опубликованные на Сервисе. После активации ЛК Покупатель обязуется заполнить информацию в подразделах «Мой профиль» и «Кошельки», используя оповестить администрацию Сервиса по почте support@doncashback.ru вкладку «Мои настройки». После регистрации Покупателю будет доступно 2000 Баллов (подробнее в разделе 3.2.3.). Основная масса Кешбэк Сделок требует наличия определённого количества Баллов. Количество Баллов определяется конкретным предложением Продавца, опубликованным на Сервисе.
								p На Сервисе Покупателю доступно два вида Сделок — с Купоном и с Кешбэком. Условия сделки Продавца будут доступны перед покупкой.
								ul
									li «Кешбэк» — рекламная кампания, направленная на увеличение продаж и трафика на карточку товара. Предусматривает получение Кешбэка покупателем.
									li «Купон» — условием создаваемой Продавцом рекламной кампании является также написание Покупателем отзыва. Данная рекламная кампания предусматривает получение скидки на товар путём применения промокода на торговой площадке. Предусматривает получение Баллов внутри Сервиса, позволяющих совершать больше покупок. Подходит только для площадок, где предусмотрено создание купонов и промокодов. Для данного типа сделки не требуется пополнения Депозита.
						.text__block#text__block4-11
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.2.2 Права и обязанности Покупателя
							.text__p
								p Покупатель обязан заполнить все данные о себе в разделе «Мои настройки» (необходимо в случае разрешения Споров), исключение составляет только отсутствие какого-либо способа получения Кешбэка. ФИО из подраздела «Кошельки» должно соответствовать ФИО держателя карты, используется для получения Кешбэка от нерезидентов РФ, заполняйте внимательно! В случае указания неправильных реквизитов Покупатель отказывается от претензий по возврату Кешбэка. Для участия в Сделке Покупатель должен принять условия рекламной кампании и обязуется их выполнять для получения Кешбэка. Условия рекламной кампании станут доступны при нажатии кнопки «Условия покупки». Покупатель обязуется в течение 12 часов после получения уведомления от Сервиса о возврате Кешбэка проверить поступление денежных средств по указанным Покупателем реквизитам и подтвердить на странице Сделки получение Кешбэка. Только после подтверждения Покупателем получения Кешбэка у Продавца высвобождаются Замороженные на Депозите денежные средства по этой Сделке. Покупатель имеет право на защиту своих интересов в рамках использования Сервиса путём отправки максимально подробной информации о возникшем Споре в администрацию Сервиса по почте <a href="#">support@doncashback.ru</a> или <a href="#">форме обратной связи</a>.
						.text__block#text__block4-12
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.2.3 Баллы
							.text__p
								p <b>Внутренняя валюта Сервиса Донкешбэк.</b> Баллы замораживаются в момент запроса на большинство Кешбэк Сделок и размораживаются если запрос на Сделку не подтверждён Продавцом по истечению трёх суток. При успешном завершении Сделки Баллы списываются, в любом другом случае Баллы возвращаются на счёт Покупателя. Баллы легко заработать. Для этого на Сервисе предусмотрены инструменты увеличения количества Баллов. Раздел «Больше баллов» содержит предложения Продавцов при успешном завершении Сделок, по которым Покупатель не тратит баллы, а зарабатывает. В этом случае количество Баллов к начислению будет указано на карточке товара. Так же в разделе «Мои баллы» можно получить ежедневно 30 Баллов, нажав на кнопку «Суточный бонус». За написание отзыва о купленном продукте на Сервисе Покупатель получает бонус в виде 500 Баллов, загружая информацию на Сервис о написанном отзыве на Торговой площадке, Покупатель получает еще 500 Баллов. Заполнив всю информацию в разделе «Мои настройки», Покупатель заработает 500 Баллов. Оставив своё мнение о работе Сервиса на сайте <a href="https://doncashback.ru/ru/reviews">https://doncashback.ru/ru/reviews</a>, Покупатель получает 600 Баллов.
						.text__block#text__block4-13
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3.2.4 Возврат Кешбэка
							.text__p
								p Сервис гарантирует Покупателю возврат Кешбэка только в случае выполнения Покупателем всех условий созданной Продавцом рекламной кампании. Кешбэк возвращается Покупателю Продавцом самостоятельно вне Сервиса на реквизиты, указанные Покупателем в разделе «Мои настройки», за исключением случая неисполнения Продавцом своих обязательств по Сделке (пункт 3.2. Пользовательского соглашения). Реквизиты Покупателя доступны Продавцу в процессе Сделки во всплывающем окне на этапе закрытия Сделки. Факт получения Кешбэка подтверждается Покупателем в течение 12 часов с момента получения уведомления от Сервиса. Уведомление о возврате Кешбэка отправляется Покупателю по электронной почте сразу после загрузки Продавцом на Сервис информации, подтверждающей возврат, в виде скриншота или файла. Если по истечению 12 часов от Покупателя не поступает подтверждения о поступлении Кешбэка, администрации Сервиса поступает уведомление о необходимости ручной проверки такой Сделки. При этом кнопка подтверждения поступления Кешбэка остается активной у Покупателя. Подобная проверка будет осуществляться по возможности в ближайшее время, но не позже, чем в рабочий день, следующий за днём получения уведомления администрацией.Товар считается полученным Покупателем с момента нажатия кнопки «Продукт получен» на странице Сделки в ЛК. С этого момента у Продавца есть определённое рекламным объявлением количество дней на возврат Кешбэка.
						.text__block#text__block4-14
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 4. Политикаразрешенияспоров
							.text__p
								p В случае возникновения спорных ситуаций между Пользователями спор будет разрешаться строго в соответствии с правилами использования Сервиса. Если причина возникновения спорной ситуации не упоминается в правилах, администрация Сервиса принимает решение о том, как необходимо поступить в той или иной ситуации. В любом случае администрация Сервиса настроена на разрешение Спора с максимально удобными для сторон Спора условиями.
						.text__block#text__block4-15
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 5. Партнёрская программа
							.text__p
								p На Сервисе Пользователю доступна партнёрская программа, служащая для привлечения Продавцов, со взаимовыгодным для Сторон предложением, которая позволяет каждому Пользователю Сервиса зарабатывать, получая вознаграждение (от 15% до 25% с каждой покупки пакета приглашённым Продавцом), а Продавцу на постоянной основе экономить 20% при приобретении пакетов услуг. Программа действует на всём протяжении времени пользования Сервисом. Партнёрская программа находятся во вкладке «Партнёрство» и предоставляет Пользователю уникальный промокод, который закрепляет приглашённого Продавца за поделившимся промокодом Пользователем. Промокод становится доступен для Покупателя после удачного завершения пяти сделок. Продавцу программа будет доступна после приобретения одного из пакетов («Стандарт», «Продвинутый» либо «Король маркетплейсов»).
						.text__bottom
							a(href="404.html") https://ДонКешбэк.рф/
							p.upgreiding Последнее обновление: 01 декабря 2021 года
				.page-rules__block.page-rules__block_2
					nav.page-rules__nav
						.nav__title Содержание
						ol
							li
								a(href="#text__block2-1") Общие положения
							li
								a(href="#text__block2-2") Какую информацию мы собираем
							li
								a(href="#text__block2-3") Как мы используем эту информацию
							li
								a(href="#text__block2-4") Будем ли мы передавать вашу личную информацию третьим лицам?
							li
								a(href="#text__block2-5") Какой выбор у вас есть в отношении сбора и использования вашей личной информации?
							li
								a(href="#text__block2-6") Какие меры безопасности мы принимаем для защиты вашей личной информации?
							li
								a(href="#text__block2-7") О настоящей политике
					.page-rules__text
						.text__block#text__block2-1
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 1. Общие положения
							.text__p
								p Данная Политика является <br />частью Пользовательского соглашения, принимая которое, Вы даете согласие на обработку Ваших персональных данных на условиях, указанных в Политике конфиденциальности, изложенной ниже. Настоящая Политика конфиденциальности действует в отношении персональных данных, которые Администрация и/или его аффилированные лица, могут получить о любом посетителе сайта (Далее «Пользователь» или «Вы») во время использования ими DonCashback.
								p Регистрируясь или находясь на сервисе DonCashback, Пользователь и/или посетитель сайта https://донкешбэк.рф/ (https://doncashback.ru/) выражает свое безоговорочное согласие с Политикой конфиденциальности и указанными в ней условиями обработки его персональных данных.
								p КТО ОБРАБАТЫВАЕТ ИНФОРМАЦИЮ <br />Настоящая Политика конфиденциальности применима к DonCashback, используемому компаниями (1) ООО «ДонКешбэк», учрежденной в соответствии с законодательством Российской Федерации ИНН 6166122702, КПП 616601001, ОГРН 1216100019310, с юридическим адресом: 344009 г. Ростов-на-дону, ул. Шолохова, кв. 298/4 кв. 4, и (или) (2) DonCashback LLC, учрежденной в соответствии с законодательством США за регистрационным номером 3608848, с юридическим адресом: 16192 COASTAL HIGHWAY, LEWES, DELAWARE 19958 (далее совместно именуемые «DonCashback» или «Мы»), которые получают данные от пользователей и имеют ссылку на настоящую Политику конфиденциальности. Она не применяется к веб-сайтам Администрации, которые не содержат настоящую Политику конфиденциальности и не имеют ссылок на нее, а также к веб-сайтам, имеющим собственную Политику конфиденциальности.
								p Таким образом, мы создали и внедрили настоящую Политику конфиденциальности, чтобы информировать посетителей Сайта и пользователей Функций DonCashback о том, как мы используем и защищаем информацию, которую мы собираем через Сайт и Функции DonCashback.
								p Посещая Сайт или используя любую из Функций DonCashback, вы соглашаетесь на сбор, использование, хранение, удаление и раскрытие информации, относящейся к вам, как указано в настоящей Политике конфиденциальности. Настоящая Политика конфиденциальности вступает в силу с даты, указанной ниже, и применяется только к Сайту, а не к любому другому сайту/торговой площадке, доступ к которому вы можете получить с Сайта, который может иметь свои собственные методы сбора и использования данных и политики
						.text__block#text__block2-2
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 2. Какую информацию мы собираем?
							.text__p
								p ЛИЧНАЯ ИНФОРМАЦИЯ <br />Личная информация означает информацию, которая может быть использована для идентификации и связи с вами. Вам необходимо предоставить личную информацию, чтобы получить доступ к определенным аспектам Сайта и функциям DonCashback.
								p Мы собираем личную информацию, когда вы участвуете в формах обратной связи, анкетах, конкурсах или лотереях; покупаете продукт через функции DonCashback; получаете клиентскую или техническую поддержку; используете Сайт и Функции DonCashback; регистрируете продукты через Сайт.
								span Информация, которую мы собираем, включает в себя:
								ul
									li имя
									li адрес
									li адрес электронной почты
									li номер телефона
									li идентификатор (ID) Вашего аккаунта Google.
									li продукты, которые вы приобрели
									li где вы приобрели свои продукты
								span COOKIE (КУКИ)
								p «Куки» — это небольшие фрагменты электронной информации, которые веб-сайт отправляет в браузер посетителя и которые хранятся на жестком диске посетителя. Как и многие веб-сайты, мы используем файлы cookie в определенных областях Сайта, чтобы предоставить вам информацию, которая сделает ваш онлайн-сессию более удобным. Например, когда вы возвращаетесь на Сайт после входа в систему, файлы cookie предоставляют Информацию Сайту, так что Сайт будет помнить, кто вы на последующих посещениях, ускоряя или улучшая ваш опыт использования функций DonCashback, например, адаптируя контент для вас.
								p ИНФОРМАЦИЯ ЖУРНАЛА
								p Наши серверы автоматически записывают информацию, которую ваш браузер отправляет всякий раз, когда вы посещаете Сайт. Эта информация включает в себя адрес вашего интернет-протокола, тип и версию браузера, поисковую систему, которую вы использовали для поиска функций DonCashback, если таковые имеются, какие функции DonCashback вы используете, а также когда и как долго вы их используете. Мы используем эту информацию для мониторинга и анализа того, как пользователи используют функции DonCashback, для обеспечения обслуживания клиентов, а также для поддержания и улучшения функций DonCashback
						.text__block#text__block2-3
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3. Как мы используем эту информацию
							.text__p
								p Личная информация, которую вы предоставляете нам, позволит нам выполнять любые заказы на продукты или услуги; предупреждать вас о новых продуктах или услугах, функциях или улучшениях; обрабатывать ваши вопросы или проблемы обслуживания клиентов; управлять рекламными акциями, конкурсами и лотереями; а также уведомлять вас об акциях, обновлениях или специальных предложениях, которые, по нашему мнению, могут вас заинтересовать. Мы также используем ваш адрес электронной почты и номер телефона как часть Функций DonCashback при отправке вам сообщений о функциях DonCashback и других общих объявлениях.
								p Мы отслеживаем ваше взаимодействие с нами, включая, но не ограничиваясь этим, вашу активность в рамках функций DonCashback. Мы можем использовать личную информацию, которую вы предоставляете нам, для отправки вам сообщений в ответ на ваш запрос о выполнении действий в связи с использованием вами любой из функций DonCashback. Мы также можем использовать вашу личную информацию, чтобы связаться с вами, когда это необходимо.
								p Мы можем использовать вашу личную информацию вместе с неличной информацией, которую мы собрали таким образом, чтобы конечный продукт не идентифицировал лично вас или любого другого пользователя функций DonCashback. Мы можем сделать вашу личную информацию нелично идентифицируемой либо путем объединения ее с информацией о других пользователях (агрегирования вашей личной информации с информацией о других пользователях), либо путем удаления характеристик (таких как ваше имя или адрес электронной почты), которые делают эту информацию персонально идентифицируемой. Этот процесс известен как деперсонализация вашей информации.
								p Вы предоставляете нам безвозмездное, всемирное, бессрочное, безотзывное и полностью передаваемое право и лицензию на использование вашей личной информации связанных с созданием и разработкой аналитических и статистических инструментов анализа, связанных с использованием данных клиентов, которые мы собираем при предоставлении Функций DonCashback (Аналитические данные). Мы прямо уполномочены осуществлять любое коммерческое использование Аналитических данных, включая, без ограничений, обмен Аналитическими данными с третьими лицами, при условии, что мы не продаем и иным образом не передаем от нас какую-либо часть Аналитических данных, которая лично идентифицирует пользователей Функций DonCashback.
						.text__block#text__block2-4
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 4. Будем ли мы передавать вашу личную информацию третьим лицам?
							.text__p
								p ОБМЕН ИНФОРМАЦИЕЙ <br />Мы используем вашу личную информацию для совершения транзакций, ответа на ваши запросы, доставки услуг, которые вы запрашиваете, а также отправки вам сообщений об акциях, обновлениях или специальных предложениях (которые могут быть предложены DonCashback или одним из его деловых партнеров), которые могут представлять для вас интерес. Мы также можем использовать вашу личную информацию для предоставления анализа наших пользователей в совокупности (включая Аналитические данные в соответствии с условиями настоящей Политики конфиденциальности) потенциальным партнерам и другим третьим лицам. Кроме того, мы будем делиться личной информацией, которую мы собираем от вас, при следующих обстоятельствах:
								p ЗАЩИТА ПРАВ <br />Мы будем делиться личной информацией, если у нас есть убеждение, что: (I) доступ, использование, сохранение или раскрытие такой информации разумно необходимы для удовлетворения любого применимого законодательства, регулирования, судебного процесса, такого как судебный приказ или повестка в суд, или запрос правоохранительных или государственных органов, (II) такие действия уместны для обеспечения соблюдения наших Условий использования Функций DonCashback, включая любое расследование их потенциальных нарушений, (III) такие действия необходимы для выявления, предотвращения или иного решения проблемы мошенничества., безопасности или технических проблем, связанных с Функциями DonCashback, или (IV) такие действия уместны для защиты прав, собственности или безопасности DonCashback, его сотрудников, пользователей Функций DonCashback или других лиц.
								p ПЕРЕДАЧА АКТИВОВ <br />Если мы участвуем в слиянии, приобретении или другой сделке, связанной с продажей некоторых или всех активов DonCashback, информация о пользователе, включая личную информацию, полученную от вас в результате использования вами Функций DonCashback, может быть включена в переданные активы. Если такое событие произойдет, мы будем уведомлять вас по электронной почте и/или заметным уведомлением на Сайте.
								p ПОСТАВЩИКИ УСЛУГ <br />Мы можем передавать вашу личную информацию поставщикам услуг, которых мы привлекаем для обработки информации от нашего и вашего имени. Например, мы можем сотрудничать с другими компаниями для обработки платежей за функции DonCashback. Кроме того, мы можем сотрудничать с другими компаниями для обработки, анализа и/или хранения данных, включая, но не ограничиваясь ими, Аналитические данные. Предоставляя нам услуги, эти компании могут получить доступ к вашей личной информации. В той мере, в какой это применимо, мы требуем от этих организаций соблюдения настоящей Политики конфиденциальности и соответствующих мер по безопасности.
								p ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ, КОТОРУЮ ВЫ ДОЛЖНЫ ЗНАТЬ О ТРЕТЬИХ ЛИЦАХ <br />Настоящая Политика конфиденциальности не распространяется на информационную практику сторонних веб-сайтов, связанных с данным Сайтом. Несмотря на то, что мы призываем такие третьи стороны принять и следовать своей собственной политике конфиденциальности, мы не несем ответственности за их сбор и использование вашей личной информации. Вы должны обратиться к политике конфиденциальности и заявлениям других веб-сайтов или связаться с соответствующими веб-мастерами этих веб-сайтов, чтобы получить информацию об их политике сбора, использования и раскрытия информации.
								p Когда вы нажали на логотип третьей стороны или URL-адрес, отображаемый на нашем Сайте, который связывает вас с другим веб-сайтом, наша Политика конфиденциальности больше не применяется, и вы должны прочитать политику конфиденциальности третьей стороны, чтобы понять, как ваша личная информация будет обрабатываться на их веб-сайте.
						.text__block#text__block2-5
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 5. Какой выбор у вас есть в отношении сбора и использования вашей личной информации?
							.text__p
								p КОНТРОЛЬ ВАШЕЙ ИНФОРМАЦИИ <br />Вы можете изменить или удалить любую информацию, которой вы поделились с нами, отправив нам электронное письмо. Мы действительно ведем учет прошлых покупок и периодически создаем резервные копии информации, поэтому вы не можете удалить всю информацию, которую мы сохранили, и мы можем сохранить определенную информацию для предотвращения мошенничества и для целей управления заказами.
								p ОТКАЗ ОТ ПОЛУЧЕНИЯ СООБЩЕНИЙ ОТ НАС <br />Если вы больше не хотите получать нашу рассылку новостей, электронные письма или другие объявления, вы можете отказаться от подписки, используя ссылку отказаться от подписки в нижней части наших электронных писем.
						.text__block#text__block2-6
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 6. Какие меры безопасности мы принимаем для защиты вашей личной информации?
							.text__p
								p Мы будем стремиться предотвратить несанкционированный доступ к вашей личной информации, однако, никакая передача данных через интернет, мобильное устройство или через беспроводное устройство не могут гарантировать 100%-ную безопасность. Мы будем продолжать укреплять систему безопасности по мере доступности новых технологий и методов. Мы настоятельно рекомендуем вам никому не разглашать свой пароль. Если вы забыли свой пароль, вы можете воспользоваться системой автоматического восстановления пароля или, в случае недоступности оной, мы попросим вас предоставить документ для подтверждения вашей личности и отправим вам письмо, содержащее ссылку, которая позволит вам сбросить пароль и установить новый. Пожалуйста, помните, что вы контролируете те данные, которые вы сообщаете нам при использовании DonCashback. В конечном счете вы несете ответственность за сохранение в тайне вашей личности, паролей и/или любой другой личной информации, находящейся в вашем распоряжении в процессе пользования DonCashback. Всегда будьте осторожны и ответственны в отношении вашей личной информации. Мы не несем ответственности за, и не можем контролировать использование другими лицами любой информации, которую вы предоставляете им, и вы должны соблюдать осторожность в выборе личной информации, которую вы передаете третьим лицам через DonCashback. Точно так же мы не несем ответственности за содержание личной информации или другой информации, которую вы получаете от других пользователей через DonCashback, и вы освобождаете нас от любой ответственности в связи с содержанием любой личной информации или другой информации, которую вы можете получить, пользуясь DonCashback. Мы не можем гарантировать и мы не несем никакой ответственности за проверку, точность личной информации или другой информации, предоставленной третьими лицами. Вы освобождаете нас от любой ответственности в связи с использованием подобной личной информации или иной информации о других.
								p Кроме того, мы ограничиваем доступ к личной информации сотрудникам DonCashback, независимым подрядчикам и агентам, которым необходимо знать эту информацию для разработки, эксплуатации и обслуживания функций DonCashback. Весь персонал DonCashback, имеющий доступ к этой информации, обучен обслуживанию и безопасности такой информации.
						.text__block#text__block2-7
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 7. О настоящей политике
							.text__p
								p УВЕДОМЛЕНИЕ ОБ ИЗМЕНЕНИЯХ <br />Если мы изменим нашу политику конфиденциальности, мы разместим уведомление об изменении в этом заявлении о конфиденциальности и других соответствующих местах. Мы оставляем за собой право изменять это положение о конфиденциальности в любое время, поэтому, пожалуйста, регулярно просматривайте его. Если мы вносим изменения в настоящую политику, мы можем уведомить вас об этом по электронной почте или посредством уведомления на нашей домашней странице. Настоящая Политика конфиденциальности включена в Условия пользования и положения DonCashback и подчиняется им.
								p ВОПРОСЫ? СВЯЗАТЬСЯ С НАМИ <br />Если у вас есть какие-либо вопросы о нашей политике конфиденциальности или настоящей Политике конфиденциальности, пожалуйста, свяжитесь с нами написав нам на почту support@doncashback.ru
						.text__bottom
							a(href="404.html") https://ДонКешбэк.рф/
							p.upgreiding Последнее обновление: 01 декабря 2021 года
				.page-rules__block.page-rules__block_3
					nav.page-rules__nav
						.nav__title Содержание
						ol
							li
								a(href="#text__block5-1") ОСНОВНЫЕ ОПРЕДЕЛЕНИЯ
							li
								a(href="#text__block5-2") ОБЩИЕ УСЛОВИЯ
							li
								a(href="#text__block5-3") ПРАВА И ОБЯЗАННОСТИ СТОРОН
							li
								a(href="#text__block5-4") 3. ПЛАТЕЖИ И РАСЧЁТЫ ПРИ ИСПОЛЬЗОВАНИИ СЕРВИСА
							li
								a(href="#text__block5-5") 4. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ И ПРЕКРАЩЕНИЕ ДЕЙСТВИЯ
							li
								a(href="#text__block5-6") 5. СВЯЗАННЫЕ ДОКУМЕНТЫ
							li
								a(href="#text__block5-7") 6. ОБЩИЕ ПОЛОЖЕНИЯ
							li
								a(href="#text__block5-8") 7. КОНТАКТНАЯ ИНФОРМАЦИЯ
					.page-rules__text
						.text__block
							.text__p
								p
									b Пожалуйста, внимательно изучите текст настоящего Пользовательского Соглашения
								p <b>Настоящее Пользовательское соглашение (далее — "Соглашение")</b> заключается между юридическим лицом ООО «Донкешбэк» (далее — <b>"ДК"</b>), зарегистрированным по адресу: Россия, г. Ростов-на-Дону, пр. Шолохова, д. 298/4, кв. 4, действующим на основании Устава, и лицом, успешно прошедшим полную регистрацию на сайте <a href="https://doncashback.ru">https://doncashback.ru</a> (далее — <b>"Сервис"</b>) и начавшим и/или продолжающим использование Сервиса (далее <b>"Пользователь"</b>).
								p Для целей настоящего Соглашения Пользователь и ДК далее совместно именуются <b>"Стороны"</b>, а по отдельности <b>"Сторона"</b>.
								span Настоящее Соглашение представляет собой свод общих правил и требований, регулирующих использование Сервиса Пользователем.
								p Принимая условия настоящего Соглашения, Пользователь заявляет и гарантирует, что достиг(ла)18 (восемнадцати) — летнего возраста и\или является совершеннолетним (совершеннолетней), согласно законодательству страны, гражданином (гражданкой) которого является Пользователь.
						.text__block#text__block5-1
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span ОСНОВНЫЕ ОПРЕДЕЛЕНИЯ
							.text__p
								p <b>"Сервис"</b> — принадлежащий ДК интерактивный программный комплекс, включающий в том числе веб-сайт https://doncashback.ru, предназначенный для использования Пользователем, в соответствии с размещёнными на нём условиями и правилами. 
								p <b>"Пользователь"</b> — физическое лицо, зарегистрированное в Сервисе, и, соответственно, принявшее в полном объёме и безоговорочно условия настоящего Соглашения и всех иных документов, ссылки на которые приведены в настоящем Соглашении (далее — "Связанные документы"). 
								p <b>"Личный Кабинет"</b> — персонализированный раздел Сервиса, закрытый для публичного доступа. Доступ в Личный Кабинет осуществляется посредством ввода аутентификационных данных (логина и пароля) на странице входа в Сервис. 
								p <b>"Сделка"</b> — соглашение между Пользователями сайта на определённых Рекламной кампанией условиях. 
								p <b>"Правила пользования"</b> — Связанный Документ, содержащий правила взаимодействия Пользователей через интерфейс Сервиса при Сделке, а именно 
								p пошаговое объяснение их прав и обязанностей. 
								p <b>"Кешбэк"</b> — денежная сумма в рублях, подлежащая возврату Продавцом Покупателю, в случае выполнения Покупателем поставленных Продавцом условий рекламной кампании, и зафиксированная в момент подтверждения Продавцом запроса на Сделку (она же «замороженная» сумма на Депозите).    
								p <b>"Продавец"</b> — Пользователь Сервиса, размещающий информацию о проводимых рекламных компаниях для продвижения своего товара. 
								p <b>"Покупатель"</b> — Пользователь Сервиса, приобретающий товар, участвующий в рекламных кампаниях, путём самостоятельного выполнения своей части условий Сделки, предлагаемой Продавцом.
						.text__block#text__block5-2
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 1. ОБЩИЕ УСЛОВИЯ
							.text__p
								p 1.1.Создавая Личный Кабинет в Сервисе, Пользователь соглашается выполнять и соблюдать все правила и требования настоящего Соглашения и Связанных Документов, принимает цены, условия оплаты товара и правила осуществления платежей, а ДК предоставляет Пользователю доступ к Сервису на условиях настоящего Соглашения и Связанных Документов.
								p 1.2.Ни при каких условиях Пользователю не предоставляются какие-либо имущественные интеллектуальные права в отношении Сервиса и/или его программного обеспечения.
								p 1.3.Полное описание, перечень услуг и функционала Сервиса, доступных для использования Пользователем, отображаются в Личном Кабинете Пользователя в Сервисе, а также в Связанных Документах. Все положения Связанных Документов применяются к настоящему Соглашению как если бы они были в него включены прямо или посредством ссылки.
						.text__block#text__block5-3
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 2. ПРАВА И ОБЯЗАННОСТИ СТОРОН
							.text__p
								p
									b 2.1. Пользователь имеет право:
								p 2.1.1. В любое время прекратить использование Сервиса;<br />2.1.2. Использовать функциональность Сервиса в соответствии с его целевым предназначением.
								p
									b 2.2. Пользователь обязан:
								p 2.2.1. Зарегистрироваться в Личном Кабинете в качестве Пользователя в Сервисе;<br />2.2.2. Надлежащим образом хранить логин и пароль Пользователя, необходимые для доступа к Сервис с целью защиты от несанкционированного его использования третьими лицами, а в случае подозрения о подобных случаях незамедлительно уведомлять Оператора посредством Обратной Связи;
								p
									b 2.3. ДК имеет право:
								p 2.3.1. Отказать в использовании Сервиса и заблокировать Личный Кабинет Пользователя без выплаты денежных средств в случае нарушения Пользователем любого условия настоящего Соглашения либо Связанных Документов;<br />2.3.2. С целью проверки соблюдения Пользователями условий настоящего Соглашения и Связанных Документов, ДК осуществляет контроль личной переписки Пользователей в Сервисе.
								p
									b 2.4. Гарантии и безопасность Сделок
								p 2.4.1. ДК заявляет, что обладает всеми правами, необходимыми для предоставления Пользователю возможности корректного использования Сервиса по настоящему Соглашению.<br />2.4.2 ДК гарантирует обеспечение безопасности Сделок между Пользователями при условии соблюдения Сторонами всех условий, правил и требований настоящего Соглашения и Связанных документов.
						.text__block#text__block5-4
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3. ПЛАТЕЖИ И РАСЧЁТЫ ПРИ ИСПОЛЬЗОВАНИИ СЕРВИСА
							.text__p
								p 3.1. Все оплаты (в случае необходимости) при использовании Сервиса совершаются Пользователем посредством оплаты через платежную систему банка Тинькофф.<br />3.2. Принимая условия настоящего Соглашения, Пользователь соглашается с тем, что ДК не предоставляет Пользователю никаких иных услуг, кроме оговорённых в данном Соглашении, не осуществляет никаких платежей в пользу Пользователей, за исключением случая невыполнения Продавцом<br />своих обязательств по Сделке (Возврат Кешбэка) в установленный Правилами пользования срок. В этом случае Продавец безоговорочно соглашается на передачу полномочий ДК по возврату Кешбэка Покупателю путём перечисления ДК денежных средств с депозита Продавца Покупателю, согласно указанным им банковским реквизитам. Также Продавец безоговорочно соглашается возместить ДК стоимость комиссии за перевод Кешбэка Покупателю путём перечисления соответствующей суммы с депозита продавца.<br />3.3. Пользователь принимает на себя все риски, связанные с выбранным им способом получения Кешбэка или отправки Кешбэка другим Пользователям, такие как, но не ограничиваясь: время зачисления денежных средств на банковский счёт, любые комиссии за переводы денежных средств и т. д. (за исключением условий, оговорённых в п. 3.2).<br />3.4. Пользователь самостоятельно оплачивает все налоги и сборы, которые применяются к любым денежным суммам, получаемым Пользователем посредством использования Сервиса, и соглашается, что ДК ни в коем случае не является налоговым агентом Пользователя по настоящему Соглашению или иным образом.<br />3.5. Для пополнения депозита Пользователей ДК обеспечивает наличие в Сервисе платёжной страницы. При этом Пользователь соглашается с тем, что ДК не участвует в процессе осуществления платежей, не является платёжной системой и не осуществляет процессинг платежей (за исключением случая оговоренного в п 3.2).
								p
									b 3.6. Политика возврата и перечисления денежных средств.
								p 3.6.1. Для возврата денежных средств, частично или полностью внесённых на депозит Продавцом посредством платёжной системы Тинькофф с использованием банковских карт, Продавцу необходимо воспользоваться функционалом Личного Кабинета (вкладка «Депозит»). Заявка на возврат обрабатывается ДК в течении 7 (семи) рабочих дней и производится ДК путём полного или частичного возврата средств по операции (операциям) в сроки, установленные правилами платёжной системы Тинькофф и банка-эмитента карты Пользователя, при условии выполнения в полном объёме обязательств перед Покупателями.<br />3.6.2. При наступлении случая, указанного в п. 3.2, после отправки Покупателем заявки о возврате Кешбэка на электронную почту support@doncashback.ru (составляется в свободной форме) или принятии такой заявки в другой форме (на усмотрение ДК), ДК обязуется в течение 3 (трёх) рабочих дней провести проверку Сделки и принять решение, о чём Покупатель будет оповещён в обратном письме или иным способом, если для приёма заявки использовалась иная форма (на усмотрение ДК). В рамках Политики разрешения споров при отсутствии нарушений Правил пользования Сервисом со стороны Покупателя, ДК обязуется не позже четвёртого рабочего дня при принятии положительного решения составить платёжное поручение в пользу Покупателя. Кешбэк будет зачислен, согласно указанных Покупателем реквизитов, с учётом временных рамок на обработку платёжных поручений и сроков перевода средств банка, обслуживающего расчётный счёт ДК.
						.text__block#text__block5-5
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 4. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ И ПРЕКРАЩЕНИЕ ДЕЙСТВИЯ
							.text__p
								p 4.1. Настоящее Соглашение вступает в силу в момент принятия его условий Пользователем, и продолжает действовать в полном объёме до момента прекращения использования Сервиса Пользователем.<br />4.2. Пользователь вправе прекратить доступ к Сервису и его использование по своему желанию в любое время.<br />4.3. Оператор вправе прекратить действие настоящего Соглашения в одностороннем порядке в любой момент, в том числе в случае нарушения Пользователем любого положения Соглашения, либо любого положения любого из Связанных Документов.
						.text__block#text__block5-6
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 5. СВЯЗАННЫЕ ДОКУМЕНТЫ
							.text__p
								p 5.1. Одновременно с принятием условий настоящего Соглашения и регистрацией Личного Кабинета в Сервисе Пользователь принимает условия всех документов, связанных с настоящим Соглашением, прямо регулирующих использование Сервиса, включённых в настоящее Соглашение посредством ссылки (именуемые "<b>Связанные Документы</b>"):<br />5.1.1. <b>Правила Сервиса Doncashback</b>, доступные по адресу https://doncashback.ru/ru/info/term-of-use ;<br />5.1.2. <b>Политику Конфиденциальности Сервиса Doncashback</b> доступную по адресу <a href="#">https://doncashback.ru/ru/info/term-of-use</a> ;<br />5.1.3. <b>Информация запрещенная к размещению на сайте</b> доступная по адресу https://doncashback.ru/ru/info/term-of-use ;<br />5.1.4. <b>Инструкцию по участию в рекламной кампании</b> доступная по адресу https://doncashback.ru/ru/info/term-of-use ;<br />5.2. Принимая условия настоящего Соглашения и регистрируя Личный Кабинет в Сервисе, Пользователь подтверждает, что он принимает все условия всех Связанных Документов, в том числе ответственность за нарушение их положений. Пользователь обязуется соблюдать условия и требования таких Связанных Документов в течение всего срока действия настоящего Соглашения. 5.3. Связанные Документы могут устанавливать ответственность за нарушение как их положений, так и настоящего Соглашения. Пользователь обязуется соблюдать условия, принимать ответственность и требования таких Связанных Документов в течение всего срока действия настоящего Соглашения.
						.text__block#text__block5-7
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 6. ОБЩИЕ ПОЛОЖЕНИЯ
							.text__p
								p 6.1. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством РФ.<br />6.2. Пользователи соглашаются подчиниться исключительной юрисдикции компетентных судов РФ в отношении разрешения любых правовых вопросов, возникающих из настоящего Соглашения.<br />6.3. ДК оставляет за собой право любым образом изменять настоящее Соглашение, а также устанавливать новые или дополнительные правила, политики или условия в отношении Сервиса, уведомляя или не уведомляя Пользователя об этом. Оператор вправе уведомить Пользователя о поправках, внесённых в настоящее Соглашение, выслав электронное письмо на адрес электронной почты, указанный в Личном Кабинете Пользователя, или разместив сообщение с таким уведомлением в Сервисе. Пользователь единолично несёт ответственность за регулярное ознакомление с действующей версией настоящего Соглашения. Использование Пользователем Сервиса или любой его части после того, как любые изменения в настоящем Соглашении были отражены в сообщении в Сервисе или иным образом стали доступными для ознакомления, будет считаться полным согласием Пользователя с такими изменениями. Если Пользователь не согласен с какими-либо из таких изменений, он вправе прекратить использование Сервиса.<br />6.4. Пользователь соглашается с тем, что он не считается работником, сотрудником, агентом ДК, и что Пользователь не вправе представляться таковым. 6.5. Пользователь не вправе переуступать свои права и обязанности по настоящему Соглашению полностью или частично. ДК вправе переуступить настоящее Соглашение или любые свои права и обязанности по нему без согласия Пользователя в любое время.<br />6.6. Ни при каких обстоятельствах ДК не несёт ответственность за любое неисполнение обязательств, возникающее вследствие причин, объективно не поддающихся контролю ДК, в том числе без ограничений: стихийных бедствий, войн, терроризма, восстаний, эмбарго, действий гражданских или военных властей, пожаров, наводнений, аварий, забастовок или недостатка транспортных средств, топлива, энергии, рабочей силы или материалов, а также, ДК не несёт ответственности за DDOS-атаки и (или) иные атаки на Сервис, произведённые третьими лицами, и за их последствия, за технические проблемы хостинг- провайдера, повлиявшие на работоспособность Сервиса, а также за недоступность Сервиса по любой другой причине, не связанной прямо с действиями ДК.
						.text__block#text__block5-8
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 7. КОНТАКТНАЯ ИНФОРМАЦИЯ
							.text__p
								p 7.1. Если у Пользователя возникают какие-либо комментарии или вопросы в отношении осуществления Пользователем использования Сервиса, Пользователь может обратиться к Оператору, используя следующую контактную информацию для связи с ДК: support@doncashback.ru или форма обратной связи.
								p <b>8. Реквизиты ДК</b> <br />Полное наименование: Общество с ограниченной ответственностью «ДонКешбэк»
								p ИНН 6166122702
								p КПП 616601001
								p ОГРН 1216100019310
						.text__bottom
							a(href="404.html") https://ДонКешбэк.рф/
							p.upgreiding Последнее обновление: 01 декабря 2021 года
				.page-rules__block.page-rules__block_4
					nav.page-rules__nav
						.nav__title Содержание
						ol
							li
								a(href="#text__block9-1") Создание карточки товара
							li
								a(href="#text__block9-2") Депозит
							li
								a(href="#text__block9-3") Условия участия в рекламной кампании
					.page-rules__text
						h3 Инструкция для продавца
						.text__block#text__block9-1
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 1. Создание карточки товара
							.text__p
								p 1.	Продавец может создать следующие типы рекламных кампаний:
								p •	«Кешбэк после отзыва» — Продавец отправляет денежные средства (далее — кешбэк) после написания отзыва Покупателем;
								p •	«Купоны» — Продавец размещает товар на маркетплейсе (далее — МП) с возможностью применения промо-кода со скидкой. Не все МП дают такую возможность, например на AliExpress такая возможность есть, а на Wildberries нет. Сделка предусматривает написание отзыва Покупателем;
								p •	«Кешбэк после доставки (без отзыва)» — подходит Продавцам, которым нужны выкупы без отзывов. Продавец возвращает кешбэк после получения товара Покупателем. 
								p 2.	Выбрав подходящий тип кампании, Продавец указывает условия сделки, данные о продукте, такие как: наименование, описание, цена, размер кешбэка и срок возврата (не более 21 дня со дня получения товара покупателем), изображения и т. д.
								p 3.	Срок возврата кешбэка указывает Продавец при создании карточки товара, но не более 21 календарного дня со дня получения товара Покупателем. Рекомендуем указывать минимально возможный срок, но не менее срока возврата товара, так как чем быстрее Продавец вернёт кешбэк, тем быстрее разморозятся средства на депозите и тем меньше денег понадобится использовать в обороте для Сделок.
						.text__block#text__block9-2
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 2. Депозит
							.text__p
								p 1.	Для подтверждения запроса у Продавца есть 72 часа. Для Сделки с кешбэком на депозите должна находиться сумма, эквивалентная размеру кешбэка. Для этого Продавцу необходимо пополнить депозит (подробнее читайте в Правилах пользования п 2.1.4. и п. 3). 
								p 2.	Возврат кешбэка за покупку производится самим Продавцом, согласно реквизитам, указанных Покупателем (реквизиты доступны на этапе завершения Сделки после нажатия кнопки «Оформить кешбэк»). Сделка проходит строго в рамках указанных Продавцом условий. Карточка товара появится на сайте после модерации, при этом информация продублируется в Телеграмм-группе для Покупателей.
								p 3.	Необходимо поддерживать информацию о товаре актуальной (цена, условия и т.д.), оставлять чёткие понятные инструкции и условия, чтобы не вводить в заблуждение Покупателя. За нарушение правил использования Сервиса Продавцу будет сделано предупреждение, за серьёзное нарушение последует бан без возврата денежных средств. Пожалуйста, будьте внимательны и ответственны, не нарушайте правила сервиса! Подробнее здесь «Правила пользования».
						h3 Инструкция для покупателя
						.text__block#text__block9-3
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3. Условия участия в рекламной кампании
							.text__p
								p 1.	Отправляя запрос на покупку, Вы подтверждаете, что ознакомились и согласны с условиями Продавца на участие в рекламной кампании. С условиями конкретной рекламной кампании Вы сможете ознакомиться перед отправкой запроса на покупку товара участвующего в рекламной кампании.
								p 2.	Отправьте запрос на покупку. После подтверждения запроса Продавцом Вам на E-mail придёт уведомление. У Вас будет 26 часов, чтобы совершить покупку и загрузить информацию о заказе на Сервис, а именно:
								p •	номер заказа;
								p •	скриншот оплаченной покупки.
								p •	Если Вы не загрузите информацию о покупке в течение отведённого времени, сделка будет автоматически закрыта как несостоявшаяся.
								p 3.	Для покупки перейдите на МП, где продаётся выбранный товар. Покупателю может быть доступна прямая ссылка или инструкция по поиску товара на МП. В любом случае мы рекомендуем находить товар через поиск по названию товара, ключевым словам или по названию самого бренда (наименование Продавца). При покупке обязательно обратите внимание, соответствует ли цена, заявленная Продавцом цене на МП, если меньше — радуемся, если больше, то обязательно сообщите нам в поддержку! Не применяйте какие-либо скидки и промо-коды, не относящиеся к Сделке, в противном случае Сделка будет считаться недействительной!
								p 4.	После получения товара на руки необходимо подтвердить получение нажав кнопку «товар получен» на индивидуальной странице сделки. Первый отзыв пишется и остается на сайте https://doncashback.ru. Если в условиях рекламной кампании Продавца есть требование оставить отзыв, продублируйте отзыв на МП в соответствии с условиями сделки и прикрепите скриншот своего отзыва.
								p 5.	Возврат кешбэка за покупку производится самим Продавцом, согласно  указанных Вами реквизитов в Личном Кабинете. У Продавца есть определенное рекламной кампанией количество дней на возврат кешбэка со дня получения Вами товара, даже если товар из категории «не подлежащих возврату», но не более 21 дня. 
								p 6.	Любая Сделка делится на определённые шаги. Каждый шаг имеет определённый статус. Вся необходимая информация, в том числе чат с Продавцом, доступны в ЛК на индивидуальной странице сделки. 
								p 7.	На сайте https://doncashback.ru реализована система баллов, где один балл = один рубль. Как правило для участия в сделке Покупателю необходимо иметь на счету эквивалентное кешбэку количество баллов. В разделе «БОЛЬШЕ БАЛЛОВ» Вы сможете найти Сделки, которые «приносят»/добавляют баллы. Также баллы легко заработать, подробнее смотрите в разделе «Мои баллы».
								p За нарушение правил использования нашего Сервиса, Вам будет сделано предупреждение, за серьёзное нарушение последует немедленный бан. Пожалуйста, будьте внимательны и ответственны, не нарушайте правила сервиса! Подробнее здесь «Правила пользования».
						.text__bottom
							a(href="404.html") https://ДонКешбэк.рф/
							p.upgreiding Последнее обновление: 01 декабря 2021 года
				.page-rules__block.page-rules__block_5
					nav.page-rules__nav
						.nav__title Содержание
						ol
							li
								a(href="#text__block6-1") Товары и услуги, нарушающие ФЗ “О рекламе”, в том числе:
							li
								a(href="#text__block6-2") Недобросовестная конкуренция и некорректное использование слов в превосходной степени в описании услуг.
							li
								a(href="#text__block6-3") Услуги, нарушающие интеллектуальные и авторские права, включая:
							li
								a(href="#text__block6-4") Услуги, нарушающие права третьих лиц. В том числе:
							li
								a(href="#text__block6-5") Дискредитирующие других лиц. Услуги или материалы, способствующие возбуждению ненависти либо вражды, разжиганию религиозной, расовой или межнациональной розни, политические призывы, призывы к насилию.
							li
								a(href="#text__block6-6") Услуги, связанные с экстремистскими материалами и предметами с нацистской символикой.
							li
								a(href="#text__block6-7") Другие запрещённые законодательством товары и услуги.
					.page-rules__text
						.text__block#text__block6-1
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 1. Товары и услуги, нарушающие ФЗ “О рекламе”, в том числе:
							.text__p
								p 1.1. Табак, табачные изделия (в том числе предназначенные для употребления путём нагревания или испарения), курительные принадлежности (в том числе электронные сигареты, электронные системы доставки никотина, устройства для нагревания табака или никотиносодержащих жидкостей, вейпы и расходные материалы к ним, трубки, любые кальяны, сигаретная бумага) и любые курительные смеси.
								p 1.2. Любая алкогольная продукция.
								p 1.3. Наркотические средства и психотропные вещества, их производные, а также любые изделия для их употребления.
								p 1.4. Игра на бирже, операции с ценными бумагами, криптовалюты, Форекс:
								p — бинарные опционы, Форекс (в том числе оборудование, консультирование, обучение);
								p — ценные бумаги и криптовалюты (в том числе продажа, консультирование, обучение);
								p — финансовые и товарные пирамиды, сомнительные способы получения дохода или товаров, а также связанное с ними обучение.
								p 1.5. Психотерапевтическая и медицинская помощь, в т. ч. народная медицина: — лечение, расшифровка анализов и составление рецептов;
								p — назначение препаратов и БАДов;
								p — консультирование по заболеваниям;
								p — составление и продажа плана тренировок и питания в лечебных целях;
								p — продажа, реклама и описание применения медицинских препаратов и БАДов, лекарственного сырья и аппаратов для лечения.
								p 1.6. Взрывчатые вещества и материалы, оружие (в том числе охотничье, пневматическое, гражданское, страйкбольное, пейнтбольное, сувенирное и декоративное), комплектующие изделия к нему, его копии; ножи, за исключением кухонных, перочинных и канцелярских.
								p 1.7. Товары и услуги для взрослых (18+) (в том числе заказ услуг для магазинов и сайтов 18+ и поиск и предложений работы в этой сфере).
								p 1.8. Азартные игры, ставки и прогнозы на спорт, лотереи, игры, основанные на риске или пари, в том числе оборудование для их проведения.
								p 1.9. Подготовка и написание выпускных квалификационных работ, научных докладов об основных результатах подготовленных научно-квалификационных работ (диссертаций) и иных работ, предусмотренных государственной системой научной аттестации или необходимых для прохождения обучающимися промежуточной или итоговой аттестации. Прохождение тестов, сдача экзаменов за третьих лиц.
						.text__block#text__block6-2
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 2. недобросовестная конкуренция и некорректное использование слов в превосходной степени в описании услуг.
							.text__p
						.text__block#text__block6-3
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 3. Услуги, нарушающие интеллектуальные и авторские права, включая:
							.text__p
								p — незаконное использование товарных знаков;
								p — услуги, нарушающие условия использования и распространения контента.
						.text__block#text__block6-4
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 4. Услуги, нарушающие права третьих лиц. В том числе:
							.text__p
								p — нарушающие права граждан на частную жизнь или публичный порядок;
								p — нарушающие морально-этические нормы, носящие характер непристойности;
								p — нарушающие честь и достоинство, права и охраняемые законом интересы других лиц.
								p — услуги сбора и передачи информации, запрещенной к распространению, в том числе персональные данные.
								p — создание и распространение устройств и программ шифрования, технические средства, предназначенные для прослушивания и другого негласного получения информации, а также сопутствующие документы.
						.text__block#text__block6-5
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 5. дискредитирующие других лиц. Услуги или материалы, способствующие возбуждению ненависти либо вражды, разжиганию религиозной, расовой или межнациональной розни, политические призывы, призывы к насилию.
							.text__p
						.text__block#text__block6-6
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 6. Услуги, связанные с экстремистскими материалами и предметами с нацистской символикой.
							.text__p
						.text__block#text__block6-7
							.text__title
								img(src="img/svg/arrows1.svg" alt="Arrows")
								span 7. Другие запрещённые законодательством товары и услуги.
							.text__p
								
						.text__bottom
							a(href="404.html") https://ДонКешбэк.рф/
							p.upgreiding Последнее обновление: 01 декабря 2021 года
			
			


	include includes/footer.pug



























	