extends includes/header.pug

block content

	main.page-scores
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Мои Баллы
			main
				section.page-scores__section
					.page-scores__block
						.page-scores__title
							h3 Мои Баллы
						.page-scores__sides
							.page-scores__item
								.item__top
									img(src="img/svg/scores.svg" alt="Scores")
									span 2758
								.item__bottom
									span Доступно
									.quest
										img(src="img/svg/q.svg" alt="question")
										.smile__block «Доступные баллы» означает, что в настоящее время эти баллы можно использовать для покупки продуктов. Срок действия баллов истечет, если вы не войдете в систему в течение 10 дней (за исключением купленных баллов).
							.page-scores__item
								.item__top
									img(src="img/svg/scores.svg" alt="Scores")
									span 2758
								.item__bottom
									span Замороженные Баллы
									.quest
										img(src="img/svg/q.svg" alt="question")
										.smile__block «Доступные баллы» означает, что в настоящее время эти баллы можно использовать для покупки продуктов. Срок действия баллов истечет, если вы не войдете в систему в течение 10 дней (за исключением купленных баллов).
					.page-scores__block
						.page-scores__title
							h3 Заработанные Баллы
							a(href="#whatScores") Что такое баллы?
						.page-scores__sides
							.page-scores__item
								.item__top
									span +0
								.item__bottom
									span Суточный  Бонус
							.page-scores__item
								.item__top
									span +14
								.item__bottom
									span Написание Отзывов
							.page-scores__item
								.item__top
									span +0
								.item__bottom
									span Приглашение друзей
							.page-scores__item
								.item__top
									span +0
								.item__bottom
									span Зарегистрированные друзья
				section.page-scores__info
					.page-scores__title
						h3 Как получить баллы?
					.info__block
						.info__item
							.item__top
								h4 Суточный бонус
								img(src="img/svg/hs-1.svg" alt="Ico")
							p Получайте 30 баллов ежедневно
							a(href="404.html") Получить
						.info__item
							.item__top
								h4 Покупка Баллов
								img(src="img/svg/hs-2.svg" alt="Ico")
							p Вы можете приобрести Баллы
							a(href="404.html") Получить
						.info__item
							.item__top
								h4 Данные профиля
								img(src="img/svg/hs-3.svg" alt="Ico")
							p Заполнив данные профиля Ваш счёт пополнится на 500 баллов
							a(href="404.html") Заполнить
						.info__item
							.item__top
								h4 Написание отзыва
								img(src="img/svg/hs-4.svg" alt="Ico")
							p 500 баллов за ссылку или скриншот отзыва на маркетплейсе
							//- a(href="404.html") Получить
						.info__item
							.item__top
								h4 Поделитесь отзывом на Маркетплейсе
								img(src="img/svg/hs-5.svg" alt="Ico")
							p Делитесь Отзывом на Маркетплейсе
							
						.info__item
							.item__top
								h4 Информация о профилях Маркетплейсов
								img(src="img/svg/hs-6.svg" alt="Ico")
							p Заполнив информацию, получите дополнительно 500 баллов
							a(href="404.html") Отправить
						.info__item
							.item__top
								h4 Отзыв о сервисе ДонКешбэк
								img(src="img/svg/hs-7.svg" alt="Ico")
							p 500 баллов после модерации за каждый написанный отзыв о продукте
							a(href="404.html") Написать отзыв
						.info__item
							.item__top
								h4 Приглашение Друзей
								img(src="img/svg/hs-8.svg" alt="Ico")
							p 2000 баллов за каждого друга, кто сделает заказ
							a(href="404.html") Создать ссылку
				section.page-scores__text#whatScores
					.page-scores__title
						h3 Мои Баллы
					h4 Вопрос №1: Что такое баллы? Как мне ими пользоваться?
					p <b>Ответ:</b> Чтобы иметь возможность приобрести любой продукт и получить Кешбэк в DonCashback, требуется определенное количество баллов. <br />Без баллов вы не сможете получить квоту на покупку какого-либо продукта с Кешбэком, кроме продуктов в раздале «Больше Баллов». Но, количество баллов увеличивается, если это покупка продуктов с купонами.
					h4 Вопрос №2: Имеют ли баллы срок использования/жизни?
					p <b>Ответ:</b> Баллы имеют срок годности и действительны в течение 10 дней. Ваши баллы будут аннулированы, если вы не входили в систему DonCashback <br />более 10 дней подряд (за исключением купленных баллов, такие баллы остаются навсегда, их можно найти по ссылке <a href="404.html">Покупка Баллов</a>)



	include includes/footer.pug



























	