extends includes/header.pug

block content

	main.page-tarifs
		.wrapper
			#breadcrumbs
				a(href="404.html")
					img(src="img/svg/ico22.svg" alt="ico")
				span Мои Баллы
			main
				h2 Внутрення валюта сервиса ДонКешбэк
				.page-tarifs__block
					.page-tarifs__tarif
						.tarif__type Light
						.tarif__count 2000
						.tarif__score
							span Баллы
							img(src="img/p.png" alt="P" width="20")
						p.tarif__text Когда немного не хватает перед покупкой
						button.tarif__button Купить
						.tarif__price
							span 197 ₽
							strike 197 ₽
					.page-tarifs__tarif
						.tarif__type Standart
						.tarif__count 2000
						.tarif__score
							span Баллы
							img(src="img/p.png" alt="P" width="20")
						p.tarif__text Когда Вы хотите купить что-нибудь дополнительно
						button.tarif__button Купить
						.tarif__price
							span 197 ₽
							strike 197 ₽
					.page-tarifs__tarif
						.tarif__type Platinum
						.tarif__count 20000
						.tarif__score
							span Баллы
							img(src="img/p.png" alt="P" width="20")
						p.tarif__text Предложение для любителей «Пошопится»
						button.tarif__button Купить
						.tarif__price
							span 9999 ₽
							strike 4999 ₽
					.page-tarifs__tarif
						.tarif__type Elite
						.tarif__count Unlimited
						.tarif__score
							span Баллы
							img(src="img/p.png" alt="P" width="20")
						p.tarif__text Когда Вы понимаете всю «прелесть» сервиса DonCashback
						button.tarif__button Купить
						.tarif__price
							span 16999 ₽
							strike 7999 ₽



	include includes/footer.pug



























	